In [3]:
import numpy as np
import pandas as pd
import re
import string

import nltk
from nltk import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [4]:
df = pd.read_csv("datasets/newdf.csv")

df.head()

,id,product_category_id,name,description,brand,Model
0,1,1,HUAWEI,"Screen Size\t:\t7.12"" (1080 x 2244) Camera\t:\...",HUAWEI,HUAWEI ENJOY MAX
1,2,10,Duranta,This bicycle has a strong steel frame. Its bra...,Duranta,Duranta Super Sports Bicycle
2,19,20,Cadillac,"Basic: 4 Years / 50000 Miles, Corrosion: 4 Yea...",Cadillac,Cadillac Escalade ESV
3,20,20,Aston Martin,"3 Years / Unlimited Miles Basic, 10 Years / Un...",Aston Martin,Aston Martin DB11 V8
4,21,19,Nike,you can buy the Gym Bag Traveling Bag NIKE Onl...,Nike,Gym bag

In [5]:
df.product_category_id.info()

<class 'pandas.core.series.Series'>
RangeIndex: 153 entries, 0 to 152
Series name: product_category_id
Non-Null Count  Dtype
--------------  -----
153 non-null    int64
dtypes: int64(1)
memory usage: 1.3 KB

In [6]:
dic_category = {1: 'phone', 2: 'cosmetics', 3: 'computer accessories', 4: 'educational',
               5: 'jewelry', 6: 'wallet', 8: 'toys', 9: 'light', 10: 'cycle', 11: 'cloths',
               12: 'laptop', 13: 'watch', 14: 'chair', 15: 'television', 16:'fan', 17: 'tools',
               18: 'musical instrument', 19: 'bag', 20: 'car', 21:'house items', 22:'electronics'}

dic_category

{1: 'phone',
 2: 'cosmetics',
 3: 'computer accessories',
 4: 'educational',
 5: 'jewelry',
 6: 'wallet',
 8: 'toys',
 9: 'light',
 10: 'cycle',
 11: 'cloths',
 12: 'laptop',
 13: 'watch',
 14: 'chair',
 15: 'television',
 16: 'fan',
 17: 'tools',
 18: 'musical instrument',
 19: 'bag',
 20: 'car',
 21: 'house items',
 22: 'electronics'}

In [7]:
dic_category.values()

dict_values(['phone', 'cosmetics', 'computer accessories', 'educational', 'jewelry', 'wallet', 'toys', 'light', 'cycle', 'cloths', 'laptop', 'watch', 'chair', 'television', 'fan', 'tools', 'musical instrument', 'bag', 'car', 'house items', 'electronics'])

In [8]:
# Add category column

df['categoryName'] = df['product_category_id'].map(dic_category)

df.head()

,id,product_category_id,name,description,brand,Model,categoryName
0,1,1,HUAWEI,"Screen Size\t:\t7.12"" (1080 x 2244) Camera\t:\...",HUAWEI,HUAWEI ENJOY MAX,phone
1,2,10,Duranta,This bicycle has a strong steel frame. Its bra...,Duranta,Duranta Super Sports Bicycle,cycle
2,19,20,Cadillac,"Basic: 4 Years / 50000 Miles, Corrosion: 4 Yea...",Cadillac,Cadillac Escalade ESV,car
3,20,20,Aston Martin,"3 Years / Unlimited Miles Basic, 10 Years / Un...",Aston Martin,Aston Martin DB11 V8,car
4,21,19,Nike,you can buy the Gym Bag Traveling Bag NIKE Onl...,Nike,Gym bag,bag

## EDA

In [9]:
# Check null values

df.isnull().sum()

id                     0
product_category_id    0
name                   0
description            0
brand                  0
Model                  0
categoryName           0
dtype: int64

In [10]:
# Check duplicate value

df.duplicated().sum()

0

In [11]:
# Shape
df.shape

(153, 7)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   153 non-null    int64
 1   product_category_id  153 non-null    int64
 2   name                 153 non-null    object
 3   description          153 non-null    object
 4   brand                153 non-null    object
 5   Model                153 non-null    object
 6   categoryName         153 non-null    object
dtypes: int64(2), object(5)
memory usage: 8.5+ KB

In [13]:
type(df.loc[0, 'description'])

str

In [14]:
print(df.product_category_id.value_counts(ascending=True))

print("the lenght: ", len(df.product_category_id.value_counts(ascending=True)))

2      2
14     3
16     3
10     4
21     5
19     5
12     5
4      5
9      5
18     6
15     7
13     9
8     10
6     10
20    10
1     10
5     12
22    13
11    14
3     15
Name: product_category_id, dtype: int64
the lenght:  20

In [15]:
# The values count in categories name column

df.categoryName.value_counts(ascending=True)

cosmetics                2
chair                    3
fan                      3
cycle                    4
house items              5
bag                      5
laptop                   5
educational              5
light                    5
musical instrument       6
television               7
watch                    9
toys                    10
wallet                  10
car                     10
phone                   10
jewelry                 12
electronics             13
cloths                  14
computer accessories    15
Name: categoryName, dtype: int64

In [16]:
# Created a groupby objects

all_group = df.groupby(by='categoryName')

In [17]:
# tolist() function make an array into list

all_category_name = df.categoryName.unique().tolist()
print(all_category_name)
print("the length: ", len(all_category_name))

['phone', 'cycle', 'car', 'bag', 'cosmetics', 'cloths', 'television', 'fan', 'computer accessories', 'musical instrument', 'watch', 'light', 'toys', 'educational', 'jewelry', 'wallet', 'laptop', 'house items', 'electronics', 'chair']
the length:  20

In [18]:
# for productName,data in all_group:
#     print(productName)
#     print(data)

In [19]:
all_group.get_group(name="computer accessories")

,id,product_category_id,name,description,brand,Model,categoryName
40,73,3,Asus PC,Processor Type : Intel Corei5-7400 Processor S...,Asus,Asus A4321UKH Core i5 7th Gen All-In-One PC,computer accessories
41,74,3,Dell PC,Desktop Type : Gaming PC Processor Type : Inte...,Dell,Dell Vostro 3668 Core i5 1TB HDD,computer accessories
42,75,3,HP PC,Processor Type : Intel Core i3-8100T 8th Gener...,HP,HP ProOne 400 G4,computer accessories
43,76,3,Apple iMac PC,Processor\tQuad Core Intel Core i5 Processor c...,Apple,Apple iMac,computer accessories
44,77,3,walton Desktop PC,WDPC740010 - Intel B250 Express Chipset - Inte...,walton,walton Desktop PC WDPC740010 Full specifications,computer accessories
136,170,3,Standard Backup Online UPS,Capacity: 3000VA Ranged Voltage: 220/230/240Va...,MaxGreen,MGO-W3KS 3KVA,computer accessories
140,174,3,Microsoft Windows 10 Professional DVD,Processor: 1GHz or faster RAM: 2 GB for 64-bit...,Microsoft,Eng INTL 1PK DSP,computer accessories
144,178,3,Intel Core i3-2120 2nd Gen Processor,Clock Speed: 3.30 GHz Cache: 3 MB Intel Smart ...,intel,Core i3,computer accessories
145,179,3,CPU Liquid Cooler,High-Class Radiator Fans for Better Cooling Pe...,ZADAK SPARK,Lite ARGB 240mn,computer accessories
146,180,3,Non Modular Power Supply,Guaranteed 650W Continuous Power 80 PLUS certi...,Antec,VP650 Plus 650W,computer accessories
147,181,3,Diamond Storm Pro RGB Gaming Casing,Supports EATX to Mini-ITX form factors 3 x 120...,Redragon,Storm CA903 Pro RGB,computer accessories
148,182,3,Multifunction Mono Laser Photocopier,Print and Copy Speed: 22 ppm (Black) Duplex pr...,HP,MFP M438dn,computer accessories
149,183,3,Document Scanner,Speed:45 ppm in B&W Resolution: 600 x 600dpi C...,Canon,DR-C240,computer accessories
151,185,3,Gigabit Smart Managed Switch,Support 2 x 10/100/1000 Base-T/SFP Combo Slots...,D-Link,DES-1210-52 48 Port,computer accessories
152,186,3,Apple Magic Mouse,Wireless and rechargeable Multi-Touch surface ...,Apple,MK2E3AM/A,computer accessories

In [20]:
all_group.get_group(name="cloths")

,id,product_category_id,name,description,brand,Model,categoryName
9,26,11,Hijab,Product color may slightly vary due to photogr...,FASHION CAPITAL,Hijab 3 Pieces Combo Pack PS06.,cloths
100,133,11,Semi Fitted Panjabi,Comfortable to ware,Le Reve,Semi Fitted Panjabi,cloths
101,135,11,children dress,Magenta & White Floral A-Line Cotton Dress wit...,pspeaches,pspeaches,cloths
102,136,11,SILK READYMADE LEHENGA,Lehenga Choli Fabric Satin With Ambroidery Wor...,White Button,LEHENGA CHOLI FOR KIDS,cloths
103,137,11,TRADITIONAL DESIGNER SILK SAREE,Real Traditional silk saree with unistice blouse,Mirraw,WOVEN TRADITIONAL DESIGNER SILK SAREE,cloths
104,138,11,MAITHILI SILK SAREE,BLUE SOFT MAITHILI SILK SAREE WITH BLOUSE PIECE,Mirraw,BLUE SOFT MAITHILI SILK SAREE WITH BLOUSE PIECE,cloths
105,139,11,HANDWOVEN SILK SAREES,MAHATI GREEN HANDWOVEN SILK SAREES WITH BLOUSE,Mirraw,MAHATI GREEN HANDWOVEN SILK SAREES WITH BLOUSE,cloths
106,140,11,COTTON WOVEN SAREE,BLUE COTTON WOVEN SAREE WITH BLOUSE,Mirraw,BLUE COTTON WOVEN SAREE WITH BLOUSE,cloths
107,141,11,EMBROIDERY LEHENGA,DESIGNER EMBROIDERY LEHENGA CHOLI,Mirraw,DESIGNER EMBROIDERY LEHENGA CHOLI,cloths
108,142,11,FLORAL WEDDING LEHENGA,STUNNING ORGANZA ZARI AND SEQUINS WORK FLORAL...,Mirraw,STUNNING ORGANZA ZARI AND SEQUINS WORK FLORAL ...,cloths
109,143,11,EMBROIDERED NET SEMI STITCHED BRIDAL LEHENGA,MUSTARD YELLOW THREAD AND SEQUINS EMBROIDERED ...,Mirraw,MUSTARD YELLOW THREAD AND SEQUINS EMBROIDERED ...,cloths
110,144,11,SEMI STITCHED PARTY WEAR LEHENGA,SHUBHKALA CHARMING TEAL GREEN THREAD AND SEQUI...,Mirraw,SHUBHKALA CHARMING TEAL GREEN THREAD AND SEQUI...,cloths
111,145,11,PRINTED RAYON KURTA-SETS,"Color: Kurta : Teal Blue, Palazzo :Teal Blue |...",Mirraw,TEAL-BLUE PRINTED RAYON KURTA-SETS,cloths
112,146,11,EMBROIDERED-KURTIS,This Spectacular Dress From Kvsfab Will Give Y...,Mirraw,OLIVE GREEN EMBROIDERED GEORGETTE EMBROIDERED-...,cloths

In [21]:
all_group.get_group(name="jewelry")

,id,product_category_id,name,description,brand,Model,categoryName
80,113,5,2pcs-bangles-100-101,Karat:\t21k,2pcs-bangles-100-101,2pcs-bangles-100-101,jewelry
81,114,5,nosepin,8 white diamond and 1 green diamond,Alamin,nosepin,jewelry
82,115,5,ring,Karat:\t22k,Alamin,ring,jewelry
83,116,5,earring,Karat:\t22k,Alamin,earring,jewelry
84,117,5,Brislet,Karat:\t21k,Alamin,Brislet,jewelry
85,118,5,shitahar,Karat:\t21k,Alamin,shitahar,jewelry
86,119,5,silaring,Karat:\t22k,Alamin,silaring,jewelry
87,120,5,tikli,Karat:\t21k,Alamin,tikli,jewelry
88,121,5,kanthohar,Karat:\t21k,Alamin,kanthohar,jewelry
89,122,5,necklace,Karat:\t21k,Alamin,necklace,jewelry
113,147,5,GOLD CHOKERS,This Beautiful Jewellery Set Comes With Earrin...,Mirraw,I Jewels,jewelry
114,148,5,AFGHANI OXIDISED SILVER JEWELLERY,"Modern, Yet Ethnic Looks Genuine German Oxidiz...",Mad Club,AFGHANI OXIDISED SILVER JEWELLERY STYLISH ANTI...,jewelry

In [22]:
all_group.get_group(name="phone")

,id,product_category_id,name,description,brand,Model,categoryName
0,1,1,HUAWEI,"Screen Size\t:\t7.12"" (1080 x 2244) Camera\t:\...",HUAWEI,HUAWEI ENJOY MAX,phone
16,34,1,Motorola Moto,Battery\t Type and Capacity\tLithium-polymer 5...,Motorola Moto,Motorola Moto G30,phone
19,37,1,Redmi,"OS\tAndroid 10, MIUI 12 Chipset\tQualcomm SM71...",Xiaomi,Xiaomi Redmi Note 9 Pro Max,phone
21,44,1,Realme,Display\t6.62 inches\t Primary Camera\t64 MP (...,Realme,Realme GT Neo 2,phone
23,47,1,Vivo,microSDXC (dedicated slot) Internal\t128GB 8GB...,Vivo,vivo V20,phone
24,49,1,Nokia,"4 MB RAM, 4 MB Internal storage, Single SIM",Nokia,Nokia 105,phone
26,54,1,iPhone,"Face ID, accelerometer, gyro, proximity, compa...",Apple,Apple iPhone 12 Pro Max,phone
28,57,1,Oppo,"Li-Po 4015 mAh, non-removable Charging\tFast c...",Oppo,Oppo F17 Pro,phone
29,59,1,OnePlus,"Single SIM (Nano-SIM) or Dual SIM (Nano-SIM, d...",OnePlus,OnePlus 9 Pro,phone
31,64,1,Samsung,"128GB 8GB RAM , 32-bit/384kHz audio",Samsung,Samsung Galaxy S20,phone

In [23]:
all_group.get_group(name="car")

,id,product_category_id,name,description,brand,Model,categoryName
2,19,20,Cadillac,"Basic: 4 Years / 50000 Miles, Corrosion: 4 Yea...",Cadillac,Cadillac Escalade ESV,car
3,20,20,Aston Martin,"3 Years / Unlimited Miles Basic, 10 Years / Un...",Aston Martin,Aston Martin DB11 V8,car
17,35,20,Tesla,Tesla All-Wheel Drive has two ultra-responsive,Tesla,Model Y,car
18,36,20,Datsun,Cylinders 3 Cylinders Inline Valves 4 Valves/C...,Datsun,Datsun redi-GO,car
20,43,20,Toyota,Engine\t:4Cylinder/2487cc Transmission(Gear)\t...,TOYOTA,TOYOTA RAV4 HYBRID AWD,car
22,45,20,Black Panther,the Lexus LC 500 is not your ordinary car. It ...,Black Panther,Lexus LC 500,car
25,53,20,Hyundai,Engine\t: 1368 cc Transmission(Gear)\t: 6-Spee...,Hyundai,Hyundai,car
27,55,20,BMW,The compact SUV can be had in two trims: Sport...,BMW,BMW X1,car
30,63,20,Ferrari,"Displacement (Cc)3,902 cc / 238.1 cu inEngine ...",Ferrari,Ferrari 488 GT3 Evo,car
32,65,20,X corolla,Drive TypeFront Wheel DriveGear BoxAutomaticSt...,X Corolla,Toyota Corolla x,car

In [24]:
all_group.get_group(name="wallet")

,id,product_category_id,name,description,brand,Model,categoryName
90,123,6,Genuine Leather Wallet,Made from 100% Genuine Leather Size : Height:...,Genuine Leather Wallet,RA94C ORAS Genuine Leather Wallet for Men,wallet
91,124,6,Crocodile Texture Genuine Leather,Made from Premium Genuine Leather 1 Year Leath...,Crocodile Texture Genuine Leather,RA87C ORAS Crocodile Texture Genuine Leather W...,wallet
92,125,6,ORAS Genuine Leather Wallet,Made from 100% Genuine Leather,ORAS Genuine Leather Wallet,RA86K ORAS Genuine Leather Wallet for Men,wallet
93,126,6,Jeep Genuine Leather Wallet,100% Genuine Leather Wallet. 1Year Leather War...,Jeep,RA79N Jeep Genuine Leather Wallet for Men,wallet
94,127,6,ORAS Genuine Leather Wallet,100% Genuine Leather Wallet. 1 Year Leather Wa...,ORAS,RA68C ORAS Genuine Leather Wallet for Men,wallet
95,128,6,RA38N ORAS Genuine Leather Wallet for Men,Made from 100% Genuine Leather 1 Year Leather ...,RA38N ORAS Genuine Leather Wallet for Men,RA38N ORAS Genuine Leather Wallet for Men,wallet
96,129,6,Key Wallet,100% Genuine Leather Wallet. Original ORAS Bra...,ORAS,RA99C ORAS Genuine Leather Key Wallet,wallet
97,130,6,Multi-Function Business Travel Wallet,Made from Genuine Leather 1 Year Leather Warranty,ORAS,RA43K ORAS Genuine Leather Multi-Function Busi...,wallet
98,131,6,ORAS Genuine Leather Key Wallet,Made From Genuine Leather 1 Year Leather Warranty,ORAS,ORAS Genuine Leather Key Wallet,wallet
99,132,6,Ladies Purse,Made from Premium Genuine Leather 1 Year Leath...,ORAS,RA69M ORAS Genuine Leather Ladies Purse,wallet

In [25]:
all_group.get_group(name="toys")

,id,product_category_id,name,description,brand,Model,categoryName
65,98,8,Ride On Push Car,3 In 1 Kids Indoor Outdoor Ride On Push Car St...,Ride On Push Car,Ride On Push Car,toys
66,99,8,kick scooter kids,3 wheels Adjustable Multi-Color Scooter For ki...,kick scooter kids,kick scooter kids,toys
67,100,8,Baby gym rack and game pad combo,Baby gym rack and game pad combo baby gym play...,Baby gym rack and game pad combo,Baby gym rack and game pad combo,toys
68,101,8,Baby Kitchen Set,Baby Kitchen Set with music n Light,Baby Kitchen Set,Baby Kitchen Set,toys
69,102,8,Farlin Baby Magic Ball House,Farlin Baby Magic Ball House (With 100 Balls),Farlin Baby Magic Ball House,Farlin Baby Magic Ball House,toys
70,103,8,Playtime King Slider,Safe for children Strong Build quality,Playtime King Slider,Playtime King Slider,toys
71,104,8,Motor Bike Rocker,Process: Blow molding Material: HDPE Toxicity:...,Motor Bike Rocker,Motor Bike Rocker,toys
72,105,8,Scholar Table With Chair,Type: Educational Process: Blow molding Materi...,Scholar Table With Chair,Scholar Table With Chair,toys
73,106,8,Baby Bouncer For Playing Sleeping & Relxation,Soft mesh support conforms to a newborns baby ...,Baby Bouncer For Playing Sleeping & Relxation,Baby Bouncer For Playing Sleeping & Relxation,toys
74,107,8,Children's Study Table,Children's Study Table Baby Snack Table Storag...,Children's Study Table,Children's Study Table,toys

In [26]:
all_group.get_group(name="watch")

,id,product_category_id,name,description,brand,Model,categoryName
51,84,13,Skmei watch,Product Types: Smart Watch Brand : SKMEI Model...,Skmei,Skmei 1481 Digital Watch,watch
52,85,13,Haylou Smart Watch,Product Tyeps: Smart Watch. Xiaomi Haylou RT2 ...,Haylou Smart Watch,Haylou Smart Watch LS10 RT2,watch
53,86,13,Xiaomi Mi Band 6 CN,Product Types: Smart Watch Band. Xiaomi Mi Ban...,Xiaomi Mi Band,Xiaomi Mi Band 6 CN,watch
54,87,13,CURREN 8356 Watch,Brand: Curren Watch style: Business Watches ca...,CURREN 8356,CURREN 8356 Luxury Business Quartz,watch
55,88,13,Curren,Style: Luxury Clasp Type: Bracelet Clasp Water...,Curren,Curren 8348 Luxury Brand Fashion Quartz Watch,watch
56,89,13,Ladies Bracelet Type Watch,Ladies Bracelet Type Watch Quartz Movement Sty...,Ladies Bracelet Type Watch,Ladies Bracelet Type Watch,watch
57,90,13,Electronic Watch,Electronicorigin China model Mi 3 touch white ...,Electronic Watch,Electronic Watch Girls and Boys Trend Touch Br...,watch
58,91,13,Michael Kors,Product Type: Watch Stainless Steel Mid Sizes ...,Michael Kors,Michael Kors Womens Watch,watch
59,92,13,Magnet Ladies Watch,Magnet Ladies Watch Boxes & Cases Material: Paper,Magnet Ladies Watch,Magnet Ladies Watch,watch

In [27]:
all_group.get_group(name="television")

,id,product_category_id,name,description,brand,Model,categoryName
13,31,15,Starex 32 GS,Dynamic Mega Contrast Ratio 32-Inch Display wi...,Starex,Starex 32 GS Smart Android Led Tv Monitor,television
14,32,15,Samsung 32N4010,The dimension of this LED TV is 737.4 mm x 438...,Samsung,"Samsung 32N4010 32"" Basic HD LED Television",television
15,33,15,Haier,Miracast Screen Mirroring,Haier,Haier H32D2M 32 Inch Miracast HD Non-Smart LED...,television
33,66,15,"Mango MGN1 32"" Borderless HD Smart Android LED...",Smart Android LED TV is one of the largest TVs...,Mango,"Mango MGN1 32"" Borderless HD Smart Android LED...",television
34,67,15,"LG 32LK510B 32"" HD LED Television",Dynamic Color & Virtual Surround Sound Immersi...,LG,"LG 32LK510B 32"" HD LED Television",television
35,68,15,Xiaomi TV,"Processor: MSD6683, CPU: CA53 x 4, up to 1.2GH...",Xiaomi Mi,Xiaomi Mi P1 L32M6-6ARG/6AEU 32-Inch Smart And...,television
36,69,15,Sony Bravia TV,"WiFi ,HDMI, RF, FM Youtube and more Built-in W...",Sony Bravia,"Sony Bravia KDL-32W600D 32"" Smart HD LED TV",television

In [28]:
all_group.get_group(name="musical instrument")

,id,product_category_id,name,description,brand,Model,categoryName
45,78,18,Guitar Stand Wall Mount Hanger Hook,Specifications of Guitar Stand Wall Mount Hang...,Guitar Stand Wall Mount Hanger Hook,Guitar Stand Wall Mount Hanger Hook,musical instrument
46,79,18,Casio keyboard SA 46,32 Mini Keys 8-Note Polyphony 50 Play Along Tr...,Casio,Casio keyboard SA 46,musical instrument
47,80,18,Fernedes Atlas 5x-2008 Bass Guitar,Alder Body/Maple Neck Bolt On Neck 21 Fret fin...,Fernedes Atlas 5x-2008 Bass Guitar,Fernedes Atlas 5x-2008 Bass Guitar,musical instrument
48,81,18,Sennheiser EW135P-G4 wireless Microphone,A broadcast quality sound solution. Providing ...,Sennheiser,Sennheiser EW135P-G4 wireless Microphone,musical instrument
49,82,18,Melody 3.5 Octave Stick Harmoniam,"-3.5 octaves, 42 keys in total the superb qu...",Melody,Melody 3.5 Octave Stick Harmoniam,musical instrument
50,83,18,Melody Tablya Baya,original neem wood tabla,Melody Tablya Baya,Melody Tablya Baya,musical instrument

In [29]:
all_group.get_group(name="light")

,id,product_category_id,name,description,brand,Model,categoryName
60,93,9,Walton Light,WALTON MODULAR FLOOD LIGHT Model Name\t WLED-...,Walton Light,WLED-MOD-2M100W,light
61,94,9,WLED-RB3WB22 light,Energy efficient & energy saves up to 90% in r...,Walton,WLED-RB3WB22,light
62,95,9,Spot light,Energy efficient & energy saves up to 90% in r...,Walton,WLED-CSLS-5W (5 Watt),light
63,96,9,Torch light,"Powerful CREE T6 LED chip, all Weather Waterpr...",Walton,WLED-T6TORCH-5W,light
64,97,9,LED Light,High Brightness. - Aluminum Body. - Appl...,WLED-DC24V-10W,WLED-DC24V-10W,light

In [30]:
all_group.get_group(name="educational")

,id,product_category_id,name,description,brand,Model,categoryName
75,108,4,science box fifth grade,"It includes solar cell, generator, windmill mo...",science box fifth grade,science box fifth grade,educational
76,109,4,Captain Curious,Mission Electrocannon Part 1. Electric cannon ...,Captain Curious,Captain Curious,educational
77,110,4,Mojar Periscope,There are two mirrors for making periscope wit...,Mojar Periscope,Mojar Periscope,educational
78,111,4,Smart Kit Focus Challenge,"This kit consists of three metal cables, such ...",Smart Kit Focus Challenge,Smart Kit Focus Challenge,educational
79,112,4,Onnorokom Science Box: Mystery Of Chemistry,"Rubber ball, Food color, Dish Cleaner, glyceri...",Onnorokom Science Box: Mystery Of Chemistry,Onnorokom Science Box: Mystery Of Chemistry,educational

In [31]:
all_group.get_group(name="laptop")

,id,product_category_id,name,description,brand,Model,categoryName
115,149,12,Chuwi HeroBook Laptop,Processor Intel Celeron Processor N4020 (4M Ca...,Chuwi,Chuwi HeroBook Pro,laptop
116,150,12,AVITA Essential 14 laptop,Processor Intel Celeron Processor N4020 (4M Ca...,AVITA,Essential 14,laptop
117,151,12,Lenovo IdeaPad Slim 3i Laptop,"Processor: Intel Celeron N4020 (4M Cache, 1.10...",Lenovo,IdeaPad Slim 3i,laptop
118,152,12,HP 15s laptop,Processor: Intel Pentium Silver N5030 (4M Cach...,HP,15s-du1116TU,laptop
119,153,12,Dell Inspiron 15 3515 Laptop,"Processor: AMD Ryzen 3 3250U (4MB CPU Cache, 2...",Dell,Inspiron 15 3515,laptop

In [32]:
all_group.get_group(name="house items")

,id,product_category_id,name,description,brand,Model,categoryName
120,154,21,VSN GD Refrigerator,Cooling effects: Freezer Cabinet Less than -18...,Vision,RE-200L Mirror Lotus-TM,house items
121,155,21,Vision Automatic Washing Machine,"Voltage/Frequency: 220V/50Hz Rated power, Wash...",Vision,STL02,house items
123,157,21,Microwave Oven,Oven Capacity: 25 L Rated Voltage: 230~50Hz Ra...,Vision,G25 Smart,house items
124,158,21,Rice Cooker RC-1.8,Inner Pot: Double pot (One is SS pot and one i...,Vision,L 40-06 SS Classic,house items
127,161,21,Blender VIS-SBL-018 Rapid Power,"220~240V, 50Hz, 650W, Stainless Steel Blender....",Vision,VIS-SBL-018,house items

In [33]:
all_group.get_group(name="bag")

,id,product_category_id,name,description,brand,Model,categoryName
4,21,19,Nike,you can buy the Gym Bag Traveling Bag NIKE Onl...,Nike,Gym bag,bag
5,22,19,Ladies Backpack,Material: PU Leather 3 in 1 for total set. Siz...,Ladies Backpack,Ladies Backpack and Shoulder Bag TR002,bag
6,23,19,Ladies Backpack,Product color may slightly vary due to photogr...,Ladies Backpack,Ladies Backpack and Shoulder Bag SL002,bag
130,164,19,Laptop Pouch bag,Good Quality Material Compatible with 13 inch...,backpack,Laptop Pouch bag for 13 inch Notebook,bag
131,165,19,Targus Intellect Laptop Backpack,"COMPATIBILITY Up to 15.6"" laptops LITRE CAPACI...",backpack,model s,bag

In [34]:
all_group.get_group(name="cycle")

,id,product_category_id,name,description,brand,Model,categoryName
1,2,10,Duranta,This bicycle has a strong steel frame. Its bra...,Duranta,Duranta Super Sports Bicycle,cycle
10,27,10,Forever Bicycle,"Mechanical dual disc brake, steel frame, 17-in...",Forever,Forever 2020 Bicycle,cycle
11,28,10,Express,This balance bicycle is made with a strong ste...,Express,Express Baby Pedal Balance Bicycle,cycle
12,30,10,Super 16,The Super 16 is a robust baby-balanced bicycle...,Super 16,Super 16 Heavy Baby Balanced Cycle,cycle

In [35]:
all_group.get_group(name="fan")

,id,product_category_id,name,description,brand,Model,categoryName
37,70,16,New Mini Fan,Specifications of New GFC Mini Rechargeable US...,GFC,New GFC Mini Rechargeable USB Charging Portabl...,fan
38,71,16,GFC Glamour Ceiling Fan,Superior quality aluminum alloy construction. ...,GFC Glamour,GFC Glamour Ceiling Fan Full specifications,fan
39,72,16,GFC Monet Ceiling Fan,Energy efficient Electrical Steel Sheet and 99...,GFC,GFC Monet Ceiling Fan,fan

In [36]:
all_group.get_group(name="chair")

,id,product_category_id,name,description,brand,Model,categoryName
141,175,14,Swivel Chair,Made from superior quality chrome plated mild ...,HATIL,Lyndon-127,chair
142,176,14,All Swivel Chair,Made from Chrome base mild steel and Nylon Bas...,HATIL,Pokemon-144,chair
143,177,14,HATIL Swivel Chair,Made from superior quality Nylon Base High qua...,HATIL,Ruby-140,chair

In [37]:
all_group.get_group(name="cosmetics")

,id,product_category_id,name,description,brand,Model,categoryName
7,24,2,Lakm,"Water proof, lasts up to 22 hrs. It is dermato...",Lakme,Lakm Eyeconic Kajal Deep Black,cosmetics
8,25,2,Lakm 9 to 5,Provides uv protection. Gives Smooth Coverage....,Lakme,Lakm Complexion Care Cream,cosmetics

In [38]:
# Check the unique values in name column

unique_value ,num_count = np.unique(ar=df.name, return_counts=True)

In [39]:
len(unique_value)

151

In [40]:
num_count

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
      dtype=int64)

In [41]:
df.name.value_counts()

ORAS Genuine Leather Wallet    2
Ladies Backpack                2
HUAWEI                         1
HANDWOVEN SILK SAREES          1
Ladies Purse                   1
                              ..
Haylou Smart Watch             1
Xiaomi Mi Band 6 CN            1
CURREN 8356 Watch              1
Curren                         1
Apple Magic Mouse              1
Name: name, Length: 151, dtype: int64

In [42]:
for i, j in zip(unique_value, num_count):
    print(f'Product Name: {i} -----> Total counts: {j}')

Product Name: 2pcs-bangles-100-101 -----> Total counts: 1
Product Name: AFGHANI OXIDISED SILVER JEWELLERY -----> Total counts: 1
Product Name: AVITA Essential 14 laptop -----> Total counts: 1
Product Name: All Swivel Chair -----> Total counts: 1
Product Name: Apple Magic Mouse -----> Total counts: 1
Product Name: Apple iMac PC -----> Total counts: 1
Product Name: Aston Martin -----> Total counts: 1
Product Name: Asus PC -----> Total counts: 1
Product Name: BMW -----> Total counts: 1
Product Name: Baby Bouncer For Playing Sleeping & Relxation -----> Total counts: 1
Product Name: Baby Kitchen Set -----> Total counts: 1
Product Name: Baby gym rack and game pad combo -----> Total counts: 1
Product Name: Black Panther -----> Total counts: 1
Product Name: Blender VIS-SBL-018 Rapid Power -----> Total counts: 1
Product Name: Brislet -----> Total counts: 1
Product Name: COTTON WOVEN SAREE -----> Total counts: 1
Product Name: CPU Liquid Cooler -----> Total counts: 1
Product Name: CURREN 8356 Watch -----> Total counts: 1
Product Name: Cadillac -----> Total counts: 1
Product Name: Captain Curious -----> Total counts: 1
Product Name: Casio keyboard SA 46 -----> Total counts: 1
Product Name: Children's Study Table -----> Total counts: 1
Product Name: Chuwi HeroBook  Laptop -----> Total counts: 1
Product Name: Crocodile Texture Genuine Leather -----> Total counts: 1
Product Name: Curren -----> Total counts: 1
Product Name: Datsun -----> Total counts: 1
Product Name: Dell Inspiron 15 3515 Laptop -----> Total counts: 1
Product Name: Dell PC -----> Total counts: 1
Product Name: Diamond Storm  Pro RGB Gaming Casing -----> Total counts: 1
Product Name: Digital Voice Recorder -----> Total counts: 1
Product Name: Document Scanner -----> Total counts: 1
Product Name: Dual Band Gigabit 7 Antennas Router -----> Total counts: 1
Product Name: Duranta -----> Total counts: 1
Product Name: E. Kettle 1.0L -----> Total counts: 1
Product Name: EMBROIDERED NET SEMI STITCHED BRIDAL LEHENGA -----> Total counts: 1
Product Name: EMBROIDERED-KURTIS -----> Total counts: 1
Product Name: EMBROIDERY LEHENGA -----> Total counts: 1
Product Name: Electronic Dry Iron -----> Total counts: 1
Product Name: Electronic Watch -----> Total counts: 1
Product Name: Express -----> Total counts: 1
Product Name: FLORAL WEDDING LEHENGA -----> Total counts: 1
Product Name: Farlin Baby Magic Ball House -----> Total counts: 1
Product Name: Fernedes Atlas 5x-2008 Bass Guitar -----> Total counts: 1
Product Name: Ferrari -----> Total counts: 1
Product Name: Forever Bicycle -----> Total counts: 1
Product Name: GFC Glamour Ceiling Fan -----> Total counts: 1
Product Name: GFC Monet Ceiling Fan -----> Total counts: 1
Product Name: GOLD CHOKERS -----> Total counts: 1
Product Name: Genuine Leather Wallet -----> Total counts: 1
Product Name: Gigabit Smart Managed Switch -----> Total counts: 1
Product Name: Guitar Stand Wall Mount Hanger Hook -----> Total counts: 1
Product Name: HANDWOVEN SILK SAREES -----> Total counts: 1
Product Name: HATIL Swivel Chair -----> Total counts: 1
Product Name: HP 15s laptop -----> Total counts: 1
Product Name: HP PC -----> Total counts: 1
Product Name: HUAWEI -----> Total counts: 1
Product Name: Haier -----> Total counts: 1
Product Name: Haylou Smart Watch -----> Total counts: 1
Product Name: Hijab -----> Total counts: 1
Product Name: Hyundai -----> Total counts: 1
Product Name: Intel Core i3-2120 2nd Gen Processor -----> Total counts: 1
Product Name: Jeep Genuine Leather Wallet -----> Total counts: 1
Product Name: Key Wallet -----> Total counts: 1
Product Name: LED Light -----> Total counts: 1
Product Name: LG 32LK510B 32" HD LED Television -----> Total counts: 1
Product Name: Ladies Backpack -----> Total counts: 2
Product Name: Ladies Bracelet Type Watch -----> Total counts: 1
Product Name: Ladies Purse -----> Total counts: 1
Product Name: Lakm -----> Total counts: 1
Product Name: Lakm 9 to 5 -----> Total counts: 1
Product Name: Laptop Pouch bag -----> Total counts: 1
Product Name: Lenovo IdeaPad Slim 3i Laptop -----> Total counts: 1
Product Name: MAITHILI SILK SAREE -----> Total counts: 1
Product Name: Magnet Ladies Watch -----> Total counts: 1
Product Name: Mango MGN1 32" Borderless HD Smart Android LED Television -----> Total counts: 1
Product Name: Melody 3.5 Octave Stick Harmoniam -----> Total counts: 1
Product Name: Melody Tablya Baya -----> Total counts: 1
Product Name: Michael Kors -----> Total counts: 1
Product Name: Microsoft Windows 10 Professional  DVD -----> Total counts: 1
Product Name: Microwave Oven -----> Total counts: 1
Product Name: Mojar Periscope -----> Total counts: 1
Product Name: Motor Bike Rocker -----> Total counts: 1
Product Name: Motorola Moto -----> Total counts: 1
Product Name: Multi-Function Business Travel Wallet -----> Total counts: 1
Product Name: Multifunction Mono Laser Photocopier -----> Total counts: 1
Product Name: Multimedia Speaker -----> Total counts: 1
Product Name: New Mini Fan -----> Total counts: 1
Product Name: Nike -----> Total counts: 1
Product Name: Nokia -----> Total counts: 1
Product Name: Non Modular Power Supply -----> Total counts: 1
Product Name: ORAS Genuine Leather Key Wallet -----> Total counts: 1
Product Name: ORAS Genuine Leather Wallet -----> Total counts: 2
Product Name: OnePlus -----> Total counts: 1
Product Name: Onnorokom Science Box: Mystery Of Chemistry -----> Total counts: 1
Product Name: Oppo -----> Total counts: 1
Product Name: PRINTED RAYON KURTA-SETS -----> Total counts: 1
Product Name: Playtime King Slider -----> Total counts: 1
Product Name: RA38N ORAS Genuine Leather Wallet for Men -----> Total counts: 1
Product Name: Realme -----> Total counts: 1
Product Name: Redmi -----> Total counts: 1
Product Name: Rice Cooker RC-1.8 -----> Total counts: 1
Product Name: Ride On Push Car -----> Total counts: 1
Product Name: SEMI STITCHED PARTY WEAR LEHENGA -----> Total counts: 1
Product Name: SILK READYMADE LEHENGA -----> Total counts: 1
Product Name: STAR 2000VA IPS -----> Total counts: 1
Product Name: Samsung -----> Total counts: 1
Product Name: Samsung 32N4010 -----> Total counts: 1
Product Name: Scholar Table With Chair -----> Total counts: 1
Product Name: Semi Fitted Panjabi -----> Total counts: 1
Product Name: Sennheiser EW135P-G4 wireless Microphone -----> Total counts: 1
Product Name: Single Function Mono Laser Printer -----> Total counts: 1
Product Name: Skmei watch -----> Total counts: 1
Product Name: Smart Kit Focus Challenge -----> Total counts: 1
Product Name: Smart Managed Switch -----> Total counts: 1
Product Name: Sony Bravia  TV -----> Total counts: 1
Product Name: Spot light -----> Total counts: 1
Product Name: Standard Backup Online UPS -----> Total counts: 1
Product Name: Starex 32 GS -----> Total counts: 1
Product Name: Super 16 -----> Total counts: 1
Product Name: Swivel Chair -----> Total counts: 1
Product Name: TRADITIONAL DESIGNER SILK SAREE -----> Total counts: 1
Product Name: Targus Intellect Laptop Backpack -----> Total counts: 1
Product Name: Tesla -----> Total counts: 1
Product Name: Torch light -----> Total counts: 1
Product Name: Toyota -----> Total counts: 1
Product Name: VSN Electric Geyser -----> Total counts: 1
Product Name: VSN GD Refrigerator -----> Total counts: 1
Product Name: Vision Automatic Washing Machine -----> Total counts: 1
Product Name: Vivo -----> Total counts: 1
Product Name: WIFI Doll Camera -----> Total counts: 1
Product Name: WLED-RB3WB22 light -----> Total counts: 1
Product Name: Walton Light -----> Total counts: 1
Product Name: Wireless Earbuds -----> Total counts: 1
Product Name: X corolla -----> Total counts: 1
Product Name: Xiaomi Mi Band 6 CN -----> Total counts: 1
Product Name: Xiaomi TV -----> Total counts: 1
Product Name: ZOOM HD DIGITAL CAMERA -----> Total counts: 1
Product Name: children dress -----> Total counts: 1
Product Name: earring -----> Total counts: 1
Product Name: gaming headphone -----> Total counts: 1
Product Name: iPhone -----> Total counts: 1
Product Name: kanthohar -----> Total counts: 1
Product Name: kick scooter kids -----> Total counts: 1
Product Name: necklace -----> Total counts: 1
Product Name: nosepin -----> Total counts: 1
Product Name: ring -----> Total counts: 1
Product Name: science box fifth grade -----> Total counts: 1
Product Name: shitahar -----> Total counts: 1
Product Name: silaring -----> Total counts: 1
Product Name: tikli -----> Total counts: 1
Product Name: walton Desktop PC -----> Total counts: 1

## Text preprocessing

In [43]:
df.head(5)

,id,product_category_id,name,description,brand,Model,categoryName
0,1,1,HUAWEI,"Screen Size\t:\t7.12"" (1080 x 2244) Camera\t:\...",HUAWEI,HUAWEI ENJOY MAX,phone
1,2,10,Duranta,This bicycle has a strong steel frame. Its bra...,Duranta,Duranta Super Sports Bicycle,cycle
2,19,20,Cadillac,"Basic: 4 Years / 50000 Miles, Corrosion: 4 Yea...",Cadillac,Cadillac Escalade ESV,car
3,20,20,Aston Martin,"3 Years / Unlimited Miles Basic, 10 Years / Un...",Aston Martin,Aston Martin DB11 V8,car
4,21,19,Nike,you can buy the Gym Bag Traveling Bag NIKE Onl...,Nike,Gym bag,bag

In [44]:
df.loc[0, 'description']

'Screen Size\t:\t7.12" (1080 x 2244) Camera\t:\t16 + 2 | 8 MP RAM\t:\t4GB Battery\t:\t5000 mAh Operating system\t:\tAndroid Soc\t:\tQualcomm SDM636 Snapdragon 636 Processor\t:\tOcta'

In [45]:
# Make lower case the text

def makeLowerCase(text):
    return text.lower()

In [46]:
df['name'] = df['name'].apply(func=makeLowerCase)
df['description'] = df['description'].apply(func=makeLowerCase)
df['brand'] = df['brand'].apply(func=makeLowerCase)
df['Model'] = df['Model'].apply(func=makeLowerCase)

In [47]:
df.head()

,id,product_category_id,name,description,brand,Model,categoryName
0,1,1,huawei,"screen size\t:\t7.12"" (1080 x 2244) camera\t:\...",huawei,huawei enjoy max,phone
1,2,10,duranta,this bicycle has a strong steel frame. its bra...,duranta,duranta super sports bicycle,cycle
2,19,20,cadillac,"basic: 4 years / 50000 miles, corrosion: 4 yea...",cadillac,cadillac escalade esv,car
3,20,20,aston martin,"3 years / unlimited miles basic, 10 years / un...",aston martin,aston martin db11 v8,car
4,21,19,nike,you can buy the gym bag traveling bag nike onl...,nike,gym bag,bag

In [48]:
def simplePreprocessing(text):
    patt = re.compile(pattern=r"[\t:\d\.]")
    a = patt.sub(repl="", string=text)
    b = a.translate(str.maketrans('','',string.punctuation))
    c = " ".join(b.split())
    return c

In [49]:
df['description'] = df['description'].apply(func=simplePreprocessing)

df.head()

,id,product_category_id,name,description,brand,Model,categoryName
0,1,1,huawei,screen size x camera mp ramgb battery mah oper...,huawei,huawei enjoy max,phone
1,2,10,duranta,this bicycle has a strong steel frame its brak...,duranta,duranta super sports bicycle,cycle
2,19,20,cadillac,basic years miles corrosion years miles drivet...,cadillac,cadillac escalade esv,car
3,20,20,aston martin,years unlimited miles basic years unlimited mi...,aston martin,aston martin db11 v8,car
4,21,19,nike,you can buy the gym bag traveling bag nike onl...,nike,gym bag,bag

In [50]:
patt = re.compile(pattern=r" (mm|mm x|w mm|mp|x|w|mp) ")
patt2 = re.compile(pattern=r" (ww|x x|f|w|mm|n m|a l v|n) ")
patt3 = re.compile(pattern=r" (q|v|l|hz  khz) ")

mypatt = [patt, patt2, patt3]

def removeSingleAlphabet(text):
    for i in mypatt:
        text = i.sub(repl=" ", string=text)
    return text

In [51]:
df['description'] = df['description'].apply(func=removeSingleAlphabet)

df.head()

,id,product_category_id,name,description,brand,Model,categoryName
0,1,1,huawei,screen size camera ramgb battery mah operating...,huawei,huawei enjoy max,phone
1,2,10,duranta,this bicycle has a strong steel frame its brak...,duranta,duranta super sports bicycle,cycle
2,19,20,cadillac,basic years miles corrosion years miles drivet...,cadillac,cadillac escalade esv,car
3,20,20,aston martin,years unlimited miles basic years unlimited mi...,aston martin,aston martin db11 v8,car
4,21,19,nike,you can buy the gym bag traveling bag nike onl...,nike,gym bag,bag

In [52]:
df['tags'] = df['name'] + df['description'] + df['brand'] + df['Model']

df.head()

,id,product_category_id,name,description,brand,Model,categoryName,tags
0,1,1,huawei,screen size camera ramgb battery mah operating...,huawei,huawei enjoy max,phone,huaweiscreen size camera ramgb battery mah ope...
1,2,10,duranta,this bicycle has a strong steel frame its brak...,duranta,duranta super sports bicycle,cycle,durantathis bicycle has a strong steel frame i...
2,19,20,cadillac,basic years miles corrosion years miles drivet...,cadillac,cadillac escalade esv,car,cadillacbasic years miles corrosion years mile...
3,20,20,aston martin,years unlimited miles basic years unlimited mi...,aston martin,aston martin db11 v8,car,aston martinyears unlimited miles basic years ...
4,21,19,nike,you can buy the gym bag traveling bag nike onl...,nike,gym bag,bag,nikeyou can buy the gym bag traveling bag nike...

In [53]:
df2 = df.drop(columns=['description', 'brand', 'Model'])

df2.head()

,id,product_category_id,name,categoryName,tags
0,1,1,huawei,phone,huaweiscreen size camera ramgb battery mah ope...
1,2,10,duranta,cycle,durantathis bicycle has a strong steel frame i...
2,19,20,cadillac,car,cadillacbasic years miles corrosion years mile...
3,20,20,aston martin,car,aston martinyears unlimited miles basic years ...
4,21,19,nike,bag,nikeyou can buy the gym bag traveling bag nike...

In [54]:
df2.shape

(153, 5)

In [55]:
# Check null value

df2.isnull().sum().sum()

0

In [56]:
# analysis a single row

df2.loc[1, 'tags']

'durantathis bicycle has a strong steel frame its brake system is very strong which allows you to maintain control in all situations its seat is adjustable so you can change it as needed its front and rear wheels are fitted with mudguards so that the rider does not get mud while riding on the roaddurantaduranta super sports bicycle'

In [57]:
# demo test

print(df2.loc[1, 'tags'].split())

['durantathis', 'bicycle', 'has', 'a', 'strong', 'steel', 'frame', 'its', 'brake', 'system', 'is', 'very', 'strong', 'which', 'allows', 'you', 'to', 'maintain', 'control', 'in', 'all', 'situations', 'its', 'seat', 'is', 'adjustable', 'so', 'you', 'can', 'change', 'it', 'as', 'needed', 'its', 'front', 'and', 'rear', 'wheels', 'are', 'fitted', 'with', 'mudguards', 'so', 'that', 'the', 'rider', 'does', 'not', 'get', 'mud', 'while', 'riding', 'on', 'the', 'roaddurantaduranta', 'super', 'sports', 'bicycle']

In [58]:
print(word_tokenize(text=df2.loc[1, 'tags']))

# demo end

['durantathis', 'bicycle', 'has', 'a', 'strong', 'steel', 'frame', 'its', 'brake', 'system', 'is', 'very', 'strong', 'which', 'allows', 'you', 'to', 'maintain', 'control', 'in', 'all', 'situations', 'its', 'seat', 'is', 'adjustable', 'so', 'you', 'can', 'change', 'it', 'as', 'needed', 'its', 'front', 'and', 'rear', 'wheels', 'are', 'fitted', 'with', 'mudguards', 'so', 'that', 'the', 'rider', 'does', 'not', 'get', 'mud', 'while', 'riding', 'on', 'the', 'roaddurantaduranta', 'super', 'sports', 'bicycle']

In [59]:
df3 = df2.copy()

## Create WordNetLemmatizer object

In [60]:
lemmatizer = WordNetLemmatizer()

## Remove stopwords and lemmatize those words

In [61]:
def textLemmatizer(text):
    words = word_tokenize(text=text)
    words = [lemmatizer.lemmatize(word=word) for word in words if word not in stopwords.words('english')]
    text = ' '.join(words)
    return text

In [62]:
# Demo test

text = """this bicycle has a strong steel frame its brake system is very strong which allows you to maintain control in all situations its seat is adjustable so you can change it as needed its front and rear wheels are fitted with mudguards so that the rider does not get mud while riding on the roaddurantaduranta super sports bicycle"""

result = textLemmatizer(text)

result

# demo test end

'bicycle strong steel frame brake system strong allows maintain control situation seat adjustable change needed front rear wheel fitted mudguard rider get mud riding roaddurantaduranta super sport bicycle'

In [63]:
df2['tags'] = df2['tags'].apply(textLemmatizer)

df2.head()

,id,product_category_id,name,categoryName,tags
0,1,1,huawei,phone,huaweiscreen size camera ramgb battery mah ope...
1,2,10,duranta,cycle,durantathis bicycle strong steel frame brake s...
2,19,20,cadillac,car,cadillacbasic year mile corrosion year mile dr...
3,20,20,aston martin,car,aston martinyears unlimited mile basic year un...
4,21,19,nike,bag,nikeyou buy gym bag traveling bag nike online ...

In [64]:
df2.loc[1, 'tags']

'durantathis bicycle strong steel frame brake system strong allows maintain control situation seat adjustable change needed front rear wheel fitted mudguard rider get mud riding roaddurantaduranta super sport bicycle'

## Apply TF-IDF

In [65]:
tf_idf = TfidfVectorizer(max_features=2000)

In [66]:
tf_idf_vectors = tf_idf.fit_transform(raw_documents=df2['tags']).toarray()

In [67]:
tf_idf.idf_

array([5.34380542, 5.34380542, 5.34380542, ..., 5.34380542, 5.34380542,
       5.34380542])

In [68]:
tf_idf.vocabulary_

{'huaweiscreen': 653,
 'size': 1193,
 'camera': 241,
 'ramgb': 1056,
 'battery': 167,
 'mah': 816,
 'operating': 945,
 'systemandroid': 1280,
 'socqualcomm': 1213,
 'sdm': 1153,
 'snapdragon': 1211,
 'processoroctahuaweihuawei': 1028,
 'enjoy': 463,
 'max': 832,
 'durantathis': 437,
 'bicycle': 184,
 'strong': 1256,
 'steel': 1247,
 'frame': 536,
 'brake': 214,
 'system': 1279,
 'allows': 96,
 'maintain': 819,
 'control': 338,
 'situation': 1191,
 'seat': 1155,
 'adjustable': 82,
 'change': 277,
 'needed': 913,
 'front': 542,
 'rear': 1073,
 'wheel': 1439,
 'fitted': 521,
 'mudguard': 899,
 'rider': 1110,
 'get': 566,
 'mud': 898,
 'riding': 1111,
 'roaddurantaduranta': 1115,
 'super': 1264,
 'sport': 1234,
 'cadillacbasic': 239,
 'year': 1473,
 'mile': 860,
 'corrosion': 353,
 'drivetrain': 426,
 'roadside': 1116,
 'assistance': 122,
 'milescadillaccadillac': 862,
 'escalade': 468,
 'esv': 470,
 'aston': 123,
 'martinyears': 828,
 'unlimited': 1355,
 'basic': 164,
 'warrantyaston': 1405,
 'martinaston': 827,
 'martin': 826,
 'db11': 384,
 'v8': 1371,
 'nikeyou': 921,
 'buy': 231,
 'gym': 601,
 'bag': 146,
 'traveling': 1330,
 'nike': 920,
 'online': 943,
 'bangladesh': 155,
 'best': 181,
 'price': 1018,
 'website': 1435,
 'home': 644,
 'office': 938,
 'deliverynikegym': 391,
 'lady': 738,
 'backpackmaterial': 143,
 'pu': 1037,
 'leather': 754,
 'total': 1317,
 'set': 1165,
 'cmcmcmladies': 309,
 'backpackladies': 142,
 'backpack': 140,
 'shoulder': 1177,
 'tr002': 1323,
 'backpackproduct': 144,
 'color': 315,
 'may': 833,
 'slightly': 1203,
 'vary': 1376,
 'due': 433,
 'photographic': 991,
 'lighting': 783,
 'source': 1223,
 'monitor': 882,
 'settingsladies': 1170,
 'sl002': 1197,
 'lakmwater': 740,
 'proof': 1031,
 'last': 747,
 'hr': 652,
 'dermatologically': 394,
 'tested': 1302,
 'safe': 1132,
 'eye': 489,
 'easy': 445,
 'twist': 1338,
 'format': 535,
 'used': 1365,
 'water': 1426,
 'line': 790,
 'lid': 775,
 'deep': 388,
 'black': 189,
 'finishlakmelakm': 519,
 'eyeconic': 490,
 'kajal': 710,
 'lakm': 739,
 '5provides': 55,
 'uv': 1367,
 'protection': 1033,
 'give': 572,
 'smooth': 1209,
 'coverage': 356,
 'lightens': 781,
 'skin': 1194,
 'even': 475,
 'tonelakmelakm': 1314,
 'complexion': 325,
 'care': 251,
 'cream': 361,
 'hijabproduct': 640,
 'settingsfashion': 1169,
 'capitalhijab': 247,
 'piece': 992,
 'combo': 317,
 'pack': 965,
 'ps06': 1036,
 'forever': 533,
 'bicyclemechanical': 185,
 'dual': 432,
 'disc': 406,
 'inch': 672,
 'tire': 1311,
 'handlebar': 611,
 'back': 139,
 'gear': 559,
 'alloy': 97,
 'rimforeverforever': 1112,
 '2020': 30,
 'expressthis': 483,
 'balance': 148,
 'made': 812,
 'extra': 486,
 'two': 1339,
 'child': 287,
 'ride': 1108,
 'adjusted': 83,
 'suit': 1263,
 'need': 912,
 'one': 941,
 'rideexpressexpress': 1109,
 'baby': 137,
 'pedal': 983,
 '16the': 24,
 'robust': 1117,
 'babybalanced': 138,
 'ideal': 663,
 'kid': 719,
 'safety': 1133,
 'feature': 506,
 'bike': 186,
 'comfortably': 321,
 'support': 1268,
 'includes': 675,
 'additional': 81,
 'little': 796,
 'allow': 95,
 'toddler': 1313,
 'side': 1180,
 'extremely': 488,
 'sturdy': 1258,
 'easily': 444,
 'brokensuper': 223,
 '16super': 23,
 '16': 22,
 'heavy': 632,
 'balanced': 149,
 'cycle': 376,
 'starex': 1244,
 '32': 37,
 'gsdynamic': 594,
 'mega': 835,
 'contrast': 337,
 'ratio': 1064,
 'display': 409,
 'hd': 619,
 'resolution': 1099,
 'refresh': 1083,
 'rate': 1061,
 'hz': 657,
 'warranty': 1404,
 'yearstarexstarex': 1474,
 'smart': 1208,
 'android': 112,
 'led': 758,
 'tv': 1335,
 'samsung': 1134,
 '32n4010the': 40,
 'dimension': 404,
 'without': 1454,
 'stand': 1240,
 'weight': 1437,
 'kg': 717,
 'television': 1294,
 'offer': 937,
 'part': 974,
 'service': 1164,
 'warrantysamsungsamsung': 1415,
 '32n4010': 39,
 'haiermiracast': 607,
 'screen': 1152,
 'mirroringhaierhaier': 869,
 'h32d2m': 604,
 'miracast': 867,
 'non': 926,
 'motorola': 890,
 'motobattery': 887,
 'type': 1342,
 'capacitylithiumpolymer': 246,
 'nonremovable': 927,
 'fast': 503,
 'charging': 280,
 'chargingmotorola': 282,
 'motomotorola': 888,
 'moto': 886,
 'g30': 549,
 'teslatesla': 1301,
 'allwheel': 101,
 'drive': 424,
 'ultraresponsiveteslamodel': 1352,
 'datsuncylinders': 380,
 'cylinder': 377,
 'inline': 681,
 'valve': 1374,
 'valvescylinder': 1375,
 'dohc': 413,
 'power': 1011,
 'bhp': 183,
 'rpm': 1124,
 'torque': 1316,
 'nm': 922,
 'mileage': 861,
 'arai': 120,
 'kmpldatsundatsun': 725,
 'redi': 1079,
 'go': 579,
 'redmiosandroid': 1081,
 'miui': 870,
 'chipsetqualcomm': 294,
 'sm': 1206,
 'cpuoctacore': 358,
 'ghz': 569,
 'kryo': 729,
 'gold': 580,
 'silver': 1185,
 'gpuadrenoxiaomixiaomi': 583,
 'redmi': 1080,
 'note': 932,
 'pro': 1024,
 'toyotaenginecylindercc': 1322,
 'transmissiongearspeedauto': 1328,
 'fuel': 544,
 'typepetrolelectrictoyotatoyota': 1346,
 'rav4': 1065,
 'hybrid': 654,
 'awd': 136,
 'realmedisplay': 1071,
 'primary': 1019,
 'main': 818,
 'wide': 1442,
 'angle': 113,
 'batterynonremovable': 169,
 'lipo': 792,
 'mahrealmerealme': 817,
 'gt': 595,
 'neo': 915,
 'pantherthe': 972,
 'lexus': 772,
 'lc': 751,
 'ordinary': 952,
 'car': 249,
 'extraordinary': 487,
 'way': 1430,
 'grand': 589,
 'tourer': 1319,
 'engineblack': 462,
 'pantherlexus': 971,
 '500': 53,
 'vivomicrosdxc': 1387,
 'dedicated': 387,
 'slot': 1205,
 'internalgb': 691,
 'gb': 556,
 'ram': 1055,
 'ramvivovivo': 1057,
 'v20': 1370,
 'nokiamb': 924,
 'mb': 834,
 'internal': 690,
 'storage': 1251,
 'single': 1190,
 'simnokianokia': 1187,
 '105': 10,
 'hyundaiengine': 656,
 'cc': 260,
 'transmissiongear': 1327,
 'speedauto': 1230,
 'typegasolinepetrolhyundaihyundai': 1345,
 'iphoneface': 695,
 'id': 662,
 'accelerometer': 73,
 'gyro': 602,
 'proximity': 1035,
 'compass': 323,
 'barometer': 158,
 'ultra': 1350,
 'wideband': 1444,
 'uwb': 1368,
 'supportappleapple': 1269,
 'iphone': 694,
 '12': 13,
 'bmwthe': 198,
 'compact': 322,
 'suv': 1272,
 'trim': 1332,
 'sportx': 1236,
 'xlinebmwbmw': 1471,
 'x1': 1468,
 'oppolipo': 947,
 'chargingfast': 281,
 'min': 863,
 'advertised': 86,
 'voocoppooppo': 1391,
 'f17': 491,
 'oneplussingle': 942,
 'sim': 1186,
 'nanosim': 908,
 'standbyoneplusoneplus': 1242,
 'ferraridisplacement': 512,
 'cu': 367,
 'inengine': 679,
 'kw': 734,
 'rpmtorque': 1126,
 'ft': 543,
 'lb': 750,
 'rpmno': 1125,
 'cylindersferrariferrari': 378,
 '488': 51,
 'gt3': 596,
 'evo': 477,
 'samsunggb': 1135,
 'bitkhz': 188,
 'audiosamsungsamsung': 130,
 'galaxy': 552,
 's20': 1130,
 'corolladrive': 351,
 'typefront': 1344,
 'drivegear': 425,
 'boxautomaticsteeringsteering': 209,
 'typepowerx': 1347,
 'corollatoyota': 352,
 'corolla': 350,
 'mango': 824,
 'mgn1': 847,
 'borderless': 206,
 'televisionsmart': 1296,
 'largest': 745,
 'chinese': 290,
 'brandmangomango': 216,
 'lg': 773,
 '32lk510b': 38,
 'televisiondynamic': 1295,
 'virtual': 1382,
 'surround': 1271,
 'sound': 1221,
 'immersive': 668,
 'entertainment': 465,
 'sophisticated': 1220,
 'inside': 684,
 'outlglg': 958,
 'xiaomi': 1469,
 'tvprocessor': 1336,
 'msd': 897,
 'cpu': 357,
 'ca': 234,
 'dolby': 414,
 'audio': 129,
 'dtshdxiaomi': 430,
 'mixiaomi': 871,
 'mi': 850,
 'p1': 964,
 'l32m6': 735,
 '6arg': 61,
 '6aeu': 60,
 'netflix': 917,
 'global': 577,
 'version': 1377,
 'sony': 1219,
 'bravia': 217,
 'tvwifi': 1337,
 'hdmi': 625,
 'rf': 1105,
 'fm': 528,
 'youtube': 1478,
 'builtin': 226,
 'wifi': 1446,
 'wxga': 1467,
 'resolutionsony': 1100,
 'braviasony': 218,
 'kdl': 713,
 '32w600d': 41,
 'new': 918,
 'mini': 864,
 'fanspecifications': 499,
 'gfc': 568,
 'rechargeable': 1075,
 'usb': 1358,
 'portable': 1007,
 'handheld': 609,
 'speed': 1229,
 'desktop': 397,
 'fangfcnew': 498,
 'fan': 496,
 'glamour': 574,
 'ceiling': 263,
 'fansuperior': 500,
 'quality': 1046,
 'aluminum': 103,
 'construction': 333,
 'energy': 460,
 'efficient': 451,
 'electrical': 454,
 'sheet': 1172,
 'pure': 1039,
 'copper': 345,
 'wiregfc': 1451,
 'glamourgfc': 575,
 'full': 545,
 'specification': 1227,
 'monet': 881,
 'fanenergy': 497,
 'wiregfcgfc': 1452,
 'asus': 124,
 'pcprocessor': 980,
 'intel': 688,
 'corei': 349,
 'processor': 1026,
 'board': 199,
 'ddr': 386,
 'mhz': 848,
 'hard': 614,
 'disk': 408,
 'tb': 1291,
 'hddasusasus': 621,
 'a4321ukh': 68,
 'core': 348,
 'i5': 661,
 '7th': 62,
 'gen': 560,
 'all': 93,
 'in': 671,
 'pc': 977,
 'dell': 392,
 'pcdesktop': 978,
 'gaming': 554,
 'th': 1304,
 'generation': 561,
 'cache': 238,
 'chipsetdelldell': 293,
 'vostro': 1392,
 '3668': 43,
 '1tb': 26,
 'hdd': 620,
 'hp': 651,
 'qhphp': 1045,
 'proone': 1032,
 '400': 47,
 'g4': 550,
 'apple': 117,
 'imac': 666,
 'pcprocessorquad': 981,
 'clock': 306,
 'speedghz': 1231,
 'retina': 1103,
 'typeddr': 1343,
 'onboardappleapple': 940,
 'walton': 1402,
 'pcwdpc': 982,
 'express': 482,
 'chipset': 292,
 'ith': 701,
 'thread': 1305,
 'graphic': 590,
 'memory': 837,
 'expandable': 480,
 'sata': 1141,
 'hddwaltonwalton': 624,
 'wdpc740010': 1431,
 'guitar': 598,
 'wall': 1396,
 'mount': 891,
 'hanger': 613,
 'hookspecifications': 647,
 'hook': 645,
 'holder': 642,
 'acoustic': 79,
 'electric': 453,
 'ukulele': 1349,
 'violin': 1381,
 'bass': 165,
 'acguitar': 78,
 'hookguitar': 646,
 'casio': 258,
 'keyboard': 716,
 'sa': 1131,
 '46mini': 49,
 'key': 715,
 'polyphony': 1004,
 'play': 997,
 'along': 102,
 'track': 1324,
 'drum': 427,
 'pad': 966,
 'headphone': 628,
 'outputcasiocasio': 960,
 '46': 48,
 'fernedes': 511,
 'atlas': 125,
 '5x': 57,
 '2008': 28,
 'guitaralder': 599,
 'bodymaple': 202,
 'neck': 909,
 'bolt': 204,
 'fret': 539,
 'fingerboardfernedes': 517,
 'guitarfernedes': 600,
 'sennheiser': 1159,
 'ew135p': 478,
 'wireless': 1453,
 'microphonea': 853,
 'broadcast': 222,
 'solution': 1218,
 'providing': 1034,
 'highest': 638,
 'flexibility': 523,
 'outdoor': 956,
 'shoot': 1175,
 'field': 515,
 'recording': 1078,
 'application': 119,
 'microphone': 852,
 'excellent': 479,
 'simple': 1188,
 'mounting': 892,
 'ease': 443,
 'usesennheisersennheiser': 1366,
 'melody': 836,
 'octave': 936,
 'stick': 1249,
 'harmoniamoctaves': 616,
 'superb': 1265,
 'soundmelodymelody': 1222,
 'harmoniam': 615,
 'tablya': 1288,
 'bayaoriginal': 172,
 'neem': 914,
 'wood': 1459,
 'tablamelody': 1283,
 'bayamelody': 171,
 'baya': 170,
 'skmei': 1195,
 'watchproduct': 1425,
 'watch': 1418,
 'brand': 215,
 'model': 875,
 'number': 934,
 'style': 1259,
 'sportskmeiskmei': 1235,
 '1481': 20,
 'digital': 403,
 'haylou': 618,
 'tyeps': 1341,
 'rt': 1127,
 'featured': 507,
 'heart': 630,
 'monitoring': 883,
 'sleep': 1198,
 'option': 949,
 'workout': 1462,
 'mode': 874,
 'spo': 1233,
 'tracking': 1325,
 'considerate': 331,
 'allday': 94,
 'ip': 693,
 'waterproof': 1427,
 'realtime': 1072,
 'message': 843,
 'reminder': 1092,
 'customized': 374,
 'face': 494,
 'practical': 1016,
 'function': 547,
 'life': 777,
 'day': 381,
 'daily': 379,
 'use': 1364,
 'fully': 546,
 'charged': 279,
 'dayshaylou': 382,
 'watchhaylou': 1422,
 'ls10': 804,
 'rt2': 1128,
 'band': 153,
 'cnproduct': 312,
 'amoled': 109,
 'touch': 1318,
 'scratchresistant': 1151,
 'glass': 576,
 'hour': 648,
 'remote': 1093,
 'long': 797,
 'magnetic': 815,
 'atm': 126,
 'amazing': 104,
 'accurately': 77,
 'record': 1076,
 'duration': 438,
 'light': 778,
 'rem': 1091,
 'based': 161,
 'receive': 1074,
 'scientific': 1148,
 'advice': 87,
 'help': 634,
 'develop': 399,
 'regular': 1086,
 'sleeping': 1199,
 'habitsxiaomi': 605,
 'bandxiaomi': 154,
 'cn': 310,
 'curren': 371,
 '8356': 65,
 'watchbrand': 1419,
 'business': 228,
 'category': 259,
 'men': 838,
 'mirror': 868,
 'sapphire': 1136,
 'case': 256,
 'material': 830,
 'alloycurren': 98,
 '8356curren': 66,
 'luxury': 807,
 'quartz': 1048,
 'currenstyle': 372,
 'clasp': 302,
 'bracelet': 213,
 'resistance': 1096,
 'depth': 393,
 'bar': 157,
 'movement': 894,
 'alloycurrencurren': 99,
 '8348': 64,
 'fashion': 502,
 'watchladies': 1423,
 'antique': 116,
 'unique': 1353,
 'design': 395,
 'strap': 1254,
 'metal': 844,
 'buckle': 224,
 'batteryladies': 168,
 'electronic': 456,
 'watchelectronicorigin': 1421,
 'china': 288,
 'white': 1441,
 'movementelectronic': 895,
 'watchelectronic': 1420,
 'girl': 571,
 'boy': 212,
 'trend': 1331,
 'michael': 851,
 'korsproduct': 728,
 'stainless': 1239,
 'mid': 857,
 'resistantmichael': 1098,
 'korsmichael': 727,
 'kor': 726,
 'woman': 1457,
 'magnet': 814,
 'watchmagnet': 1424,
 'box': 208,
 'papermagnet': 973,
 'lightwalton': 787,
 'modular': 876,
 'flood': 526,
 'name': 907,
 'wledmodmw': 1456,
 'rated': 1062,
 'voltage': 1390,
 'ac': 70,
 'frequency': 538,
 'hzwalton': 659,
 'lightwled': 789,
 'mod': 873,
 '2m100w': 33,
 'wled': 1455,
 'rb3wb22': 1067,
 'lightenergy': 780,
 'save': 1143,
 'respect': 1101,
 'nominal': 925,
 'omni': 939,
 'directional': 405,
 'width': 1445,
 'beam': 175,
 'high': 637,
 'lumen': 806,
 'output': 959,
 'efficacy': 450,
 'rendering': 1094,
 'index': 677,
 'cri': 364,
 'cctwaltonwled': 262,
 'spot': 1237,
 'csls': 366,
 '5w': 56,
 'watt': 1429,
 'torch': 1315,
 'lightpowerful': 786,
 'cree': 362,
 'chip': 291,
 'weather': 1434,
 'distance': 410,
 'aircraft': 90,
 'grade': 584,
 'alloywaltonwled': 100,
 't6torch': 1281,
 'lighthigh': 782,
 'brightness': 220,
 'body': 201,
 'applicable': 118,
 'solar': 1215,
 'automobile': 132,
 'bus': 227,
 'truck': 1333,
 'fishing': 520,
 'boat': 200,
 'lightingwled': 784,
 'dc24v': 385,
 '10wwled': 12,
 '10w': 11,
 'push': 1042,
 'carin': 252,
 'indoor': 678,
 'stroller': 1255,
 'swing': 1273,
 'mercedes': 841,
 'benz': 180,
 'gl': 573,
 'convertible': 339,
 'product': 1029,
 'code': 314,
 'pushcarmbblueride': 1043,
 'carride': 253,
 'kick': 718,
 'scooter': 1149,
 'kidswheels': 721,
 'multicolor': 901,
 'scooterkick': 1150,
 'kidskick': 720,
 'rack': 1052,
 'game': 553,
 'combobaby': 318,
 'mat': 829,
 'toy': 1321,
 'ballsbaby': 151,
 'kitchen': 724,
 'setbaby': 1166,
 'music': 905,
 'lightbaby': 779,
 'farlin': 501,
 'magic': 813,
 'ball': 150,
 'housefarlin': 650,
 'house': 649,
 'ballsfarlin': 152,
 'playtime': 999,
 'king': 722,
 'slidersafe': 1202,
 'build': 225,
 'qualityplaytime': 1047,
 'sliderplaytime': 1201,
 'slider': 1200,
 'motor': 889,
 'rockerprocess': 1120,
 'blow': 195,
 'molding': 879,
 'hdpe': 626,
 'toxicity': 1320,
 'nontoxic': 929,
 'food': 532,
 'grademotor': 586,
 'rockermotor': 1119,
 'rocker': 1118,
 'scholar': 1146,
 'table': 1284,
 'chairtype': 273,
 'educational': 447,
 'process': 1025,
 'gradescholar': 587,
 'chairscholar': 272,
 'chair': 270,
 'bouncer': 207,
 'playing': 998,
 'relxationsoft': 1090,
 'mesh': 842,
 'conforms': 326,
 'newborn': 919,
 'adjusts': 84,
 'three': 1306,
 'position': 1008,
 'rest': 1102,
 'head': 627,
 'add': 80,
 'comfort': 320,
 'whilst': 1440,
 'bathing': 166,
 'lightweight': 788,
 'carrybaby': 254,
 'relxationbaby': 1089,
 'relxation': 1088,
 'study': 1257,
 'tablechildrens': 1286,
 'snack': 1210,
 'writing': 1465,
 'plastic': 995,
 'tablechildren': 1285,
 'science': 1147,
 'fifth': 516,
 'gradeit': 585,
 'cell': 267,
 'generator': 562,
 'windmill': 1447,
 'module': 877,
 'bazaar': 173,
 'carbon': 250,
 'charcoal': 278,
 'materialsscience': 831,
 'gradescience': 588,
 'captain': 248,
 'curiousmission': 370,
 'electrocannon': 455,
 'cannon': 244,
 'connector': 329,
 'five': 522,
 'soldier': 1216,
 'six': 1192,
 'shell': 1173,
 'sea': 1154,
 'adventure': 85,
 'cartesian': 255,
 'diver': 411,
 'rocketscaptain': 1121,
 'curiouscaptain': 369,
 'curious': 368,
 'mojar': 878,
 'periscopethere': 988,
 'making': 822,
 'periscope': 986,
 'boxmojar': 211,
 'periscopemojar': 987,
 'kit': 723,
 'focus': 530,
 'challengethis': 276,
 'consists': 332,
 'cable': 237,
 'zigzag': 1480,
 'attached': 127,
 'circuit': 301,
 'separately': 1162,
 'make': 821,
 'effective': 449,
 'loop': 799,
 'small': 1207,
 'large': 744,
 'dosmart': 419,
 'challengesmart': 275,
 'challenge': 274,
 'onnorokom': 944,
 'mystery': 906,
 'chemistryrubber': 286,
 'dish': 407,
 'cleaner': 305,
 'glycerin': 578,
 'beaker': 174,
 'calboc': 240,
 'tablet': 1287,
 'many': 825,
 'moreonnorokom': 885,
 'chemistryonnorokom': 285,
 'chemistry': 284,
 '2pcs': 35,
 'bangles': 156,
 '100': 6,
 '101karatk2pcs': 9,
 '1012pcs': 8,
 '101': 7,
 'nosepinwhite': 931,
 'diamond': 401,
 'green': 593,
 'diamondalaminnosepin': 402,
 'ringkaratkalaminring': 1114,
 'earringkaratkalaminearring': 442,
 'brisletkaratkalaminbrislet': 221,
 'shitaharkaratkalaminshitahar': 1174,
 'silaringkaratkalaminsilaring': 1182,
 'tiklikaratkalamintikli': 1308,
 'kanthoharkaratkalaminkanthohar': 711,
 'necklacekaratkalaminnecklace': 911,
 'genuine': 563,
 'walletmade': 1399,
 'height': 633,
 'cm': 308,
 'warrantygenuine': 1407,
 'walletra94c': 1401,
 'oras': 951,
 'wallet': 1397,
 'crocodile': 365,
 'texture': 1303,
 'leathermade': 755,
 'premium': 1017,
 'warrantycrocodile': 1406,
 'leatherra87c': 757,
 'leatheroras': 756,
 'walletra86k': 1400,
 'jeep': 704,
 'walletgenuine': 1398,
 'warrantyjeepra79n': 1408,
 'warrantyorasra68c': 1411,
 'ra38n': 1051,
 'menmade': 839,
 'warrantyra38n': 1414,
 'menra38n': 840,
 'original': 955,
 'warrantyorasra99c': 1413,
 'multi': 900,
 'travel': 1329,
 'warrantyorasra43k': 1410,
 'warrantyorasoras': 1409,
 'pursemade': 1041,
 'warrantyorasra69m': 1412,
 'purse': 1040,
 'semi': 1158,
 'panjabicomfortable': 970,
 'warele': 1403,
 'revesemi': 1104,
 'panjabi': 969,
 'dressmagenta': 423,
 'floral': 527,
 'aline': 92,
 'cotton': 354,
 'dress': 422,
 'shrugpspeachespspeaches': 1179,
 'silk': 1184,
 'readymade': 1070,
 'lehengalehenga': 761,
 'choli': 297,
 'fabric': 492,
 'satin': 1142,
 'ambroidery': 105,
 'work': 1461,
 'lehenga': 759,
 'inner': 682,
 'american': 108,
 'crepewhite': 363,
 'buttonlehenga': 230,
 'traditional': 1326,
 'designer': 396,
 'sareereal': 1139,
 'saree': 1137,
 'unistice': 1354,
 'blousemirrawwoven': 194,
 'maithili': 820,
 'sareeblue': 1138,
 'soft': 1214,
 'blouse': 191,
 ...}

In [69]:
tf_idf.get_feature_names_out()

array(['010', '013', '018', ..., 'zari', 'zigzag', 'zoom'], dtype=object)

In [70]:
tf_idf_vectors[0]

array([0., 0., 0., ..., 0., 0., 0.])

In [71]:
tf_idf_vectors.shape

(153, 1482)

In [72]:
tf_idf_vectors

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

## Check the similarity between the words

In [73]:
similarity = cosine_similarity(X=tf_idf_vectors)

In [74]:
similarity.shape

(153, 153)

In [75]:
similarity[0]

array([1.        , 0.        , 0.        , 0.        , 0.        ,
       0.05080068, 0.        , 0.        , 0.        , 0.        ,
       0.03643842, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.05569261, 0.        , 0.08197062, 0.10671665,
       0.        , 0.16662862, 0.        , 0.        , 0.        ,
       0.        , 0.05367003, 0.        , 0.05862727, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.06005527, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01432803, 0.03641095, 0.        ,
       0.        , 0.        , 0.        , 0.04259562, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.03375399, 0.        , 0.01958241, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.03174178, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.02112998, 0.        , 0.        , 0.        ,
       0.04057037, 0.        , 0.        , 0.        , 0.04827749,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.03296763,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.05120503, 0.        , 0.        ,
       0.        , 0.        , 0.04290672])

In [76]:
similarity[1]

array([0.        , 1.        , 0.        , 0.        , 0.03726122,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.20649522, 0.4637698 , 0.15366469, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.04770264, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.01919043, 0.02285002,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.01722134, 0.        ,
       0.        , 0.        , 0.        , 0.01606094, 0.        ,
       0.        , 0.        , 0.        , 0.02369431, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.02143076,
       0.        , 0.02947831, 0.        , 0.        , 0.        ,
       0.07261612, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.1151001 , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02065351, 0.        , 0.        , 0.        , 0.02457704,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01911181, 0.        , 0.02901894,
       0.        , 0.        , 0.03661099, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.01513488, 0.0162682 , 0.        , 0.        ,
       0.        , 0.        , 0.08184366, 0.        , 0.        ,
       0.        , 0.        , 0.        ])

In [77]:
similarity[1].shape

(153,)

### Demo test start

In [78]:
df2[df2['name'] == 'huawei']

,id,product_category_id,name,categoryName,tags
0,1,1,huawei,phone,huaweiscreen size camera ramgb battery mah ope...

In [79]:
df2[df2['name'] == 'huawei'].index

Int64Index([0], dtype='int64')

In [80]:
df2[df2['name'] == 'huawei'].index[0]

0

In [81]:
list(enumerate(similarity[df2[df2['name'] == 'huawei'].index[0]]))[:20]

[(0, 1.0000000000000004),
 (1, 0.0),
 (2, 0.0),
 (3, 0.0),
 (4, 0.0),
 (5, 0.050800679422527105),
 (6, 0.0),
 (7, 0.0),
 (8, 0.0),
 (9, 0.0),
 (10, 0.03643841692405252),
 (11, 0.0),
 (12, 0.0),
 (13, 0.0),
 (14, 0.0),
 (15, 0.0),
 (16, 0.05569260861762558),
 (17, 0.0),
 (18, 0.08197061839649739),
 (19, 0.10671664827707755)]

In [82]:
sorted(list(enumerate(similarity[df2[df2['name'] == 'huawei'].index[0]])), reverse=True, key=lambda x:x[1])[:20]

[(0, 1.0000000000000004),
 (21, 0.166628617914054),
 (19, 0.10671664827707755),
 (18, 0.08197061839649739),
 (43, 0.06005527357458365),
 (28, 0.058627268494138955),
 (16, 0.05569260861762558),
 (26, 0.053670026577402885),
 (147, 0.051205026452749526),
 (5, 0.050800679422527105),
 (119, 0.04827749203706904),
 (152, 0.04290671937378333),
 (58, 0.04259561621622305),
 (115, 0.04057037099651447),
 (10, 0.03643841692405252),
 (53, 0.036410954965271844),
 (76, 0.033753985153467204),
 (139, 0.03296763047696955),
 (90, 0.0317417762108766),
 (111, 0.021129976496250393)]

In [83]:
sorted(list(enumerate(similarity[df2[df2['name'] == 'huawei'].index[0]])), reverse=True, key=lambda x : x[1])[:10]

[(0, 1.0000000000000004),
 (21, 0.166628617914054),
 (19, 0.10671664827707755),
 (18, 0.08197061839649739),
 (43, 0.06005527357458365),
 (28, 0.058627268494138955),
 (16, 0.05569260861762558),
 (26, 0.053670026577402885),
 (147, 0.051205026452749526),
 (5, 0.050800679422527105)]

In [84]:
all_distance = sorted(list(enumerate(similarity[df2[df2['name'] == 'huawei'].index[0]])), reverse=True, key=lambda x : x[1])[:10]

In [85]:
for i in all_distance:
    print(df2.loc[i[0], 'name'])

huawei
realme
redmi
datsun
apple imac pc
oppo
motorola moto
iphone
diamond storm  pro rgb gaming casing
ladies backpack

### Demo Test End

### Recommendar Function

In [86]:
def productRecommender(productName):
    productName = productName.lower()
    product_index = df2[df2['name'] == productName].index[0]
    distances = sorted(list(enumerate(similarity[product_index])), reverse=True, key=lambda x : x[1])
    for i in distances[1:16]:
        print(df2.loc[i[0], 'name'], "---->", df2.loc[i[0], 'categoryName'])

In [87]:
productRecommender('hijab') # cosmetics

ladies backpack ----> bag
spot light ----> light
asus pc ----> computer accessories
wled-rb3wb22 light ----> light
baby gym rack and game pad combo ----> toys
maithili silk saree ----> cloths
starex 32 gs ----> television
apple imac pc ----> computer accessories
gigabit smart managed switch ----> computer accessories
super 16 ----> cycle
mojar periscope ----> educational
led light ----> light
lg 32lk510b 32" hd led television ----> television
onnorokom science box: mystery of chemistry ----> educational
xiaomi mi band 6 cn ----> watch

In [88]:
productRecommender('oneplus') # phone

forever bicycle ----> cycle
dual band gigabit 7 antennas router ----> electronics
diamond storm  pro rgb gaming casing ----> computer accessories
oppo ----> phone
iphone ----> phone
redmi ----> phone
chuwi herobook  laptop ----> laptop
huawei ----> phone
duranta ----> cycle
cadillac ----> car
aston martin ----> car
nike ----> bag
ladies backpack ----> bag
ladies backpack ----> bag
lakm ----> cosmetics

## Apply porterStemmer

In [90]:
ps = PorterStemmer()

### Remove stopwords and stem those words

In [91]:
def textPorterStemmer(text):
    words = word_tokenize(text=text)
    words = [ps.stem(word=word) for word in words if word not in stopwords.words('english')]
    text = ' '.join(words)
    return text

In [92]:
df3.head()

,id,product_category_id,name,categoryName,tags
0,1,1,huawei,phone,huaweiscreen size camera ramgb battery mah ope...
1,2,10,duranta,cycle,durantathis bicycle has a strong steel frame i...
2,19,20,cadillac,car,cadillacbasic years miles corrosion years mile...
3,20,20,aston martin,car,aston martinyears unlimited miles basic years ...
4,21,19,nike,bag,nikeyou can buy the gym bag traveling bag nike...

In [93]:
df3['tags'] = df3['tags'].apply(textPorterStemmer)

In [94]:
df3.loc[1, 'tags']

'durantathi bicycl strong steel frame brake system strong allow maintain control situat seat adjust chang need front rear wheel fit mudguard rider get mud ride roaddurantaduranta super sport bicycl'

## Apply CounterVectorizer

In [95]:
cv = CountVectorizer(max_features=1200)

In [96]:
cv_vectors = cv.fit_transform(raw_documents=df3['tags']).toarray()

In [97]:
cv_vectors.shape

(153, 1200)

In [98]:
cv_vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [99]:
cv_vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [100]:
cv_similarity = cosine_similarity(X=cv_vectors)

In [101]:
cv_similarity.shape

(153, 153)

In [102]:
cv.get_feature_names_out()

array(['010', '013', '018', ..., 'zari', 'zigzag', 'zoom'], dtype=object)

In [103]:
cv_similarity[0]

array([1.        , 0.        , 0.        , 0.        , 0.        ,
       0.08006408, 0.        , 0.        , 0.        , 0.        ,
       0.06019293, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.07715167, 0.        , 0.1132277 , 0.12909944,
       0.        , 0.26111648, 0.        , 0.        , 0.        ,
       0.        , 0.08703883, 0.        , 0.08333333, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.06019293, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02227177, 0.048795  , 0.        ,
       0.        , 0.        , 0.        , 0.06622662, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.06454972, 0.        , 0.03526728, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.0421076 , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.03258176, 0.        , 0.        , 0.        ,
       0.0421076 , 0.        , 0.        , 0.        , 0.05455447,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.06019293,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.06454972, 0.        , 0.09016696, 0.        , 0.        ,
       0.        , 0.        , 0.08006408])

### Recommendar Function for PorterStemmer

In [104]:
def productRecommender2(productName):
    try:
        productName = productName.lower()
        product_index = df3[df3['name'] == productName].index[0]
        distances = sorted(list(enumerate(cv_similarity[product_index])), reverse=True, key=lambda x : x[1])
        for i in distances[1:16]:
            productID, productName = df3.loc[i[0], ['id','name']]
            # print(f"Product ID:[{productID}] | Product Name: {productName}")
            print(df3.loc[i[0], 'name'], "---->", df3.loc[i[0], 'categoryName'])
            
            # category_id = int(df3.loc[i[0], 'product_category_id'])
            # print(dic_category[category_id])
            
    except Exception as e:
        print("Opps!", e.__class__,"occurred.")

In [119]:
# Demo test

df3[df3['name'] == "COTTON WOVEN SAREE".lower()]['product_category_id']

106    11
Name: product_category_id, dtype: int64

In [120]:
df3[df3['name'] == "COTTON WOVEN SAREE".lower()]['product_category_id'].values

array([11], dtype=int64)

In [121]:
df3[df3['name'] == "COTTON WOVEN SAREE".lower()]['product_category_id'].values[0]

11

In [105]:
dic_category.get(int(df3[df3['name'] == "COTTON WOVEN SAREE".lower()]['product_category_id'].values[0]))

# Demo test end

'cloths'

In [107]:
df3.head(3)

,id,product_category_id,name,categoryName,tags
0,1,1,huawei,phone,huaweiscreen size camera ramgb batteri mah ope...
1,2,10,duranta,cycle,durantathi bicycl strong steel frame brake sys...
2,19,20,cadillac,car,cadillacbas year mile corros year mile drivetr...

In [109]:
# dic_category.get(int(testdf[testdf['name'] == "HUAWEI"]['product_category_id'].values[0]))

In [116]:
def specificProductRecommender2(productName):
    try:
        productName = productName.lower()
        
        product_id = int(df3[df3['name'] == productName]['product_category_id'].values[0])
        product_category_name = dic_category.get(product_id)
        
        product_index = df3[df3['name'] == productName].index[0]
        distances = sorted(list(enumerate(cv_similarity[product_index])), reverse=True, key=lambda x : x[1])
        
        for i in distances[1:]:
            productID, productName = df3.loc[i[0], ['id','name']]
            # print(f"Product ID:[{productID}] | Product Name: {productName}")
            # print(df3.loc[i[0], 'name'], "---->", df3.loc[i[0], 'categoryName'])
            
            category_id = int(df3.loc[i[0], 'product_category_id'])
            if product_category_name == dic_category[category_id]:
                print(df3.loc[i[0], 'name'], "---->", df3.loc[i[0], 'categoryName'],",","productID: ",productID, "--->", "categoryID: ",category_id)
            else:
                pass
            # print(dic_category[category_id])
            
    except Exception as e:
        print("Opps!", e.__class__,"occurred.")
        

        
# def specificProductRecommender2(productName):
#     try:
#         # productName = productName.lower()
        
#         product_id = int(testdf[testdf['name'] == productName]['product_category_id'].values[0])
#         product_category_name = dic_category.get(product_id)
        
#         product_index = testdf[testdf['name'] == productName].index[0]
#         distances = sorted(list(enumerate(cv_similarity[product_index])), reverse=True, key=lambda x : x[1])
        
#         for i in distances[1:16]:
#             productID, productName = testdf.loc[i[0], ['id','name']]
#             # print(f"Product ID:[{productID}] | Product Name: {productName}")
#             # print(df3.loc[i[0], 'name'], "---->", df3.loc[i[0], 'categoryName'])
            
#             category_id = int(testdf.loc[i[0], 'product_category_id'])
#             if product_category_name == dic_category[category_id]:
#                 print(testdf.loc[i[0], 'name'], "---->", testdf.loc[i[0], 'categoryName'])
#             else:
#                 pass
#             # print(dic_category[category_id])
            
#     except Exception as e:
#         print("Opps!", e.__class__,"occurred.")

In [117]:
productRecommender2("hijab")

ladies backpack ----> bag
wled-rb3wb22 light ----> light
spot light ----> light
xiaomi mi band 6 cn ----> watch
asus pc ----> computer accessories
walton light ----> light
electronic watch ----> watch
haylou smart watch ----> watch
mojar periscope ----> educational
starex 32 gs ----> television
baby gym rack and game pad combo ----> toys
apple imac pc ----> computer accessories
lg 32lk510b 32" hd led television ----> television
led light ----> light
gigabit smart managed switch ----> computer accessories

In [118]:
specificProductRecommender2("hijab")

maithili silk saree ----> cloths , productID:  138 ---> categoryID:  11
semi fitted panjabi ----> cloths , productID:  133 ---> categoryID:  11
children dress ----> cloths , productID:  135 ---> categoryID:  11
silk readymade lehenga ----> cloths , productID:  136 ---> categoryID:  11
traditional designer silk saree ----> cloths , productID:  137 ---> categoryID:  11
handwoven silk sarees ----> cloths , productID:  139 ---> categoryID:  11
cotton woven saree ----> cloths , productID:  140 ---> categoryID:  11
embroidery lehenga ----> cloths , productID:  141 ---> categoryID:  11
floral wedding lehenga ----> cloths , productID:  142 ---> categoryID:  11
embroidered net semi stitched bridal lehenga ----> cloths , productID:  143 ---> categoryID:  11
semi stitched party wear lehenga ----> cloths , productID:  144 ---> categoryID:  11
printed rayon kurta-sets ----> cloths , productID:  145 ---> categoryID:  11
embroidered-kurtis ----> cloths , productID:  146 ---> categoryID:  11

In [113]:
df3[df3['categoryName'] == "bag"]['name']

4                                  nike
5                       ladies backpack
6                       ladies backpack
130                    laptop pouch bag
131    targus intellect laptop backpack
Name: name, dtype: object

In [114]:
import pickle

In [115]:
# pickle.dump(obj=similarity, file=open('if_idf_similarity.pkl','wb'))