In [1]:
import numpy as np
import pandas as pd
import re
import string

import nltk
from nltk import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
df = pd.read_csv("datasets/newdf.csv")

df.head()

,id,product_category_id,name,description,brand,Model
0,1,1,HUAWEI,"Screen Size\t:\t7.12"" (1080 x 2244) Camera\t:\...",HUAWEI,HUAWEI ENJOY MAX
1,2,10,Duranta,This bicycle has a strong steel frame. Its bra...,Duranta,Duranta Super Sports Bicycle
2,19,20,Cadillac,"Basic: 4 Years / 50000 Miles, Corrosion: 4 Yea...",Cadillac,Cadillac Escalade ESV
3,20,20,Aston Martin,"3 Years / Unlimited Miles Basic, 10 Years / Un...",Aston Martin,Aston Martin DB11 V8
4,21,19,Nike,you can buy the Gym Bag Traveling Bag NIKE Onl...,Nike,Gym bag

In [3]:
df.product_category_id.info()

<class 'pandas.core.series.Series'>
RangeIndex: 153 entries, 0 to 152
Series name: product_category_id
Non-Null Count  Dtype
--------------  -----
153 non-null    int64
dtypes: int64(1)
memory usage: 1.3 KB

In [4]:
dic_category = {1: 'phone', 2: 'cosmetics', 3: 'computer accessories', 4: 'educational',
               5: 'jewelry', 6: 'wallet', 8: 'toys', 9: 'light', 10: 'cycle', 11: 'cloths',
               12: 'laptop', 13: 'watch', 14: 'chair', 15: 'television', 16:'fan', 17: 'tools',
               18: 'musical instrument', 19: 'bag', 20: 'car', 21:'house items', 22:'electronics'}

dic_category

{1: 'phone',
 2: 'cosmetics',
 3: 'computer accessories',
 4: 'educational',
 5: 'jewelry',
 6: 'wallet',
 8: 'toys',
 9: 'light',
 10: 'cycle',
 11: 'cloths',
 12: 'laptop',
 13: 'watch',
 14: 'chair',
 15: 'television',
 16: 'fan',
 17: 'tools',
 18: 'musical instrument',
 19: 'bag',
 20: 'car',
 21: 'house items',
 22: 'electronics'}

In [5]:
dic_category.values()

dict_values(['phone', 'cosmetics', 'computer accessories', 'educational', 'jewelry', 'wallet', 'toys', 'light', 'cycle', 'cloths', 'laptop', 'watch', 'chair', 'television', 'fan', 'tools', 'musical instrument', 'bag', 'car', 'house items', 'electronics'])

In [6]:
# Add category column

df['categoryName'] = df['product_category_id'].map(dic_category)

df.head()

,id,product_category_id,name,description,brand,Model,categoryName
0,1,1,HUAWEI,"Screen Size\t:\t7.12"" (1080 x 2244) Camera\t:\...",HUAWEI,HUAWEI ENJOY MAX,phone
1,2,10,Duranta,This bicycle has a strong steel frame. Its bra...,Duranta,Duranta Super Sports Bicycle,cycle
2,19,20,Cadillac,"Basic: 4 Years / 50000 Miles, Corrosion: 4 Yea...",Cadillac,Cadillac Escalade ESV,car
3,20,20,Aston Martin,"3 Years / Unlimited Miles Basic, 10 Years / Un...",Aston Martin,Aston Martin DB11 V8,car
4,21,19,Nike,you can buy the Gym Bag Traveling Bag NIKE Onl...,Nike,Gym bag,bag

## EDA

In [7]:
# Check null values

df.isnull().sum()

id                     0
product_category_id    0
name                   0
description            0
brand                  0
Model                  0
categoryName           0
dtype: int64

In [8]:
# Check duplicate value

df.duplicated().sum()

0

In [9]:
# Shape
df.shape

(153, 7)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   153 non-null    int64
 1   product_category_id  153 non-null    int64
 2   name                 153 non-null    object
 3   description          153 non-null    object
 4   brand                153 non-null    object
 5   Model                153 non-null    object
 6   categoryName         153 non-null    object
dtypes: int64(2), object(5)
memory usage: 8.5+ KB

In [11]:
type(df.loc[0, 'description'])

str

In [12]:
print(df.product_category_id.value_counts(ascending=True))

print("the lenght: ", len(df.product_category_id.value_counts(ascending=True)))

2      2
14     3
16     3
10     4
21     5
19     5
12     5
4      5
9      5
18     6
15     7
13     9
8     10
6     10
20    10
1     10
5     12
22    13
11    14
3     15
Name: product_category_id, dtype: int64
the lenght:  20

In [13]:
# The values count in categories name column

df.categoryName.value_counts(ascending=True)

cosmetics                2
chair                    3
fan                      3
cycle                    4
house items              5
bag                      5
laptop                   5
educational              5
light                    5
musical instrument       6
television               7
watch                    9
toys                    10
wallet                  10
car                     10
phone                   10
jewelry                 12
electronics             13
cloths                  14
computer accessories    15
Name: categoryName, dtype: int64

In [14]:
# Created a groupby objects

all_group = df.groupby(by='categoryName')

In [15]:
# tolist() function make an array inot list

all_category_name = df.categoryName.unique().tolist()
print(all_category_name)
print("the length: ", len(all_category_name))

['phone', 'cycle', 'car', 'bag', 'cosmetics', 'cloths', 'television', 'fan', 'computer accessories', 'musical instrument', 'watch', 'light', 'toys', 'educational', 'jewelry', 'wallet', 'laptop', 'house items', 'electronics', 'chair']
the length:  20

In [16]:
# for productName,data in all_group:
#     print(productName)
#     print(data)

In [17]:
all_group.get_group(name="computer accessories")

,id,product_category_id,name,description,brand,Model,categoryName
40,73,3,Asus PC,Processor Type : Intel Corei5-7400 Processor S...,Asus,Asus A4321UKH Core i5 7th Gen All-In-One PC,computer accessories
41,74,3,Dell PC,Desktop Type : Gaming PC Processor Type : Inte...,Dell,Dell Vostro 3668 Core i5 1TB HDD,computer accessories
42,75,3,HP PC,Processor Type : Intel Core i3-8100T 8th Gener...,HP,HP ProOne 400 G4,computer accessories
43,76,3,Apple iMac PC,Processor\tQuad Core Intel Core i5 Processor c...,Apple,Apple iMac,computer accessories
44,77,3,walton Desktop PC,WDPC740010 - Intel B250 Express Chipset - Inte...,walton,walton Desktop PC WDPC740010 Full specifications,computer accessories
136,170,3,Standard Backup Online UPS,Capacity: 3000VA Ranged Voltage: 220/230/240Va...,MaxGreen,MGO-W3KS 3KVA,computer accessories
140,174,3,Microsoft Windows 10 Professional DVD,Processor: 1GHz or faster RAM: 2 GB for 64-bit...,Microsoft,Eng INTL 1PK DSP,computer accessories
144,178,3,Intel Core i3-2120 2nd Gen Processor,Clock Speed: 3.30 GHz Cache: 3 MB Intel Smart ...,intel,Core i3,computer accessories
145,179,3,CPU Liquid Cooler,High-Class Radiator Fans for Better Cooling Pe...,ZADAK SPARK,Lite ARGB 240mn,computer accessories
146,180,3,Non Modular Power Supply,Guaranteed 650W Continuous Power 80 PLUS certi...,Antec,VP650 Plus 650W,computer accessories
147,181,3,Diamond Storm Pro RGB Gaming Casing,Supports EATX to Mini-ITX form factors 3 x 120...,Redragon,Storm CA903 Pro RGB,computer accessories
148,182,3,Multifunction Mono Laser Photocopier,Print and Copy Speed: 22 ppm (Black) Duplex pr...,HP,MFP M438dn,computer accessories
149,183,3,Document Scanner,Speed:45 ppm in B&W Resolution: 600 x 600dpi C...,Canon,DR-C240,computer accessories
151,185,3,Gigabit Smart Managed Switch,Support 2 x 10/100/1000 Base-T/SFP Combo Slots...,D-Link,DES-1210-52 48 Port,computer accessories
152,186,3,Apple Magic Mouse,Wireless and rechargeable Multi-Touch surface ...,Apple,MK2E3AM/A,computer accessories

In [18]:
# df[df['categoryName'] == "computer accessories"][['name','categoryName']]

In [19]:
def forNameCol(text):
    patt = re.compile(pattern=r"[^a-zA-Z]")
    text = patt.sub(repl=' ', string=text)
    text = re.sub(pattern=r" (i|nd|th|TB|G|W|mn|dn) ", repl="", string=text)
    text = " ".join(text.split())
    return text

In [20]:
def forBrandCol(text):
    return text.replace('-','')

In [21]:
df.update(other=df[df['categoryName'] == "computer accessories"]['brand'].map(forBrandCol))

In [22]:
df.update(other=df[df['categoryName'] == "computer accessories"]['Model'].map(forNameCol))

In [23]:
all_group.get_group(name="computer accessories")

,id,product_category_id,name,description,brand,Model,categoryName
40,73,3,Asus PC,Processor Type : Intel Corei5-7400 Processor S...,Asus,Asus A UKH Core Gen All In One PC,computer accessories
41,74,3,Dell PC,Desktop Type : Gaming PC Processor Type : Inte...,Dell,Dell Vostro Core HDD,computer accessories
42,75,3,HP PC,Processor Type : Intel Core i3-8100T 8th Gener...,HP,HP ProOne,computer accessories
43,76,3,Apple iMac PC,Processor\tQuad Core Intel Core i5 Processor c...,Apple,Apple iMac,computer accessories
44,77,3,walton Desktop PC,WDPC740010 - Intel B250 Express Chipset - Inte...,walton,walton Desktop PC WDPC Full specifications,computer accessories
136,170,3,Standard Backup Online UPS,Capacity: 3000VA Ranged Voltage: 220/230/240Va...,MaxGreen,MGOKS KVA,computer accessories
140,174,3,Microsoft Windows 10 Professional DVD,Processor: 1GHz or faster RAM: 2 GB for 64-bit...,Microsoft,Eng INTL PK DSP,computer accessories
144,178,3,Intel Core i3-2120 2nd Gen Processor,Clock Speed: 3.30 GHz Cache: 3 MB Intel Smart ...,intel,Core,computer accessories
145,179,3,CPU Liquid Cooler,High-Class Radiator Fans for Better Cooling Pe...,ZADAK SPARK,Lite ARGB mn,computer accessories
146,180,3,Non Modular Power Supply,Guaranteed 650W Continuous Power 80 PLUS certi...,Antec,VP Plus W,computer accessories
147,181,3,Diamond Storm Pro RGB Gaming Casing,Supports EATX to Mini-ITX form factors 3 x 120...,Redragon,Storm CA Pro RGB,computer accessories
148,182,3,Multifunction Mono Laser Photocopier,Print and Copy Speed: 22 ppm (Black) Duplex pr...,HP,MFP M dn,computer accessories
149,183,3,Document Scanner,Speed:45 ppm in B&W Resolution: 600 x 600dpi C...,Canon,DR C,computer accessories
151,185,3,Gigabit Smart Managed Switch,Support 2 x 10/100/1000 Base-T/SFP Combo Slots...,DLink,DES Port,computer accessories
152,186,3,Apple Magic Mouse,Wireless and rechargeable Multi-Touch surface ...,Apple,MK E AM A,computer accessories

In [24]:
all_group.get_group(name="cloths")

,id,product_category_id,name,description,brand,Model,categoryName
9,26,11,Hijab,Product color may slightly vary due to photogr...,FASHION CAPITAL,Hijab 3 Pieces Combo Pack PS06.,cloths
100,133,11,Semi Fitted Panjabi,Comfortable to ware,Le Reve,Semi Fitted Panjabi,cloths
101,135,11,children dress,Magenta & White Floral A-Line Cotton Dress wit...,pspeaches,pspeaches,cloths
102,136,11,SILK READYMADE LEHENGA,Lehenga Choli Fabric Satin With Ambroidery Wor...,White Button,LEHENGA CHOLI FOR KIDS,cloths
103,137,11,TRADITIONAL DESIGNER SILK SAREE,Real Traditional silk saree with unistice blouse,Mirraw,WOVEN TRADITIONAL DESIGNER SILK SAREE,cloths
104,138,11,MAITHILI SILK SAREE,BLUE SOFT MAITHILI SILK SAREE WITH BLOUSE PIECE,Mirraw,BLUE SOFT MAITHILI SILK SAREE WITH BLOUSE PIECE,cloths
105,139,11,HANDWOVEN SILK SAREES,MAHATI GREEN HANDWOVEN SILK SAREES WITH BLOUSE,Mirraw,MAHATI GREEN HANDWOVEN SILK SAREES WITH BLOUSE,cloths
106,140,11,COTTON WOVEN SAREE,BLUE COTTON WOVEN SAREE WITH BLOUSE,Mirraw,BLUE COTTON WOVEN SAREE WITH BLOUSE,cloths
107,141,11,EMBROIDERY LEHENGA,DESIGNER EMBROIDERY LEHENGA CHOLI,Mirraw,DESIGNER EMBROIDERY LEHENGA CHOLI,cloths
108,142,11,FLORAL WEDDING LEHENGA,STUNNING ORGANZA ZARI AND SEQUINS WORK FLORAL...,Mirraw,STUNNING ORGANZA ZARI AND SEQUINS WORK FLORAL ...,cloths
109,143,11,EMBROIDERED NET SEMI STITCHED BRIDAL LEHENGA,MUSTARD YELLOW THREAD AND SEQUINS EMBROIDERED ...,Mirraw,MUSTARD YELLOW THREAD AND SEQUINS EMBROIDERED ...,cloths
110,144,11,SEMI STITCHED PARTY WEAR LEHENGA,SHUBHKALA CHARMING TEAL GREEN THREAD AND SEQUI...,Mirraw,SHUBHKALA CHARMING TEAL GREEN THREAD AND SEQUI...,cloths
111,145,11,PRINTED RAYON KURTA-SETS,"Color: Kurta : Teal Blue, Palazzo :Teal Blue |...",Mirraw,TEAL-BLUE PRINTED RAYON KURTA-SETS,cloths
112,146,11,EMBROIDERED-KURTIS,This Spectacular Dress From Kvsfab Will Give Y...,Mirraw,OLIVE GREEN EMBROIDERED GEORGETTE EMBROIDERED-...,cloths

In [25]:
all_group.get_group(name="jewelry")

,id,product_category_id,name,description,brand,Model,categoryName
80,113,5,2pcs-bangles-100-101,Karat:\t21k,2pcs-bangles-100-101,2pcs-bangles-100-101,jewelry
81,114,5,nosepin,8 white diamond and 1 green diamond,Alamin,nosepin,jewelry
82,115,5,ring,Karat:\t22k,Alamin,ring,jewelry
83,116,5,earring,Karat:\t22k,Alamin,earring,jewelry
84,117,5,Brislet,Karat:\t21k,Alamin,Brislet,jewelry
85,118,5,shitahar,Karat:\t21k,Alamin,shitahar,jewelry
86,119,5,silaring,Karat:\t22k,Alamin,silaring,jewelry
87,120,5,tikli,Karat:\t21k,Alamin,tikli,jewelry
88,121,5,kanthohar,Karat:\t21k,Alamin,kanthohar,jewelry
89,122,5,necklace,Karat:\t21k,Alamin,necklace,jewelry
113,147,5,GOLD CHOKERS,This Beautiful Jewellery Set Comes With Earrin...,Mirraw,I Jewels,jewelry
114,148,5,AFGHANI OXIDISED SILVER JEWELLERY,"Modern, Yet Ethnic Looks Genuine German Oxidiz...",Mad Club,AFGHANI OXIDISED SILVER JEWELLERY STYLISH ANTI...,jewelry

In [26]:
# gdf = all_group.get_group(name="jewelry").copy()
# gdf

In [27]:
all_group.get_group(name="phone")

,id,product_category_id,name,description,brand,Model,categoryName
0,1,1,HUAWEI,"Screen Size\t:\t7.12"" (1080 x 2244) Camera\t:\...",HUAWEI,HUAWEI ENJOY MAX,phone
16,34,1,Motorola Moto,Battery\t Type and Capacity\tLithium-polymer 5...,Motorola Moto,Motorola Moto G30,phone
19,37,1,Redmi,"OS\tAndroid 10, MIUI 12 Chipset\tQualcomm SM71...",Xiaomi,Xiaomi Redmi Note 9 Pro Max,phone
21,44,1,Realme,Display\t6.62 inches\t Primary Camera\t64 MP (...,Realme,Realme GT Neo 2,phone
23,47,1,Vivo,microSDXC (dedicated slot) Internal\t128GB 8GB...,Vivo,vivo V20,phone
24,49,1,Nokia,"4 MB RAM, 4 MB Internal storage, Single SIM",Nokia,Nokia 105,phone
26,54,1,iPhone,"Face ID, accelerometer, gyro, proximity, compa...",Apple,Apple iPhone 12 Pro Max,phone
28,57,1,Oppo,"Li-Po 4015 mAh, non-removable Charging\tFast c...",Oppo,Oppo F17 Pro,phone
29,59,1,OnePlus,"Single SIM (Nano-SIM) or Dual SIM (Nano-SIM, d...",OnePlus,OnePlus 9 Pro,phone
31,64,1,Samsung,"128GB 8GB RAM , 32-bit/384kHz audio",Samsung,Samsung Galaxy S20,phone

In [28]:
all_group.get_group(name="car")

,id,product_category_id,name,description,brand,Model,categoryName
2,19,20,Cadillac,"Basic: 4 Years / 50000 Miles, Corrosion: 4 Yea...",Cadillac,Cadillac Escalade ESV,car
3,20,20,Aston Martin,"3 Years / Unlimited Miles Basic, 10 Years / Un...",Aston Martin,Aston Martin DB11 V8,car
17,35,20,Tesla,Tesla All-Wheel Drive has two ultra-responsive,Tesla,Model Y,car
18,36,20,Datsun,Cylinders 3 Cylinders Inline Valves 4 Valves/C...,Datsun,Datsun redi-GO,car
20,43,20,Toyota,Engine\t:4Cylinder/2487cc Transmission(Gear)\t...,TOYOTA,TOYOTA RAV4 HYBRID AWD,car
22,45,20,Black Panther,the Lexus LC 500 is not your ordinary car. It ...,Black Panther,Lexus LC 500,car
25,53,20,Hyundai,Engine\t: 1368 cc Transmission(Gear)\t: 6-Spee...,Hyundai,Hyundai,car
27,55,20,BMW,The compact SUV can be had in two trims: Sport...,BMW,BMW X1,car
30,63,20,Ferrari,"Displacement (Cc)3,902 cc / 238.1 cu inEngine ...",Ferrari,Ferrari 488 GT3 Evo,car
32,65,20,X corolla,Drive TypeFront Wheel DriveGear BoxAutomaticSt...,X Corolla,Toyota Corolla x,car

In [29]:
all_group.get_group(name="wallet")

,id,product_category_id,name,description,brand,Model,categoryName
90,123,6,Genuine Leather Wallet,Made from 100% Genuine Leather Size : Height:...,Genuine Leather Wallet,RA94C ORAS Genuine Leather Wallet for Men,wallet
91,124,6,Crocodile Texture Genuine Leather,Made from Premium Genuine Leather 1 Year Leath...,Crocodile Texture Genuine Leather,RA87C ORAS Crocodile Texture Genuine Leather W...,wallet
92,125,6,ORAS Genuine Leather Wallet,Made from 100% Genuine Leather,ORAS Genuine Leather Wallet,RA86K ORAS Genuine Leather Wallet for Men,wallet
93,126,6,Jeep Genuine Leather Wallet,100% Genuine Leather Wallet. 1Year Leather War...,Jeep,RA79N Jeep Genuine Leather Wallet for Men,wallet
94,127,6,ORAS Genuine Leather Wallet,100% Genuine Leather Wallet. 1 Year Leather Wa...,ORAS,RA68C ORAS Genuine Leather Wallet for Men,wallet
95,128,6,RA38N ORAS Genuine Leather Wallet for Men,Made from 100% Genuine Leather 1 Year Leather ...,RA38N ORAS Genuine Leather Wallet for Men,RA38N ORAS Genuine Leather Wallet for Men,wallet
96,129,6,Key Wallet,100% Genuine Leather Wallet. Original ORAS Bra...,ORAS,RA99C ORAS Genuine Leather Key Wallet,wallet
97,130,6,Multi-Function Business Travel Wallet,Made from Genuine Leather 1 Year Leather Warranty,ORAS,RA43K ORAS Genuine Leather Multi-Function Busi...,wallet
98,131,6,ORAS Genuine Leather Key Wallet,Made From Genuine Leather 1 Year Leather Warranty,ORAS,ORAS Genuine Leather Key Wallet,wallet
99,132,6,Ladies Purse,Made from Premium Genuine Leather 1 Year Leath...,ORAS,RA69M ORAS Genuine Leather Ladies Purse,wallet

In [30]:
all_group.get_group(name="toys")

,id,product_category_id,name,description,brand,Model,categoryName
65,98,8,Ride On Push Car,3 In 1 Kids Indoor Outdoor Ride On Push Car St...,Ride On Push Car,Ride On Push Car,toys
66,99,8,kick scooter kids,3 wheels Adjustable Multi-Color Scooter For ki...,kick scooter kids,kick scooter kids,toys
67,100,8,Baby gym rack and game pad combo,Baby gym rack and game pad combo baby gym play...,Baby gym rack and game pad combo,Baby gym rack and game pad combo,toys
68,101,8,Baby Kitchen Set,Baby Kitchen Set with music n Light,Baby Kitchen Set,Baby Kitchen Set,toys
69,102,8,Farlin Baby Magic Ball House,Farlin Baby Magic Ball House (With 100 Balls),Farlin Baby Magic Ball House,Farlin Baby Magic Ball House,toys
70,103,8,Playtime King Slider,Safe for children Strong Build quality,Playtime King Slider,Playtime King Slider,toys
71,104,8,Motor Bike Rocker,Process: Blow molding Material: HDPE Toxicity:...,Motor Bike Rocker,Motor Bike Rocker,toys
72,105,8,Scholar Table With Chair,Type: Educational Process: Blow molding Materi...,Scholar Table With Chair,Scholar Table With Chair,toys
73,106,8,Baby Bouncer For Playing Sleeping & Relxation,Soft mesh support conforms to a newborns baby ...,Baby Bouncer For Playing Sleeping & Relxation,Baby Bouncer For Playing Sleeping & Relxation,toys
74,107,8,Children's Study Table,Children's Study Table Baby Snack Table Storag...,Children's Study Table,Children's Study Table,toys

In [31]:
all_group.get_group(name="watch")

,id,product_category_id,name,description,brand,Model,categoryName
51,84,13,Skmei watch,Product Types: Smart Watch Brand : SKMEI Model...,Skmei,Skmei 1481 Digital Watch,watch
52,85,13,Haylou Smart Watch,Product Tyeps: Smart Watch. Xiaomi Haylou RT2 ...,Haylou Smart Watch,Haylou Smart Watch LS10 RT2,watch
53,86,13,Xiaomi Mi Band 6 CN,Product Types: Smart Watch Band. Xiaomi Mi Ban...,Xiaomi Mi Band,Xiaomi Mi Band 6 CN,watch
54,87,13,CURREN 8356 Watch,Brand: Curren Watch style: Business Watches ca...,CURREN 8356,CURREN 8356 Luxury Business Quartz,watch
55,88,13,Curren,Style: Luxury Clasp Type: Bracelet Clasp Water...,Curren,Curren 8348 Luxury Brand Fashion Quartz Watch,watch
56,89,13,Ladies Bracelet Type Watch,Ladies Bracelet Type Watch Quartz Movement Sty...,Ladies Bracelet Type Watch,Ladies Bracelet Type Watch,watch
57,90,13,Electronic Watch,Electronicorigin China model Mi 3 touch white ...,Electronic Watch,Electronic Watch Girls and Boys Trend Touch Br...,watch
58,91,13,Michael Kors,Product Type: Watch Stainless Steel Mid Sizes ...,Michael Kors,Michael Kors Womens Watch,watch
59,92,13,Magnet Ladies Watch,Magnet Ladies Watch Boxes & Cases Material: Paper,Magnet Ladies Watch,Magnet Ladies Watch,watch

In [32]:
all_group.get_group(name="television")

,id,product_category_id,name,description,brand,Model,categoryName
13,31,15,Starex 32” GS,Dynamic Mega Contrast Ratio 32-Inch Display wi...,Starex,Starex 32” GS Smart Android Led Tv Monitor,television
14,32,15,Samsung 32N4010,The dimension of this LED TV is 737.4 mm x 438...,Samsung,"Samsung 32N4010 32"" Basic HD LED Television",television
15,33,15,Haier,Miracast Screen Mirroring,Haier,Haier H32D2M 32 Inch Miracast HD Non-Smart LED...,television
33,66,15,"Mango MGN1 32"" Borderless HD Smart Android LED...",Smart Android LED TV is one of the largest TVs...,Mango,"Mango MGN1 32"" Borderless HD Smart Android LED...",television
34,67,15,"LG 32LK510B 32"" HD LED Television",Dynamic Color & Virtual Surround Sound Immersi...,LG,"LG 32LK510B 32"" HD LED Television",television
35,68,15,Xiaomi TV,"Processor: MSD6683, CPU: CA53 x 4, up to 1.2GH...",Xiaomi Mi,Xiaomi Mi P1 L32M6-6ARG/6AEU 32-Inch Smart And...,television
36,69,15,Sony Bravia TV,"WiFi ,HDMI, RF, FM Youtube and more Built-in W...",Sony Bravia,"Sony Bravia KDL-32W600D 32"" Smart HD LED TV",television

In [33]:
all_group.get_group(name="musical instrument")

,id,product_category_id,name,description,brand,Model,categoryName
45,78,18,Guitar Stand Wall Mount Hanger Hook,Specifications of Guitar Stand Wall Mount Hang...,Guitar Stand Wall Mount Hanger Hook,Guitar Stand Wall Mount Hanger Hook,musical instrument
46,79,18,Casio keyboard SA 46,32 Mini Keys 8-Note Polyphony 50 Play Along Tr...,Casio,Casio keyboard SA 46,musical instrument
47,80,18,Fernedes Atlas 5x-2008 Bass Guitar,Alder Body/Maple Neck Bolt On Neck 21 Fret fin...,Fernedes Atlas 5x-2008 Bass Guitar,Fernedes Atlas 5x-2008 Bass Guitar,musical instrument
48,81,18,Sennheiser EW135P-G4 wireless Microphone,A broadcast quality sound solution. Providing ...,Sennheiser,Sennheiser EW135P-G4 wireless Microphone,musical instrument
49,82,18,Melody 3.5 Octave Stick Harmoniam,"-3.5 octaves, 42 keys in total the superb qu...",Melody,Melody 3.5 Octave Stick Harmoniam,musical instrument
50,83,18,Melody Tablya Baya,original neem wood tabla,Melody Tablya Baya,Melody Tablya Baya,musical instrument

In [34]:
all_group.get_group(name="light")

,id,product_category_id,name,description,brand,Model,categoryName
60,93,9,Walton Light,WALTON MODULAR FLOOD LIGHT Model Name\t WLED-...,Walton Light,WLED-MOD-2M100W,light
61,94,9,WLED-RB3WB22 light,Energy efficient & energy saves up to 90% in r...,Walton,WLED-RB3WB22,light
62,95,9,Spot light,Energy efficient & energy saves up to 90% in r...,Walton,WLED-CSLS-5W (5 Watt),light
63,96,9,Torch light,"Powerful CREE T6 LED chip, all Weather Waterpr...",Walton,WLED-T6TORCH-5W,light
64,97,9,LED Light,High Brightness. - Aluminum Body. - Appl...,WLED-DC24V-10W,WLED-DC24V-10W,light

In [35]:
all_group.get_group(name="educational")

,id,product_category_id,name,description,brand,Model,categoryName
75,108,4,science box fifth grade,"It includes solar cell, generator, windmill mo...",science box fifth grade,science box fifth grade,educational
76,109,4,Captain Curious,Mission Electrocannon Part 1. Electric cannon ...,Captain Curious,Captain Curious,educational
77,110,4,Mojar Periscope,There are two mirrors for making periscope wit...,Mojar Periscope,Mojar Periscope,educational
78,111,4,Smart Kit Focus Challenge,"This kit consists of three metal cables, such ...",Smart Kit Focus Challenge,Smart Kit Focus Challenge,educational
79,112,4,Onnorokom Science Box: Mystery Of Chemistry,"Rubber ball, Food color, Dish Cleaner, glyceri...",Onnorokom Science Box: Mystery Of Chemistry,Onnorokom Science Box: Mystery Of Chemistry,educational

In [36]:
all_group.get_group(name="laptop")

,id,product_category_id,name,description,brand,Model,categoryName
115,149,12,Chuwi HeroBook Laptop,Processor Intel Celeron Processor N4020 (4M Ca...,Chuwi,Chuwi HeroBook Pro,laptop
116,150,12,AVITA Essential 14 laptop,Processor Intel Celeron Processor N4020 (4M Ca...,AVITA,Essential 14,laptop
117,151,12,Lenovo IdeaPad Slim 3i Laptop,"Processor: Intel Celeron N4020 (4M Cache, 1.10...",Lenovo,IdeaPad Slim 3i,laptop
118,152,12,HP 15s laptop,Processor: Intel Pentium Silver N5030 (4M Cach...,HP,15s-du1116TU,laptop
119,153,12,Dell Inspiron 15 3515 Laptop,"Processor: AMD Ryzen 3 3250U (4MB CPU Cache, 2...",Dell,Inspiron 15 3515,laptop

In [37]:
all_group.get_group(name="house items")

,id,product_category_id,name,description,brand,Model,categoryName
120,154,21,VSN GD Refrigerator,Cooling effects: Freezer Cabinet Less than -18...,Vision,RE-200L Mirror Lotus-TM,house items
121,155,21,Vision Automatic Washing Machine,"Voltage/Frequency: 220V/50Hz Rated power, Wash...",Vision,STL02,house items
123,157,21,Microwave Oven,Oven Capacity: 25 L Rated Voltage: 230~50Hz Ra...,Vision,G25 Smart,house items
124,158,21,Rice Cooker RC-1.8,Inner Pot: Double pot (One is SS pot and one i...,Vision,L 40-06 SS Classic,house items
127,161,21,Blender VIS-SBL-018 Rapid Power,"220~240V, 50Hz, 650W, Stainless Steel Blender....",Vision,VIS-SBL-018,house items

In [38]:
all_group.get_group(name="bag")

,id,product_category_id,name,description,brand,Model,categoryName
4,21,19,Nike,you can buy the Gym Bag Traveling Bag NIKE Onl...,Nike,Gym bag,bag
5,22,19,Ladies Backpack,Material: PU Leather 3 in 1 for total set. Siz...,Ladies Backpack,Ladies Backpack and Shoulder Bag TR002,bag
6,23,19,Ladies Backpack,Product color may slightly vary due to photogr...,Ladies Backpack,Ladies Backpack and Shoulder Bag SL002,bag
130,164,19,Laptop Pouch bag,Good Quality Material Compatible with 13 inch...,backpack,Laptop Pouch bag for 13 inch Notebook,bag
131,165,19,Targus Intellect Laptop Backpack,"COMPATIBILITY Up to 15.6"" laptops LITRE CAPACI...",backpack,model s,bag

In [39]:
all_group.get_group(name="cycle")

,id,product_category_id,name,description,brand,Model,categoryName
1,2,10,Duranta,This bicycle has a strong steel frame. Its bra...,Duranta,Duranta Super Sports Bicycle,cycle
10,27,10,Forever Bicycle,"Mechanical dual disc brake, steel frame, 17-in...",Forever,Forever 2020 Bicycle,cycle
11,28,10,Express,This balance bicycle is made with a strong ste...,Express,Express Baby Pedal Balance Bicycle,cycle
12,30,10,Super 16,The Super 16 is a robust baby-balanced bicycle...,Super 16,Super 16 Heavy Baby Balanced Cycle,cycle

In [40]:
all_group.get_group(name="fan")

,id,product_category_id,name,description,brand,Model,categoryName
37,70,16,New Mini Fan,Specifications of New GFC Mini Rechargeable US...,GFC,New GFC Mini Rechargeable USB Charging Portabl...,fan
38,71,16,GFC Glamour Ceiling Fan,Superior quality aluminum alloy construction. ...,GFC Glamour,GFC Glamour Ceiling Fan Full specifications,fan
39,72,16,GFC Monet Ceiling Fan,Energy efficient Electrical Steel Sheet and 99...,GFC,GFC Monet Ceiling Fan,fan

In [41]:
all_group.get_group(name="chair")

,id,product_category_id,name,description,brand,Model,categoryName
141,175,14,Swivel Chair,Made from superior quality chrome plated mild ...,HATIL,Lyndon-127,chair
142,176,14,All Swivel Chair,Made from Chrome base mild steel and Nylon Bas...,HATIL,Pokemon-144,chair
143,177,14,HATIL Swivel Chair,Made from superior quality Nylon Base High qua...,HATIL,Ruby-140,chair

In [42]:
all_group.get_group(name="cosmetics")

,id,product_category_id,name,description,brand,Model,categoryName
7,24,2,Lakmé,"Water proof, lasts up to 22 hrs. It is dermato...",Lakme,Lakmé Eyeconic Kajal Deep Black,cosmetics
8,25,2,Lakmé 9 to 5,Provides uv protection. Gives Smooth Coverage....,Lakme,Lakmé Complexion Care Cream,cosmetics

In [43]:
all_group.get_group(name="electronics")

,id,product_category_id,name,description,brand,Model,categoryName
122,156,22,Multimedia Speaker,input: AUX Device supports: USB/SD/MMC/BT Blue...,Vision,Roar 1.0,electronics
125,159,22,WIFI Doll Camera,Processor HI3518E V200 Display resolution: 2.0...,Vision,Star V13Q,electronics
126,160,22,E. Kettle 1.0L,"Power: 1000W, 220V, 50Hz Fully Heat resistant,...",Vision,VIS-EK-013(ROYAL),electronics
128,162,22,VSN Electric Geyser,Capacity: 30 Liter/Hour Ceiling/Floor type ins...,Vision,RAC 30L Classic,electronics
129,163,22,Electronic Dry Iron,Thermostat temp control with 500 hours life ti...,Vision,VIS-DEI-010,electronics
132,166,22,ZOOM HD DIGITAL CAMERA,20.1MP Super HADâ„¢ CCD sensor 5x Optical Zoom...,Sony,Camera W-800,electronics
133,167,22,gaming headphone,Frequency Range 20 Hz – 20KHZ Impedance 32±15%...,Havit,HV-H2239D,electronics
134,168,22,Dual Band Gigabit 7 Antennas Router,6-Way high-performance signal amplifier 6 High...,Xiaomi Mi,R2350 AIoT AC2350,electronics
135,169,22,Wireless Earbuds,6.5 Hours Playtime (25 Hours with Charging Cas...,Anker,Soundcore R100,electronics
137,171,22,Single Function Mono Laser Printer,Print Speed:18 PPM(Bk) Resolution: 600x600 dpi...,Canon,LBP 6030,electronics
138,172,22,Smart Managed Switch,Forwarding performance: 11.9 Mpps 8 Gigabit Et...,Zyxel,GS1900-8 8-Port,electronics
139,173,22,Digital Voice Recorder,"MP3 128 kbps Stereo, Stereo 3.5mm Input & outp...",Sony,ICD-PX370 4GB,electronics
150,184,22,STAR 2000VA IPS,Capacity 2000VA Protection Short Circuit Displ...,STAR,STAR -EP-SL,electronics

In [44]:
# Check the unique values in name column

unique_value ,num_count = np.unique(ar=df.name, return_counts=True)

In [45]:
len(unique_value)

151

In [46]:
num_count

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
      dtype=int64)

In [47]:
df.name.value_counts()

ORAS Genuine Leather Wallet    2
Ladies Backpack                2
HUAWEI                         1
HANDWOVEN SILK SAREES          1
Ladies Purse                   1
                              ..
Haylou Smart Watch             1
Xiaomi Mi Band 6 CN            1
CURREN 8356 Watch              1
Curren                         1
Apple Magic Mouse              1
Name: name, Length: 151, dtype: int64

In [48]:
for i, j in zip(unique_value, num_count):
    print(f'Product Name: {i} -----> Total counts: {j}')

Product Name: 2pcs-bangles-100-101 -----> Total counts: 1
Product Name: AFGHANI OXIDISED SILVER JEWELLERY -----> Total counts: 1
Product Name: AVITA Essential 14 laptop -----> Total counts: 1
Product Name: All Swivel Chair -----> Total counts: 1
Product Name: Apple Magic Mouse -----> Total counts: 1
Product Name: Apple iMac PC -----> Total counts: 1
Product Name: Aston Martin -----> Total counts: 1
Product Name: Asus PC -----> Total counts: 1
Product Name: BMW -----> Total counts: 1
Product Name: Baby Bouncer For Playing Sleeping & Relxation -----> Total counts: 1
Product Name: Baby Kitchen Set -----> Total counts: 1
Product Name: Baby gym rack and game pad combo -----> Total counts: 1
Product Name: Black Panther -----> Total counts: 1
Product Name: Blender VIS-SBL-018 Rapid Power -----> Total counts: 1
Product Name: Brislet -----> Total counts: 1
Product Name: COTTON WOVEN SAREE -----> Total counts: 1
Product Name: CPU Liquid Cooler -----> Total counts: 1
Product Name: CURREN 8356 Watch -----> Total counts: 1
Product Name: Cadillac -----> Total counts: 1
Product Name: Captain Curious -----> Total counts: 1
Product Name: Casio keyboard SA 46 -----> Total counts: 1
Product Name: Children's Study Table -----> Total counts: 1
Product Name: Chuwi HeroBook  Laptop -----> Total counts: 1
Product Name: Crocodile Texture Genuine Leather -----> Total counts: 1
Product Name: Curren -----> Total counts: 1
Product Name: Datsun -----> Total counts: 1
Product Name: Dell Inspiron 15 3515 Laptop -----> Total counts: 1
Product Name: Dell PC -----> Total counts: 1
Product Name: Diamond Storm  Pro RGB Gaming Casing -----> Total counts: 1
Product Name: Digital Voice Recorder -----> Total counts: 1
Product Name: Document Scanner -----> Total counts: 1
Product Name: Dual Band Gigabit 7 Antennas Router -----> Total counts: 1
Product Name: Duranta -----> Total counts: 1
Product Name: E. Kettle 1.0L -----> Total counts: 1
Product Name: EMBROIDERED NET SEMI STITCHED BRIDAL LEHENGA -----> Total counts: 1
Product Name: EMBROIDERED-KURTIS -----> Total counts: 1
Product Name: EMBROIDERY LEHENGA -----> Total counts: 1
Product Name: Electronic Dry Iron -----> Total counts: 1
Product Name: Electronic Watch -----> Total counts: 1
Product Name: Express -----> Total counts: 1
Product Name: FLORAL WEDDING LEHENGA -----> Total counts: 1
Product Name: Farlin Baby Magic Ball House -----> Total counts: 1
Product Name: Fernedes Atlas 5x-2008 Bass Guitar -----> Total counts: 1
Product Name: Ferrari -----> Total counts: 1
Product Name: Forever Bicycle -----> Total counts: 1
Product Name: GFC Glamour Ceiling Fan -----> Total counts: 1
Product Name: GFC Monet Ceiling Fan -----> Total counts: 1
Product Name: GOLD CHOKERS -----> Total counts: 1
Product Name: Genuine Leather Wallet -----> Total counts: 1
Product Name: Gigabit Smart Managed Switch -----> Total counts: 1
Product Name: Guitar Stand Wall Mount Hanger Hook -----> Total counts: 1
Product Name: HANDWOVEN SILK SAREES -----> Total counts: 1
Product Name: HATIL Swivel Chair -----> Total counts: 1
Product Name: HP 15s laptop -----> Total counts: 1
Product Name: HP PC -----> Total counts: 1
Product Name: HUAWEI -----> Total counts: 1
Product Name: Haier -----> Total counts: 1
Product Name: Haylou Smart Watch -----> Total counts: 1
Product Name: Hijab -----> Total counts: 1
Product Name: Hyundai -----> Total counts: 1
Product Name: Intel Core i3-2120 2nd Gen Processor -----> Total counts: 1
Product Name: Jeep Genuine Leather Wallet -----> Total counts: 1
Product Name: Key Wallet -----> Total counts: 1
Product Name: LED Light -----> Total counts: 1
Product Name: LG 32LK510B 32" HD LED Television -----> Total counts: 1
Product Name: Ladies Backpack -----> Total counts: 2
Product Name: Ladies Bracelet Type Watch -----> Total counts: 1
Product Name: Ladies Purse -----> Total counts: 1
Product Name: Lakmé -----> Total counts: 1
Product Name: Lakmé 9 to 5 -----> Total counts: 1
Product Name: Laptop Pouch bag -----> Total counts: 1
Product Name: Lenovo IdeaPad Slim 3i Laptop -----> Total counts: 1
Product Name: MAITHILI SILK SAREE -----> Total counts: 1
Product Name: Magnet Ladies Watch -----> Total counts: 1
Product Name: Mango MGN1 32" Borderless HD Smart Android LED Television -----> Total counts: 1
Product Name: Melody 3.5 Octave Stick Harmoniam -----> Total counts: 1
Product Name: Melody Tablya Baya -----> Total counts: 1
Product Name: Michael Kors -----> Total counts: 1
Product Name: Microsoft Windows 10 Professional  DVD -----> Total counts: 1
Product Name: Microwave Oven -----> Total counts: 1
Product Name: Mojar Periscope -----> Total counts: 1
Product Name: Motor Bike Rocker -----> Total counts: 1
Product Name: Motorola Moto -----> Total counts: 1
Product Name: Multi-Function Business Travel Wallet -----> Total counts: 1
Product Name: Multifunction Mono Laser Photocopier -----> Total counts: 1
Product Name: Multimedia Speaker -----> Total counts: 1
Product Name: New Mini Fan -----> Total counts: 1
Product Name: Nike -----> Total counts: 1
Product Name: Nokia -----> Total counts: 1
Product Name: Non Modular Power Supply -----> Total counts: 1
Product Name: ORAS Genuine Leather Key Wallet -----> Total counts: 1
Product Name: ORAS Genuine Leather Wallet -----> Total counts: 2
Product Name: OnePlus -----> Total counts: 1
Product Name: Onnorokom Science Box: Mystery Of Chemistry -----> Total counts: 1
Product Name: Oppo -----> Total counts: 1
Product Name: PRINTED RAYON KURTA-SETS -----> Total counts: 1
Product Name: Playtime King Slider -----> Total counts: 1
Product Name: RA38N ORAS Genuine Leather Wallet for Men -----> Total counts: 1
Product Name: Realme -----> Total counts: 1
Product Name: Redmi -----> Total counts: 1
Product Name: Rice Cooker RC-1.8 -----> Total counts: 1
Product Name: Ride On Push Car -----> Total counts: 1
Product Name: SEMI STITCHED PARTY WEAR LEHENGA -----> Total counts: 1
Product Name: SILK READYMADE LEHENGA -----> Total counts: 1
Product Name: STAR 2000VA IPS -----> Total counts: 1
Product Name: Samsung -----> Total counts: 1
Product Name: Samsung 32N4010 -----> Total counts: 1
Product Name: Scholar Table With Chair -----> Total counts: 1
Product Name: Semi Fitted Panjabi -----> Total counts: 1
Product Name: Sennheiser EW135P-G4 wireless Microphone -----> Total counts: 1
Product Name: Single Function Mono Laser Printer -----> Total counts: 1
Product Name: Skmei watch -----> Total counts: 1
Product Name: Smart Kit Focus Challenge -----> Total counts: 1
Product Name: Smart Managed Switch -----> Total counts: 1
Product Name: Sony Bravia  TV -----> Total counts: 1
Product Name: Spot light -----> Total counts: 1
Product Name: Standard Backup Online UPS -----> Total counts: 1
Product Name: Starex 32” GS -----> Total counts: 1
Product Name: Super 16 -----> Total counts: 1
Product Name: Swivel Chair -----> Total counts: 1
Product Name: TRADITIONAL DESIGNER SILK SAREE -----> Total counts: 1
Product Name: Targus Intellect Laptop Backpack -----> Total counts: 1
Product Name: Tesla -----> Total counts: 1
Product Name: Torch light -----> Total counts: 1
Product Name: Toyota -----> Total counts: 1
Product Name: VSN Electric Geyser -----> Total counts: 1
Product Name: VSN GD Refrigerator -----> Total counts: 1
Product Name: Vision Automatic Washing Machine -----> Total counts: 1
Product Name: Vivo -----> Total counts: 1
Product Name: WIFI Doll Camera -----> Total counts: 1
Product Name: WLED-RB3WB22 light -----> Total counts: 1
Product Name: Walton Light -----> Total counts: 1
Product Name: Wireless Earbuds -----> Total counts: 1
Product Name: X corolla -----> Total counts: 1
Product Name: Xiaomi Mi Band 6 CN -----> Total counts: 1
Product Name: Xiaomi TV -----> Total counts: 1
Product Name: ZOOM HD DIGITAL CAMERA -----> Total counts: 1
Product Name: children dress -----> Total counts: 1
Product Name: earring -----> Total counts: 1
Product Name: gaming headphone -----> Total counts: 1
Product Name: iPhone -----> Total counts: 1
Product Name: kanthohar -----> Total counts: 1
Product Name: kick scooter kids -----> Total counts: 1
Product Name: necklace -----> Total counts: 1
Product Name: nosepin -----> Total counts: 1
Product Name: ring -----> Total counts: 1
Product Name: science box fifth grade -----> Total counts: 1
Product Name: shitahar -----> Total counts: 1
Product Name: silaring -----> Total counts: 1
Product Name: tikli -----> Total counts: 1
Product Name: walton Desktop PC -----> Total counts: 1

## Text preprocessing

In [49]:
df.head(5)

,id,product_category_id,name,description,brand,Model,categoryName
0,1,1,HUAWEI,"Screen Size\t:\t7.12"" (1080 x 2244) Camera\t:\...",HUAWEI,HUAWEI ENJOY MAX,phone
1,2,10,Duranta,This bicycle has a strong steel frame. Its bra...,Duranta,Duranta Super Sports Bicycle,cycle
2,19,20,Cadillac,"Basic: 4 Years / 50000 Miles, Corrosion: 4 Yea...",Cadillac,Cadillac Escalade ESV,car
3,20,20,Aston Martin,"3 Years / Unlimited Miles Basic, 10 Years / Un...",Aston Martin,Aston Martin DB11 V8,car
4,21,19,Nike,you can buy the Gym Bag Traveling Bag NIKE Onl...,Nike,Gym bag,bag

In [50]:
df.loc[0, 'description']

'Screen Size\t:\t7.12" (1080 x 2244) Camera\t:\t16 + 2 | 8 MP RAM\t:\t4GB Battery\t:\t5000 mAh Operating system\t:\tAndroid Soc\t:\tQualcomm SDM636 Snapdragon 636 Processor\t:\tOcta'

In [51]:
# Make lower case the text

def makeLowerCase(text):
    return text.lower()

In [52]:
df['name'] = df['name'].apply(func=makeLowerCase)
df['description'] = df['description'].apply(func=makeLowerCase)
df['brand'] = df['brand'].apply(func=makeLowerCase)
df['Model'] = df['Model'].apply(func=makeLowerCase)

In [53]:
df.head()

,id,product_category_id,name,description,brand,Model,categoryName
0,1,1,huawei,"screen size\t:\t7.12"" (1080 x 2244) camera\t:\...",huawei,huawei enjoy max,phone
1,2,10,duranta,this bicycle has a strong steel frame. its bra...,duranta,duranta super sports bicycle,cycle
2,19,20,cadillac,"basic: 4 years / 50000 miles, corrosion: 4 yea...",cadillac,cadillac escalade esv,car
3,20,20,aston martin,"3 years / unlimited miles basic, 10 years / un...",aston martin,aston martin db11 v8,car
4,21,19,nike,you can buy the gym bag traveling bag nike onl...,nike,gym bag,bag

In [54]:
def removeWhiteSpace(text):
    lis = []
    patt = re.compile(pattern=r"[^a-zA-Z]")
    text = patt.sub(repl="", string=text)
    for i in text.split():
        if len(i) == 1 or len(i) == 2:
            pass
        else:
            lis.append(i)
    text = "".join(lis)
    return text

In [55]:
# Demo test
removeWhiteSpace("Aston Martin DB11 V8")

# Demo test end

'AstonMartinDBV'

In [56]:
df['updatedName'] = df['name'].apply(func=removeWhiteSpace)

df['updatedBrand'] = df['brand'].apply(func=removeWhiteSpace)

# df['updatedModel'] = df['Model'].apply(func=removeWhiteSpace)

In [57]:
df.head()

,id,product_category_id,name,description,brand,Model,categoryName,updatedName,updatedBrand
0,1,1,huawei,"screen size\t:\t7.12"" (1080 x 2244) camera\t:\...",huawei,huawei enjoy max,phone,huawei,huawei
1,2,10,duranta,this bicycle has a strong steel frame. its bra...,duranta,duranta super sports bicycle,cycle,duranta,duranta
2,19,20,cadillac,"basic: 4 years / 50000 miles, corrosion: 4 yea...",cadillac,cadillac escalade esv,car,cadillac,cadillac
3,20,20,aston martin,"3 years / unlimited miles basic, 10 years / un...",aston martin,aston martin db11 v8,car,astonmartin,astonmartin
4,21,19,nike,you can buy the gym bag traveling bag nike onl...,nike,gym bag,bag,nike,nike

In [58]:
all_group2 = df.groupby(by='categoryName')

In [59]:
# all_group2.get_group(name="computer accessories")

all_group2.get_group(name="phone")

,id,product_category_id,name,description,brand,Model,categoryName,updatedName,updatedBrand
0,1,1,huawei,"screen size\t:\t7.12"" (1080 x 2244) camera\t:\...",huawei,huawei enjoy max,phone,huawei,huawei
16,34,1,motorola moto,battery\t type and capacity\tlithium-polymer 5...,motorola moto,motorola moto g30,phone,motorolamoto,motorolamoto
19,37,1,redmi,"os\tandroid 10, miui 12 chipset\tqualcomm sm71...",xiaomi,xiaomi redmi note 9 pro max,phone,redmi,xiaomi
21,44,1,realme,display\t6.62 inches\t primary camera\t64 mp (...,realme,realme gt neo 2,phone,realme,realme
23,47,1,vivo,microsdxc (dedicated slot) internal\t128gb 8gb...,vivo,vivo v20,phone,vivo,vivo
24,49,1,nokia,"4 mb ram, 4 mb internal storage, single sim",nokia,nokia 105,phone,nokia,nokia
26,54,1,iphone,"face id, accelerometer, gyro, proximity, compa...",apple,apple iphone 12 pro max,phone,iphone,apple
28,57,1,oppo,"li-po 4015 mah, non-removable charging\tfast c...",oppo,oppo f17 pro,phone,oppo,oppo
29,59,1,oneplus,"single sim (nano-sim) or dual sim (nano-sim, d...",oneplus,oneplus 9 pro,phone,oneplus,oneplus
31,64,1,samsung,"128gb 8gb ram , 32-bit/384khz audio",samsung,samsung galaxy s20,phone,samsung,samsung

In [60]:
def simplePreprocessing(text):
    patt = re.compile(pattern=r"[\t:\d\.]")
    a = patt.sub(repl="", string=text)
    b = a.translate(str.maketrans('','',string.punctuation))
    c = " ".join(b.split())
    return c

In [61]:
df['description'] = df['description'].apply(func=simplePreprocessing)

df.head()

,id,product_category_id,name,description,brand,Model,categoryName,updatedName,updatedBrand
0,1,1,huawei,screen size x camera mp ramgb battery mah oper...,huawei,huawei enjoy max,phone,huawei,huawei
1,2,10,duranta,this bicycle has a strong steel frame its brak...,duranta,duranta super sports bicycle,cycle,duranta,duranta
2,19,20,cadillac,basic years miles corrosion years miles drivet...,cadillac,cadillac escalade esv,car,cadillac,cadillac
3,20,20,aston martin,years unlimited miles basic years unlimited mi...,aston martin,aston martin db11 v8,car,astonmartin,astonmartin
4,21,19,nike,you can buy the gym bag traveling bag nike onl...,nike,gym bag,bag,nike,nike

In [62]:
patt = re.compile(pattern=r" (mm|mm x|w mm|mp|x|w|mp) ")
patt2 = re.compile(pattern=r" (ww|x x|f|w|mm|n m|a l v|n) ")
patt3 = re.compile(pattern=r" (q|v|l|hz – khz|uv|hr|pu) ")

mypatt = [patt, patt2, patt3]

def removeSingleAlphabet(text):
    for i in mypatt:
        text = i.sub(repl=" ", string=text)
    return text

In [63]:
df['description'] = df['description'].apply(func=removeSingleAlphabet)

df.head()

,id,product_category_id,name,description,brand,Model,categoryName,updatedName,updatedBrand
0,1,1,huawei,screen size camera ramgb battery mah operating...,huawei,huawei enjoy max,phone,huawei,huawei
1,2,10,duranta,this bicycle has a strong steel frame its brak...,duranta,duranta super sports bicycle,cycle,duranta,duranta
2,19,20,cadillac,basic years miles corrosion years miles drivet...,cadillac,cadillac escalade esv,car,cadillac,cadillac
3,20,20,aston martin,years unlimited miles basic years unlimited mi...,aston martin,aston martin db11 v8,car,astonmartin,astonmartin
4,21,19,nike,you can buy the gym bag traveling bag nike onl...,nike,gym bag,bag,nike,nike

In [64]:
df['tags'] = df['name'] + df['description'] + df['brand'] + df['Model']

df.head()

,id,product_category_id,name,description,brand,Model,categoryName,updatedName,updatedBrand,tags
0,1,1,huawei,screen size camera ramgb battery mah operating...,huawei,huawei enjoy max,phone,huawei,huawei,huaweiscreen size camera ramgb battery mah ope...
1,2,10,duranta,this bicycle has a strong steel frame its brak...,duranta,duranta super sports bicycle,cycle,duranta,duranta,durantathis bicycle has a strong steel frame i...
2,19,20,cadillac,basic years miles corrosion years miles drivet...,cadillac,cadillac escalade esv,car,cadillac,cadillac,cadillacbasic years miles corrosion years mile...
3,20,20,aston martin,years unlimited miles basic years unlimited mi...,aston martin,aston martin db11 v8,car,astonmartin,astonmartin,aston martinyears unlimited miles basic years ...
4,21,19,nike,you can buy the gym bag traveling bag nike onl...,nike,gym bag,bag,nike,nike,nikeyou can buy the gym bag traveling bag nike...

In [65]:
# df2 = df.drop(columns=['description', 'brand', 'Model'])

df2 = df.drop(columns=['description', 'brand', 'Model','updatedName','updatedBrand'])

df2.head()

,id,product_category_id,name,categoryName,tags
0,1,1,huawei,phone,huaweiscreen size camera ramgb battery mah ope...
1,2,10,duranta,cycle,durantathis bicycle has a strong steel frame i...
2,19,20,cadillac,car,cadillacbasic years miles corrosion years mile...
3,20,20,aston martin,car,aston martinyears unlimited miles basic years ...
4,21,19,nike,bag,nikeyou can buy the gym bag traveling bag nike...

In [66]:
df2.shape

(153, 5)

In [67]:
# Check null value

df2.isnull().sum().sum()

0

In [68]:
# analysis a single row

df2.loc[1, 'tags']

'durantathis bicycle has a strong steel frame its brake system is very strong which allows you to maintain control in all situations its seat is adjustable so you can change it as needed its front and rear wheels are fitted with mudguards so that the rider does not get mud while riding on the roaddurantaduranta super sports bicycle'

In [69]:
# demo test

print(df2.loc[1, 'tags'].split())

['durantathis', 'bicycle', 'has', 'a', 'strong', 'steel', 'frame', 'its', 'brake', 'system', 'is', 'very', 'strong', 'which', 'allows', 'you', 'to', 'maintain', 'control', 'in', 'all', 'situations', 'its', 'seat', 'is', 'adjustable', 'so', 'you', 'can', 'change', 'it', 'as', 'needed', 'its', 'front', 'and', 'rear', 'wheels', 'are', 'fitted', 'with', 'mudguards', 'so', 'that', 'the', 'rider', 'does', 'not', 'get', 'mud', 'while', 'riding', 'on', 'the', 'roaddurantaduranta', 'super', 'sports', 'bicycle']

In [70]:
print(word_tokenize(text=df2.loc[1, 'tags']))

# demo end

['durantathis', 'bicycle', 'has', 'a', 'strong', 'steel', 'frame', 'its', 'brake', 'system', 'is', 'very', 'strong', 'which', 'allows', 'you', 'to', 'maintain', 'control', 'in', 'all', 'situations', 'its', 'seat', 'is', 'adjustable', 'so', 'you', 'can', 'change', 'it', 'as', 'needed', 'its', 'front', 'and', 'rear', 'wheels', 'are', 'fitted', 'with', 'mudguards', 'so', 'that', 'the', 'rider', 'does', 'not', 'get', 'mud', 'while', 'riding', 'on', 'the', 'roaddurantaduranta', 'super', 'sports', 'bicycle']

In [71]:
df3 = df2.copy()

## Create WordNetLemmatizer object

In [72]:
lemmatizer = WordNetLemmatizer()

## Remove stopwords and lemmatize those words

In [73]:
def textLemmatizer(text):
    words = word_tokenize(text=text)
    words = [lemmatizer.lemmatize(word=word) for word in words if word not in stopwords.words('english')]
    text = ' '.join(words)
    return text

In [74]:
# Demo test

text = """this bicycle has a strong steel frame its brake system is very strong which allows you to maintain control in all situations its seat is adjustable so you can change it as needed its front and rear wheels are fitted with mudguards so that the rider does not get mud while riding on the roaddurantaduranta super sports bicycle"""

result = textLemmatizer(text)

result

# demo test end

'bicycle strong steel frame brake system strong allows maintain control situation seat adjustable change needed front rear wheel fitted mudguard rider get mud riding roaddurantaduranta super sport bicycle'

In [75]:
df2['tags'] = df2['tags'].apply(textLemmatizer)

df2.head()

,id,product_category_id,name,categoryName,tags
0,1,1,huawei,phone,huaweiscreen size camera ramgb battery mah ope...
1,2,10,duranta,cycle,durantathis bicycle strong steel frame brake s...
2,19,20,cadillac,car,cadillacbasic year mile corrosion year mile dr...
3,20,20,aston martin,car,aston martinyears unlimited mile basic year un...
4,21,19,nike,bag,nikeyou buy gym bag traveling bag nike online ...

In [76]:
df2.loc[1, 'tags']

'durantathis bicycle strong steel frame brake system strong allows maintain control situation seat adjustable change needed front rear wheel fitted mudguard rider get mud riding roaddurantaduranta super sport bicycle'

## Apply TF-IDF

In [77]:
tf_idf = TfidfVectorizer(max_features=1400)

In [78]:
tf_idf_vectors = tf_idf.fit_transform(raw_documents=df2['tags']).toarray()

In [79]:
tf_idf.idf_

array([5.34380542, 5.34380542, 5.34380542, ..., 5.34380542, 5.34380542,
       5.34380542])

In [80]:
tf_idf.vocabulary_

{'huaweiscreen': 618,
 'size': 1112,
 'camera': 225,
 'ramgb': 975,
 'battery': 153,
 'mah': 752,
 'operating': 864,
 'systemandroid': 1199,
 'socqualcomm': 1132,
 'sdm': 1072,
 'snapdragon': 1130,
 'processoroctahuaweihuawei': 948,
 'enjoy': 428,
 'max': 758,
 'durantathis': 402,
 'bicycle': 170,
 'strong': 1175,
 'steel': 1166,
 'frame': 501,
 'brake': 200,
 'system': 1198,
 'allows': 82,
 'maintain': 754,
 'control': 302,
 'situation': 1110,
 'seat': 1074,
 'adjustable': 69,
 'change': 261,
 'needed': 832,
 'front': 507,
 'rear': 992,
 'wheel': 1357,
 'fitted': 486,
 'mudguard': 818,
 'rider': 1029,
 'get': 531,
 'mud': 817,
 'riding': 1030,
 'roaddurantaduranta': 1034,
 'super': 1183,
 'sport': 1153,
 'cadillacbasic': 223,
 'year': 1391,
 'mile': 778,
 'corrosion': 317,
 'drivetrain': 391,
 'roadside': 1035,
 'assistance': 108,
 'milescadillaccadillac': 780,
 'escalade': 433,
 'esv': 435,
 'aston': 109,
 'unlimited': 1275,
 'basic': 150,
 'warrantyaston': 1323,
 'db11': 348,
 'v8': 1290,
 'nikeyou': 840,
 'buy': 217,
 'gym': 566,
 'bag': 132,
 'traveling': 1249,
 'nike': 839,
 'online': 862,
 'bangladesh': 141,
 'best': 167,
 'price': 938,
 'website': 1353,
 'home': 609,
 'office': 857,
 'deliverynikegym': 355,
 'lady': 701,
 'backpackmaterial': 129,
 'leather': 717,
 'total': 1236,
 'set': 1084,
 'backpackladies': 128,
 'backpack': 126,
 'shoulder': 1096,
 'tr002': 1242,
 'backpackproduct': 130,
 'color': 281,
 'may': 759,
 'slightly': 1122,
 'vary': 1295,
 'due': 398,
 'photographic': 910,
 'lighting': 743,
 'source': 1142,
 'monitor': 801,
 'settingsladies': 1089,
 'sl002': 1116,
 'lakméwater': 703,
 'proof': 951,
 'last': 710,
 'hr': 617,
 'dermatologically': 358,
 'tested': 1221,
 'safe': 1051,
 'eye': 454,
 'easy': 410,
 'twist': 1257,
 'format': 500,
 'used': 1285,
 'water': 1344,
 'lid': 738,
 'deep': 352,
 'black': 175,
 'finishlakmelakmé': 484,
 'eyeconic': 455,
 'kajal': 673,
 'lakmé': 702,
 '5provides': 45,
 'protection': 953,
 'give': 537,
 'smooth': 1128,
 'coverage': 320,
 'skin': 1113,
 'even': 440,
 'tonelakmelakmé': 1233,
 'complexion': 290,
 'care': 235,
 'cream': 325,
 'hijabproduct': 605,
 'settingsfashion': 1088,
 'capitalhijab': 231,
 'piece': 911,
 'combo': 282,
 'pack': 884,
 'ps06': 956,
 'forever': 498,
 'bicyclemechanical': 171,
 'dual': 397,
 'disc': 370,
 'inch': 635,
 'tire': 1230,
 'handlebar': 576,
 'back': 125,
 'gear': 524,
 'alloy': 83,
 'rimforeverforever': 1031,
 '2020': 26,
 'expressthis': 448,
 'balance': 134,
 'made': 750,
 'extra': 451,
 'two': 1258,
 'child': 271,
 'ride': 1027,
 'adjusted': 70,
 'suit': 1182,
 'need': 831,
 'one': 860,
 'rideexpressexpress': 1028,
 'baby': 123,
 'pedal': 902,
 '16the': 22,
 'robust': 1036,
 'babybalanced': 124,
 'ideal': 627,
 'kid': 681,
 'safety': 1052,
 'feature': 471,
 'bike': 172,
 'comfortably': 286,
 'support': 1187,
 'includes': 638,
 'additional': 68,
 'allow': 81,
 'toddler': 1232,
 'side': 1099,
 'extremely': 453,
 'sturdy': 1177,
 'easily': 409,
 'brokensuper': 209,
 '16super': 21,
 '16': 20,
 'heavy': 597,
 'balanced': 135,
 'cycle': 340,
 'starex': 1163,
 '32': 32,
 'gsdynamic': 559,
 'contrast': 301,
 'ratio': 983,
 'display': 373,
 'hd': 584,
 'resolution': 1018,
 'refresh': 1002,
 'rate': 980,
 'hz': 622,
 'warranty': 1322,
 'yearstarexstarex': 1392,
 'smart': 1127,
 'android': 98,
 'led': 721,
 'tv': 1254,
 'samsung': 1053,
 '32n4010the': 35,
 'dimension': 368,
 'without': 1372,
 'stand': 1159,
 'weight': 1355,
 'television': 1213,
 'offer': 856,
 'part': 893,
 'service': 1083,
 'warrantysamsungsamsung': 1333,
 '32n4010': 34,
 'haiermiracast': 572,
 'screen': 1071,
 'mirroringhaierhaier': 787,
 'h32d2m': 569,
 'miracast': 785,
 'non': 845,
 'motorola': 809,
 'motobattery': 806,
 'type': 1261,
 'capacitylithiumpolymer': 230,
 'nonremovable': 846,
 'fast': 468,
 'charging': 264,
 'chargingmotorola': 266,
 'motomotorola': 807,
 'moto': 805,
 'g30': 514,
 'teslatesla': 1220,
 'allwheel': 87,
 'drive': 389,
 'ultraresponsiveteslamodel': 1272,
 'datsuncylinders': 344,
 'cylinder': 341,
 'inline': 644,
 'valve': 1293,
 'valvescylinder': 1294,
 'dohc': 378,
 'power': 931,
 'bhp': 169,
 'rpm': 1043,
 'torque': 1235,
 'nm': 841,
 'mileage': 779,
 'arai': 106,
 'kmpldatsundatsun': 687,
 'redi': 998,
 'go': 544,
 'redmiosandroid': 1000,
 'miui': 788,
 'sm': 1125,
 'cpuoctacore': 322,
 'ghz': 534,
 'kryo': 691,
 'gold': 545,
 'silver': 1104,
 'gpuadrenoxiaomixiaomi': 548,
 'redmi': 999,
 'note': 851,
 'pro': 944,
 'toyotaenginecylindercc': 1241,
 'transmissiongearspeedauto': 1247,
 'fuel': 509,
 'typepetrolelectrictoyotatoyota': 1265,
 'rav4': 984,
 'hybrid': 619,
 'awd': 122,
 'realmedisplay': 990,
 'primary': 939,
 'main': 753,
 'wide': 1360,
 'angle': 99,
 'batterynonremovable': 155,
 'gt': 560,
 'neo': 834,
 'pantherthe': 891,
 'lexus': 735,
 'lc': 714,
 'ordinary': 871,
 'car': 233,
 'extraordinary': 452,
 'way': 1348,
 'grand': 554,
 'tourer': 1238,
 'engineblack': 427,
 'pantherlexus': 890,
 '500': 44,
 'vivomicrosdxc': 1306,
 'dedicated': 351,
 'slot': 1124,
 'internalgb': 654,
 'gb': 521,
 'ram': 974,
 'ramvivovivo': 976,
 'v20': 1289,
 'nokiamb': 843,
 'mb': 760,
 'internal': 653,
 'storage': 1170,
 'single': 1109,
 'simnokianokia': 1106,
 '105': 9,
 'hyundaiengine': 621,
 'cc': 244,
 'transmissiongear': 1246,
 'speedauto': 1149,
 'typegasolinepetrolhyundaihyundai': 1264,
 'iphoneface': 658,
 'id': 626,
 'accelerometer': 60,
 'gyro': 567,
 'proximity': 955,
 'compass': 288,
 'barometer': 144,
 'ultra': 1270,
 'wideband': 1362,
 'uwb': 1287,
 'supportappleapple': 1188,
 'iphone': 657,
 '12': 12,
 'bmwthe': 184,
 'compact': 287,
 'suv': 1191,
 'trim': 1251,
 'sportx': 1155,
 'xlinebmwbmw': 1389,
 'x1': 1386,
 'oppolipo': 866,
 'chargingfast': 265,
 'min': 781,
 'advertised': 73,
 'voocoppooppo': 1310,
 'f17': 456,
 'oneplussingle': 861,
 'sim': 1105,
 'nanosim': 827,
 'standbyoneplusoneplus': 1161,
 'ferraridisplacement': 477,
 'cu': 331,
 'inengine': 642,
 'kw': 697,
 'rpmtorque': 1045,
 'ft': 508,
 'lb': 713,
 'rpmno': 1044,
 'cylindersferrariferrari': 342,
 '488': 42,
 'gt3': 561,
 'evo': 442,
 'samsunggb': 1054,
 'bitkhz': 174,
 'audiosamsungsamsung': 116,
 'galaxy': 517,
 's20': 1049,
 'corolladrive': 315,
 'typefront': 1263,
 'drivegear': 390,
 'boxautomaticsteeringsteering': 195,
 'typepowerx': 1266,
 'corollatoyota': 316,
 'corolla': 314,
 'mgn1': 765,
 'borderless': 192,
 'televisionsmart': 1215,
 'largest': 708,
 'brandmangomango': 202,
 'lg': 736,
 '32lk510b': 33,
 'televisiondynamic': 1214,
 'virtual': 1301,
 'surround': 1190,
 'sound': 1140,
 'immersive': 632,
 'entertainment': 430,
 'sophisticated': 1139,
 'inside': 647,
 'outlglg': 877,
 'xiaomi': 1387,
 'tvprocessor': 1255,
 'msd': 816,
 'cpu': 321,
 'ca': 219,
 'dolby': 379,
 'audio': 115,
 'dtshdxiaomi': 395,
 'mixiaomi': 789,
 'mi': 768,
 'p1': 883,
 'l32m6': 698,
 '6arg': 50,
 '6aeu': 49,
 'netflix': 836,
 'global': 542,
 'version': 1296,
 'sony': 1138,
 'bravia': 203,
 'tvwifi': 1256,
 'hdmi': 590,
 'rf': 1024,
 'fm': 493,
 'youtube': 1396,
 'builtin': 212,
 'wifi': 1364,
 'wxga': 1385,
 'resolutionsony': 1019,
 'braviasony': 204,
 'kdl': 676,
 '32w600d': 36,
 'new': 837,
 'mini': 782,
 'fanspecifications': 464,
 'gfc': 533,
 'rechargeable': 994,
 'usb': 1278,
 'portable': 927,
 'handheld': 574,
 'speed': 1148,
 'desktop': 361,
 'fangfcnew': 463,
 'fan': 461,
 'glamour': 539,
 'ceiling': 247,
 'fansuperior': 465,
 'quality': 965,
 'aluminum': 89,
 'construction': 297,
 'energy': 425,
 'efficient': 416,
 'electrical': 419,
 'sheet': 1091,
 'pure': 958,
 'copper': 309,
 'wiregfc': 1369,
 'glamourgfc': 540,
 'full': 510,
 'specification': 1146,
 'monet': 800,
 'fanenergy': 462,
 'wiregfcgfc': 1370,
 'asus': 110,
 'pcprocessor': 899,
 'intel': 651,
 'corei': 313,
 'processor': 946,
 'board': 185,
 'ddr': 350,
 'mhz': 766,
 'hard': 579,
 'disk': 372,
 'tb': 1210,
 'hddasusasus': 586,
 'ukh': 1268,
 'core': 312,
 'gen': 525,
 'pc': 896,
 'dell': 356,
 'pcdesktop': 897,
 'gaming': 519,
 'th': 1223,
 'generation': 526,
 'cache': 222,
 'vostro': 1311,
 'hdd': 585,
 'hp': 616,
 'qhphp': 964,
 'proone': 952,
 'apple': 103,
 'imac': 630,
 'pcprocessorquad': 900,
 'clock': 278,
 'speedghz': 1150,
 'retina': 1022,
 'typeddr': 1262,
 'onboardappleapple': 859,
 'walton': 1320,
 'pcwdpc': 901,
 'express': 447,
 'ith': 664,
 'thread': 1224,
 'graphic': 555,
 'memory': 762,
 'expandable': 445,
 'sata': 1060,
 'hddwaltonwalton': 589,
 'wdpc': 1349,
 'guitar': 563,
 'wall': 1314,
 'mount': 810,
 'hanger': 578,
 'hookspecifications': 612,
 'hook': 610,
 'holder': 607,
 'acoustic': 66,
 'electric': 418,
 'ukulele': 1269,
 'violin': 1300,
 'bass': 151,
 'acguitar': 65,
 'hookguitar': 611,
 'casio': 242,
 'keyboard': 679,
 'sa': 1050,
 '46mini': 41,
 'key': 678,
 'polyphony': 924,
 'play': 917,
 'along': 88,
 'track': 1243,
 'drum': 392,
 'pad': 885,
 'headphone': 593,
 'outputcasiocasio': 879,
 '46': 40,
 'fernedes': 476,
 'atlas': 111,
 '5x': 47,
 '2008': 24,
 'guitaralder': 564,
 'bodymaple': 188,
 'neck': 828,
 'bolt': 190,
 'fret': 504,
 'fingerboardfernedes': 482,
 'guitarfernedes': 565,
 'sennheiser': 1078,
 'ew135p': 443,
 'g4': 515,
 'wireless': 1371,
 'microphonea': 771,
 'broadcast': 208,
 'solution': 1137,
 'providing': 954,
 'highest': 603,
 'flexibility': 488,
 'outdoor': 875,
 'shoot': 1094,
 'field': 480,
 'recording': 997,
 'application': 105,
 'microphone': 770,
 'excellent': 444,
 'simple': 1107,
 'mounting': 811,
 'ease': 408,
 'usesennheisersennheiser': 1286,
 'melody': 761,
 'octave': 855,
 'stick': 1168,
 'harmoniamoctaves': 581,
 'superb': 1184,
 'soundmelodymelody': 1141,
 'harmoniam': 580,
 'tablya': 1207,
 'bayaoriginal': 158,
 'neem': 833,
 'wood': 1377,
 'tablamelody': 1202,
 'bayamelody': 157,
 'baya': 156,
 'skmei': 1114,
 'watchproduct': 1343,
 'watch': 1336,
 'brand': 201,
 'model': 794,
 'number': 853,
 'style': 1178,
 'sportskmeiskmei': 1154,
 '1481': 18,
 'digital': 367,
 'haylou': 583,
 'tyeps': 1260,
 'rt': 1046,
 'featured': 472,
 'heart': 595,
 'monitoring': 802,
 'sleep': 1117,
 'option': 868,
 'workout': 1380,
 'mode': 793,
 'spo': 1152,
 'tracking': 1244,
 'considerate': 295,
 'allday': 80,
 'ip': 656,
 'waterproof': 1345,
 'realtime': 991,
 'reminder': 1011,
 'customized': 338,
 'face': 459,
 'practical': 936,
 'function': 512,
 'life': 740,
 'day': 345,
 'daily': 343,
 'use': 1284,
 'fully': 511,
 'charged': 263,
 'dayshaylou': 346,
 'watchhaylou': 1340,
 'rt2': 1047,
 'band': 139,
 'amoled': 95,
 'touch': 1237,
 'scratchresistant': 1070,
 'glass': 541,
 'hour': 613,
 'remote': 1012,
 'long': 744,
 'atm': 112,
 'amazing': 90,
 'accurately': 64,
 'record': 995,
 'duration': 403,
 'light': 741,
 'rem': 1010,
 'based': 147,
 'receive': 993,
 'scientific': 1067,
 'advice': 74,
 'help': 599,
 'develop': 363,
 'regular': 1005,
 'sleeping': 1118,
 'habitsxiaomi': 570,
 'bandxiaomi': 140,
 'curren': 335,
 '8356': 53,
 'watchbrand': 1337,
 'business': 214,
 'category': 243,
 'men': 763,
 'mirror': 786,
 'sapphire': 1055,
 'case': 240,
 'material': 757,
 'alloycurren': 84,
 '8356curren': 54,
 'luxury': 748,
 'quartz': 967,
 'currenstyle': 336,
 'clasp': 276,
 'bracelet': 199,
 'resistance': 1015,
 'depth': 357,
 'bar': 143,
 'movement': 813,
 'alloycurrencurren': 85,
 '8348': 52,
 'fashion': 467,
 'watchladies': 1341,
 'antique': 102,
 'unique': 1273,
 'design': 359,
 'strap': 1173,
 'metal': 764,
 'buckle': 210,
 'batteryladies': 154,
 'electronic': 421,
 'watchelectronicorigin': 1339,
 'china': 272,
 'white': 1359,
 'movementelectronic': 814,
 'watchelectronic': 1338,
 'girl': 536,
 'boy': 198,
 'trend': 1250,
 'michael': 769,
 'korsproduct': 690,
 'stainless': 1158,
 'mid': 775,
 'resistantmichael': 1017,
 'korsmichael': 689,
 'kor': 688,
 'woman': 1375,
 'watchmagnet': 1342,
 'box': 194,
 'papermagnet': 892,
 'modular': 795,
 'flood': 491,
 'name': 826,
 'wledmodmw': 1374,
 'rated': 981,
 'voltage': 1309,
 'ac': 57,
 'frequency': 503,
 'hzwalton': 624,
 'mod': 792,
 '2m100w': 28,
 'wled': 1373,
 'rb3wb22': 986,
 'lightenergy': 742,
 'save': 1062,
 'respect': 1020,
 'nominal': 844,
 'omni': 858,
 'directional': 369,
 'width': 1363,
 'beam': 161,
 'high': 602,
 'lumen': 747,
 'output': 878,
 'efficacy': 415,
 'rendering': 1013,
 'index': 640,
 'cri': 328,
 'cctwaltonwled': 246,
 'spot': 1156,
 'csls': 330,
 '5w': 46,
 'watt': 1347,
 'torch': 1234,
 'cree': 326,
 'weather': 1352,
 'distance': 374,
 'aircraft': 77,
 'grade': 549,
 'alloywaltonwled': 86,
 't6torch': 1200,
 'brightness': 206,
 'body': 187,
 'applicable': 104,
 'solar': 1134,
 'automobile': 118,
 'bus': 213,
 'truck': 1252,
 'fishing': 485,
 'boat': 186,
 'dc24v': 349,
 '10wwled': 11,
 '10w': 10,
 'push': 961,
 'carin': 236,
 'indoor': 641,
 'stroller': 1174,
 'swing': 1192,
 'benz': 166,
 'gl': 538,
 'convertible': 303,
 'product': 949,
 'pushcarmbblueride': 962,
 'carride': 237,
 'kick': 680,
 'scooter': 1068,
 'kidswheels': 683,
 'multicolor': 820,
 'scooterkick': 1069,
 'kidskick': 682,
 'rack': 971,
 'game': 518,
 'combobaby': 283,
 'toy': 1240,
 'ballsbaby': 137,
 'kitchen': 686,
 'setbaby': 1085,
 'music': 824,
 'farlin': 466,
 'magic': 751,
 'ball': 136,
 'housefarlin': 615,
 'house': 614,
 'ballsfarlin': 138,
 'playtime': 919,
 'king': 684,
 'slidersafe': 1121,
 'build': 211,
 'qualityplaytime': 966,
 'sliderplaytime': 1120,
 'slider': 1119,
 'motor': 808,
 'rockerprocess': 1039,
 'blow': 181,
 'molding': 798,
 'hdpe': 591,
 'toxicity': 1239,
 'nontoxic': 848,
 'food': 497,
 'grademotor': 551,
 'rockermotor': 1038,
 'rocker': 1037,
 'scholar': 1065,
 'table': 1203,
 'chairtype': 257,
 'educational': 412,
 'process': 945,
 'gradescholar': 552,
 'chairscholar': 256,
 'chair': 254,
 'bouncer': 193,
 'playing': 918,
 'relxationsoft': 1009,
 'conforms': 291,
 'newborn': 838,
 'adjusts': 71,
 'three': 1225,
 'position': 928,
 'rest': 1021,
 'head': 592,
 'add': 67,
 'comfort': 285,
 'whilst': 1358,
 'bathing': 152,
 'carrybaby': 238,
 'relxationbaby': 1008,
 'relxation': 1007,
 'study': 1176,
 'tablechildrens': 1205,
 'snack': 1129,
 'writing': 1383,
 'plastic': 915,
 'tablechildren': 1204,
 'science': 1066,
 'fifth': 481,
 'gradeit': 550,
 'cell': 251,
 'generator': 527,
 'windmill': 1365,
 'module': 796,
 'bazaar': 159,
 'carbon': 234,
 'charcoal': 262,
 'gradescience': 553,
 'captain': 232,
 'curiousmission': 334,
 'electrocannon': 420,
 'cannon': 228,
 'connector': 293,
 'five': 487,
 'soldier': 1135,
 'six': 1111,
 'shell': 1092,
 'sea': 1073,
 'adventure': 72,
 'cartesian': 239,
 'diver': 375,
 'rocketscaptain': 1040,
 'curiouscaptain': 333,
 'curious': 332,
 'mojar': 797,
 'periscopethere': 907,
 'periscope': 905,
 'boxmojar': 197,
 'periscopemojar': 906,
 'kit': 685,
 'focus': 495,
 'challengethis': 260,
 'consists': 296,
 'cable': 221,
 'zigzag': 1398,
 'attached': 113,
 'circuit': 275,
 'separately': 1081,
 'effective': 414,
 'loop': 745,
 'small': 1126,
 'large': 707,
 'dosmart': 384,
 'challengesmart': 259,
 'challenge': 258,
 'onnorokom': 863,
 'mystery': 825,
 'chemistryrubber': 270,
 'dish': 371,
 'glycerin': 543,
 'beaker': 160,
 'calboc': 224,
 'tablet': 1206,
 'moreonnorokom': 804,
 'chemistryonnorokom': 269,
 'chemistry': 268,
 '2pcs': 30,
 'bangles': 142,
 '100': 5,
 '101karatk2pcs': 8,
 '1012pcs': 7,
 '101': 6,
 'nosepinwhite': 850,
 'diamond': 365,
 'green': 558,
 'diamondalaminnosepin': 366,
 'ringkaratkalaminring': 1033,
 'earringkaratkalaminearring': 407,
 'brisletkaratkalaminbrislet': 207,
 'shitaharkaratkalaminshitahar': 1093,
 'silaringkaratkalaminsilaring': 1101,
 'tiklikaratkalamintikli': 1227,
 'kanthoharkaratkalaminkanthohar': 674,
 'necklacekaratkalaminnecklace': 830,
 'genuine': 528,
 'walletmade': 1317,
 'height': 598,
 'cm': 279,
 'warrantygenuine': 1325,
 'walletra94c': 1319,
 'oras': 870,
 'wallet': 1315,
 'crocodile': 329,
 'texture': 1222,
 'leathermade': 718,
 'premium': 937,
 'warrantycrocodile': 1324,
 'leatherra87c': 720,
 'leatheroras': 719,
 'walletra86k': 1318,
 'jeep': 667,
 'walletgenuine': 1316,
 'warrantyjeepra79n': 1326,
 'warrantyorasra68c': 1329,
 'ra38n': 970,
 'warrantyra38n': 1332,
 'original': 874,
 'warrantyorasra99c': 1331,
 'multi': 819,
 'travel': 1248,
 'warrantyorasra43k': 1328,
 'warrantyorasoras': 1327,
 'pursemade': 960,
 'warrantyorasra69m': 1330,
 'purse': 959,
 'semi': 1077,
 'panjabicomfortable': 889,
 'warele': 1321,
 'revesemi': 1023,
 'panjabi': 888,
 'dressmagenta': 388,
 'floral': 492,
 'aline': 79,
 'cotton': 318,
 'dress': 387,
 'shrugpspeachespspeaches': 1098,
 'silk': 1103,
 'readymade': 989,
 'lehengalehenga': 724,
 'choli': 273,
 'fabric': 457,
 'satin': 1061,
 'ambroidery': 91,
 'work': 1379,
 'lehenga': 722,
 'inner': 645,
 'american': 94,
 'crepewhite': 327,
 'buttonlehenga': 216,
 'traditional': 1245,
 'designer': 360,
 'sareereal': 1058,
 'saree': 1056,
 'unistice': 1274,
 'blousemirrawwoven': 180,
 'maithili': 755,
 'sareeblue': 1057,
 'soft': 1133,
 'blouse': 177,
 'piecemirrawblue': 912,
 'handwoven': 577,
 'sareesmahati': 1059,
 'blousemirrawmahati': 179,
 'woven': 1382,
 'blousemirrawblue': 178,
 'embroidery': 424,
 'lehengadesigner': 723,
 'wedding': 1354,
 'lehengastunning': 729,
 'organza': 872,
 'zari': 1397,
 'sequin': 1082,
 'womenmirrawstunning': 1376,
 'embroidered': 423,
 'net': 835,
 'stitched': 1169,
 'bridal': 205,
 'lehengamustard': 727,
 'yellow': 1393,
 'lehengamirrawmustard': 725,
 'party': 895,
 'wear': 1350,
 'lehengashubhkala': 728,
 'charming': 267,
 'teal': 1211,
 'georgette': 529,
 'lehengamirrawshubhkala': 726,
 'printed': 941,
 'rayon': 985,
 'kurta': 692,
 'setscolor': 1087,
 'blue': 182,
 'palazzo': 886,
 'febric': 473,
 'bust': 215,
 'xl': 1388,
 'xxl': 1390,
 'waist': 1313,
 'length': 730,
 'foil': 496,
 'print': 940,
 'laced': 699,
 'an': 97,
 'festive': 478,
 'wearmirrawteal': 1351,
 'sets': 1086,
 'kurtisthis': 694,
 'spectacular': 1147,
 'kvsfab': 696,
 ...}

In [81]:
tf_idf.get_feature_names_out()

array(['013', '018', '06', ..., 'zari', 'zigzag', 'zoom'], dtype=object)

In [82]:
tf_idf_vectors[0]

array([0., 0., 0., ..., 0., 0., 0.])

In [83]:
tf_idf_vectors.shape

(153, 1400)

In [84]:
tf_idf_vectors

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

## Check the similarity between the words

In [85]:
similarity = cosine_similarity(X=tf_idf_vectors)

In [86]:
similarity.shape

(153, 153)

In [87]:
similarity[0]

array([1.        , 0.        , 0.        , 0.        , 0.        ,
       0.05595716, 0.        , 0.        , 0.        , 0.        ,
       0.03643842, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.05569261, 0.        , 0.08197062, 0.10983402,
       0.        , 0.18273621, 0.        , 0.        , 0.        ,
       0.        , 0.05367003, 0.        , 0.05862727, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.06005527, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01445846, 0.03694282, 0.        ,
       0.        , 0.        , 0.        , 0.04259562, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.03375399, 0.        , 0.01974875, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.03174178, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.02112998, 0.        , 0.        , 0.        ,
       0.04126656, 0.        , 0.        , 0.        , 0.04827749,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.03296763,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.05130027, 0.        , 0.        ,
       0.        , 0.        , 0.04474629])

In [88]:
similarity[1]

array([0.        , 1.        , 0.        , 0.        , 0.03726122,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.20649522, 0.4637698 , 0.15564335, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.04770264, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.01919043, 0.02285002,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.01710555, 0.        ,
       0.        , 0.        , 0.        , 0.01629555, 0.        ,
       0.        , 0.        , 0.        , 0.02369431, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.02224713,
       0.        , 0.02947831, 0.        , 0.        , 0.        ,
       0.07261612, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.1151001 , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02100792, 0.        , 0.        , 0.        , 0.02457704,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02005135, 0.        , 0.0305258 ,
       0.        , 0.        , 0.03661099, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.01513488, 0.01669278, 0.        , 0.        ,
       0.        , 0.        , 0.08199589, 0.        , 0.        ,
       0.        , 0.        , 0.        ])

In [89]:
similarity[1].shape

(153,)

### Demo test start

In [90]:
df2[df2['name'] == 'huawei']

,id,product_category_id,name,categoryName,tags
0,1,1,huawei,phone,huaweiscreen size camera ramgb battery mah ope...

In [91]:
df2[df2['name'] == 'huawei'].index[0]

0

In [92]:
list(enumerate(similarity[df2[df2['name'] == 'huawei'].index[0]]))[:20]

[(0, 0.9999999999999998),
 (1, 0.0),
 (2, 0.0),
 (3, 0.0),
 (4, 0.0),
 (5, 0.055957162305794915),
 (6, 0.0),
 (7, 0.0),
 (8, 0.0),
 (9, 0.0),
 (10, 0.03643841692405252),
 (11, 0.0),
 (12, 0.0),
 (13, 0.0),
 (14, 0.0),
 (15, 0.0),
 (16, 0.05569260861762559),
 (17, 0.0),
 (18, 0.08197061839649739),
 (19, 0.10983402126021)]

In [93]:
sorted(list(enumerate(similarity[df2[df2['name'] == 'huawei'].index[0]])), reverse=True, key=lambda x:x[1])[:20]

[(0, 0.9999999999999998),
 (21, 0.18273620988064349),
 (19, 0.10983402126021),
 (18, 0.08197061839649739),
 (43, 0.06005527357458364),
 (28, 0.058627268494138955),
 (5, 0.055957162305794915),
 (16, 0.05569260861762559),
 (26, 0.05367002657740288),
 (147, 0.05130026779146055),
 (119, 0.04827749203706903),
 (152, 0.04474628746575036),
 (58, 0.04259561621622304),
 (115, 0.04126656032848309),
 (53, 0.03694282491507897),
 (10, 0.03643841692405252),
 (76, 0.0337539851534672),
 (139, 0.03296763047696955),
 (90, 0.0317417762108766),
 (111, 0.02112997649625039)]

In [94]:
sorted(list(enumerate(similarity[df2[df2['name'] == 'huawei'].index[0]])), reverse=True, key=lambda x : x[1])[:10]

[(0, 0.9999999999999998),
 (21, 0.18273620988064349),
 (19, 0.10983402126021),
 (18, 0.08197061839649739),
 (43, 0.06005527357458364),
 (28, 0.058627268494138955),
 (5, 0.055957162305794915),
 (16, 0.05569260861762559),
 (26, 0.05367002657740288),
 (147, 0.05130026779146055)]

In [95]:
all_distance = sorted(list(enumerate(similarity[df2[df2['name'] == 'huawei'].index[0]])), reverse=True, key=lambda x : x[1])[:10]

In [96]:
for i in all_distance:
    print(df2.loc[i[0], 'name'])

huawei
realme
redmi
datsun
apple imac pc
oppo
ladies backpack
motorola moto
iphone
diamond storm  pro rgb gaming casing

### Demo Test End

### Recommendar Function

In [97]:
def productRecommender(productName):
    productName = productName.lower()
    product_index = df2[df2['name'] == productName].index[0]
    distances = sorted(list(enumerate(similarity[product_index])), reverse=True, key=lambda x : x[1])
    for i in distances[1:16]:
        print(df2.loc[i[0], 'name'], "---->", df2.loc[i[0], 'categoryName'])

In [98]:
productRecommender('Motorola Moto')

oppo ----> phone
vsn gd refrigerator ----> house items
ladies bracelet type watch ----> watch
realme ----> phone
dell pc ----> computer accessories
huawei ----> phone
new mini fan ----> fan
asus pc ----> computer accessories
wireless earbuds ----> electronics
vsn electric geyser ----> electronics
hp pc ----> computer accessories
michael kors ----> watch
xiaomi mi band 6 cn ----> watch
skmei watch ----> watch
microsoft windows 10 professional  dvd ----> computer accessories

In [99]:
def specificProductRecommender(productName):
    try:
        productName = productName.lower()
        
        product_id = int(df2[df2['name'] == productName]['product_category_id'].values[0])
        product_category_name = dic_category.get(product_id)
        
        product_index = df2[df2['name'] == productName].index[0]
        distances = sorted(list(enumerate(cv_similarity[product_index])), reverse=True, key=lambda x : x[1])
        
        for i in distances[1:16]:
            productID, productName = df2.loc[i[0], ['id','name']]
            # print(f"Product ID:[{productID}] | Product Name: {productName}")
            # print(df3.loc[i[0], 'name'], "---->", df3.loc[i[0], 'categoryName'])
            
            category_id = int(df2.loc[i[0], 'product_category_id'])
            if product_category_name == dic_category[category_id]:
                print(df2.loc[i[0], 'name'], "---->", df2.loc[i[0], 'categoryName'],",","productID: ",productID, "--->", "categoryID: ",category_id)
            else:
                pass
            # print(dic_category[category_id])
            
    except Exception as e:
        print("Opps!", e.__class__,"occurred.")

In [100]:
specificProductRecommender("hijab")

Opps! <class 'NameError'> occurred.

## Apply porterStemmer

In [101]:
ps = PorterStemmer()

### Remove stopwords and stem those words

In [102]:
def textPorterStemmer(text):
    words = word_tokenize(text=text)
    words = [ps.stem(word=word) for word in words if word not in stopwords.words('english')]
    text = ' '.join(words)
    return text

In [103]:
df3.head()

,id,product_category_id,name,categoryName,tags
0,1,1,huawei,phone,huaweiscreen size camera ramgb battery mah ope...
1,2,10,duranta,cycle,durantathis bicycle has a strong steel frame i...
2,19,20,cadillac,car,cadillacbasic years miles corrosion years mile...
3,20,20,aston martin,car,aston martinyears unlimited miles basic years ...
4,21,19,nike,bag,nikeyou can buy the gym bag traveling bag nike...

In [104]:
df3['tags'] = df3['tags'].apply(textPorterStemmer)

In [105]:
df3.loc[1, 'tags']

'durantathi bicycl strong steel frame brake system strong allow maintain control situat seat adjust chang need front rear wheel fit mudguard rider get mud ride roaddurantaduranta super sport bicycl'

## Apply CounterVectorizer

In [106]:
cv = CountVectorizer(max_features=1200)

In [107]:
cv_vectors = cv.fit_transform(raw_documents=df3['tags']).toarray()

In [108]:
cv_vectors.shape

(153, 1200)

In [109]:
cv_vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [110]:
cv_vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [111]:
cv_similarity = cosine_similarity(X=cv_vectors)

In [112]:
cv_similarity.shape

(153, 153)

In [113]:
cv.get_feature_names_out()

array(['013', '018', '06', ..., 'zari', 'zigzag', 'zoom'], dtype=object)

In [114]:
cv_similarity[0]

array([1.        , 0.        , 0.        , 0.        , 0.        ,
       0.0805823 , 0.        , 0.        , 0.        , 0.        ,
       0.05455447, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.09449112, 0.        , 0.10101525, 0.11952286,
       0.        , 0.23145502, 0.        , 0.        , 0.        ,
       0.        , 0.07142857, 0.        , 0.08451543, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.05832118, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.0206813 , 0.04501491, 0.        ,
       0.        , 0.        , 0.        , 0.06131393, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.06299408, 0.        , 0.03340766, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.03857584, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.03006924, 0.        , 0.        , 0.        ,
       0.03898406, 0.        , 0.        , 0.        , 0.04962917,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.05698029,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.05832118, 0.        , 0.08151391, 0.        , 0.        ,
       0.        , 0.        , 0.0805823 ])

### Recommendar Function for PorterStemmer

In [115]:
def productRecommender2(productName):
    try:
        productName = productName.lower()
        product_index = df3[df3['name'] == productName].index[0]
        distances = sorted(list(enumerate(cv_similarity[product_index])), reverse=True, key=lambda x : x[1])
        for i in distances[1:16]:
            productID, productName = df3.loc[i[0], ['id','name']]
            # print(f"Product ID:[{productID}] | Product Name: {productName}")
            print(df3.loc[i[0], 'name'], "---->", df3.loc[i[0], 'categoryName'])
            
            # category_id = int(df3.loc[i[0], 'product_category_id'])
            # print(dic_category[category_id])
            
    except Exception as e:
        print("Opps!", e.__class__,"occurred.")

In [116]:
productRecommender2("apple magic mouse")

farlin baby magic ball house ----> toys
nokia ----> phone
swivel chair ----> chair
realme ----> phone
new mini fan ----> fan
huawei ----> phone
smart kit focus challenge ----> educational
captain curious ----> educational
apple imac pc ----> computer accessories
cpu liquid cooler ----> computer accessories
digital voice recorder ----> electronics
all swivel chair ----> chair
hatil swivel chair ----> chair
xiaomi mi band 6 cn ----> watch
haylou smart watch ----> watch

In [117]:
# def specificProductRecommender2(productName):
#     try:
#         productName = productName.lower()
        
#         product_id = int(df3[df3['name'] == productName]['product_category_id'].values[0])
#         product_category_name = dic_category.get(product_id)
        
#         product_index = df3[df3['name'] == productName].index[0]
#         distances = sorted(list(enumerate(cv_similarity[product_index])), reverse=True, key=lambda x : x[1])
        
#         for i in distances[1:16]:
#             productID, productName = df3.loc[i[0], ['id','name']]
#             # print(f"Product ID:[{productID}] | Product Name: {productName}")
#             # print(df3.loc[i[0], 'name'], "---->", df3.loc[i[0], 'categoryName'])
            
#             category_id = int(df3.loc[i[0], 'product_category_id'])
#             if product_category_name == dic_category[category_id]:
#                 print(df3.loc[i[0], 'name'], "---->", df3.loc[i[0], 'categoryName'],",","productID: ",productID, "--->", "categoryID: ",category_id)
#             else:
#                 pass
#             # print(dic_category[category_id])
            
#     except Exception as e:
#         print("Opps!", e.__class__,"occurred.")


def specificProductRecommender2(productName):
    try:
        productName = productName.lower()
        
        product_id = int(df[df['name'] == productName]['product_category_id'].values[0])
        product_category_name = dic_category.get(product_id)
        
        product_index = df[df['name'] == productName].index[0]
        distances = sorted(list(enumerate(cv_similarity[product_index])), reverse=True, key=lambda x : x[1])
        
        for i in distances[1:16]:
            productID, productName = df.loc[i[0], ['id','name']]
            # print(f"Product ID:[{productID}] | Product Name: {productName}")
            # print(df3.loc[i[0], 'name'], "---->", df3.loc[i[0], 'categoryName'])
            
            category_id = int(df.loc[i[0], 'product_category_id'])
            if product_category_name == dic_category[category_id]:
                print(df.loc[i[0], 'name'], "---->", df.loc[i[0], 'categoryName'],",","productID: ",productID, "--->", "categoryID: ",category_id)
            else:
                pass
            # print(dic_category[category_id])
            
    except Exception as e:
        print("Opps!", e.__class__,"occurred.")

In [118]:
specificProductRecommender2('asus pc')

dell pc ----> computer accessories , productID:  74 ---> categoryID:  3
hp pc ----> computer accessories , productID:  75 ---> categoryID:  3
walton desktop pc ----> computer accessories , productID:  77 ---> categoryID:  3
apple imac pc ----> computer accessories , productID:  76 ---> categoryID:  3
intel core i3-2120 2nd gen processor ----> computer accessories , productID:  178 ---> categoryID:  3
microsoft windows 10 professional  dvd ----> computer accessories , productID:  174 ---> categoryID:  3

In [131]:
df[df['categoryName'] == "cosmetics"]['name']

7           lakmé
8    lakmé 9 to 5
Name: name, dtype: object

In [120]:
import pickle

### make pickle trained model

In [121]:
# pickle.dump(obj=similarity, file=open(file='tf_idf_similarity2.pkl', mode='wb'))

### make pickle updated dataframe

In [122]:
# pickle.dump(obj=df2.to_dict(), file=open(file="updatedDf.pkl", mode='wb'))

In [123]:
df2.head()

,id,product_category_id,name,categoryName,tags
0,1,1,huawei,phone,huaweiscreen size camera ramgb battery mah ope...
1,2,10,duranta,cycle,durantathis bicycle strong steel frame brake s...
2,19,20,cadillac,car,cadillacbasic year mile corrosion year mile dr...
3,20,20,aston martin,car,aston martinyears unlimited mile basic year un...
4,21,19,nike,bag,nikeyou buy gym bag traveling bag nike online ...

In [124]:
df2.to_dict()

{'id': {0: 1,
  1: 2,
  2: 19,
  3: 20,
  4: 21,
  5: 22,
  6: 23,
  7: 24,
  8: 25,
  9: 26,
  10: 27,
  11: 28,
  12: 30,
  13: 31,
  14: 32,
  15: 33,
  16: 34,
  17: 35,
  18: 36,
  19: 37,
  20: 43,
  21: 44,
  22: 45,
  23: 47,
  24: 49,
  25: 53,
  26: 54,
  27: 55,
  28: 57,
  29: 59,
  30: 63,
  31: 64,
  32: 65,
  33: 66,
  34: 67,
  35: 68,
  36: 69,
  37: 70,
  38: 71,
  39: 72,
  40: 73,
  41: 74,
  42: 75,
  43: 76,
  44: 77,
  45: 78,
  46: 79,
  47: 80,
  48: 81,
  49: 82,
  50: 83,
  51: 84,
  52: 85,
  53: 86,
  54: 87,
  55: 88,
  56: 89,
  57: 90,
  58: 91,
  59: 92,
  60: 93,
  61: 94,
  62: 95,
  63: 96,
  64: 97,
  65: 98,
  66: 99,
  67: 100,
  68: 101,
  69: 102,
  70: 103,
  71: 104,
  72: 105,
  73: 106,
  74: 107,
  75: 108,
  76: 109,
  77: 110,
  78: 111,
  79: 112,
  80: 113,
  81: 114,
  82: 115,
  83: 116,
  84: 117,
  85: 118,
  86: 119,
  87: 120,
  88: 121,
  89: 122,
  90: 123,
  91: 124,
  92: 125,
  93: 126,
  94: 127,
  95: 128,
  96: 129,
  97: 130,
  98: 131,
  99: 132,
  100: 133,
  101: 135,
  102: 136,
  103: 137,
  104: 138,
  105: 139,
  106: 140,
  107: 141,
  108: 142,
  109: 143,
  110: 144,
  111: 145,
  112: 146,
  113: 147,
  114: 148,
  115: 149,
  116: 150,
  117: 151,
  118: 152,
  119: 153,
  120: 154,
  121: 155,
  122: 156,
  123: 157,
  124: 158,
  125: 159,
  126: 160,
  127: 161,
  128: 162,
  129: 163,
  130: 164,
  131: 165,
  132: 166,
  133: 167,
  134: 168,
  135: 169,
  136: 170,
  137: 171,
  138: 172,
  139: 173,
  140: 174,
  141: 175,
  142: 176,
  143: 177,
  144: 178,
  145: 179,
  146: 180,
  147: 181,
  148: 182,
  149: 183,
  150: 184,
  151: 185,
  152: 186},
 'product_category_id': {0: 1,
  1: 10,
  2: 20,
  3: 20,
  4: 19,
  5: 19,
  6: 19,
  7: 2,
  8: 2,
  9: 11,
  10: 10,
  11: 10,
  12: 10,
  13: 15,
  14: 15,
  15: 15,
  16: 1,
  17: 20,
  18: 20,
  19: 1,
  20: 20,
  21: 1,
  22: 20,
  23: 1,
  24: 1,
  25: 20,
  26: 1,
  27: 20,
  28: 1,
  29: 1,
  30: 20,
  31: 1,
  32: 20,
  33: 15,
  34: 15,
  35: 15,
  36: 15,
  37: 16,
  38: 16,
  39: 16,
  40: 3,
  41: 3,
  42: 3,
  43: 3,
  44: 3,
  45: 18,
  46: 18,
  47: 18,
  48: 18,
  49: 18,
  50: 18,
  51: 13,
  52: 13,
  53: 13,
  54: 13,
  55: 13,
  56: 13,
  57: 13,
  58: 13,
  59: 13,
  60: 9,
  61: 9,
  62: 9,
  63: 9,
  64: 9,
  65: 8,
  66: 8,
  67: 8,
  68: 8,
  69: 8,
  70: 8,
  71: 8,
  72: 8,
  73: 8,
  74: 8,
  75: 4,
  76: 4,
  77: 4,
  78: 4,
  79: 4,
  80: 5,
  81: 5,
  82: 5,
  83: 5,
  84: 5,
  85: 5,
  86: 5,
  87: 5,
  88: 5,
  89: 5,
  90: 6,
  91: 6,
  92: 6,
  93: 6,
  94: 6,
  95: 6,
  96: 6,
  97: 6,
  98: 6,
  99: 6,
  100: 11,
  101: 11,
  102: 11,
  103: 11,
  104: 11,
  105: 11,
  106: 11,
  107: 11,
  108: 11,
  109: 11,
  110: 11,
  111: 11,
  112: 11,
  113: 5,
  114: 5,
  115: 12,
  116: 12,
  117: 12,
  118: 12,
  119: 12,
  120: 21,
  121: 21,
  122: 22,
  123: 21,
  124: 21,
  125: 22,
  126: 22,
  127: 21,
  128: 22,
  129: 22,
  130: 19,
  131: 19,
  132: 22,
  133: 22,
  134: 22,
  135: 22,
  136: 3,
  137: 22,
  138: 22,
  139: 22,
  140: 3,
  141: 14,
  142: 14,
  143: 14,
  144: 3,
  145: 3,
  146: 3,
  147: 3,
  148: 3,
  149: 3,
  150: 22,
  151: 3,
  152: 3},
 'name': {0: 'huawei',
  1: 'duranta',
  2: 'cadillac',
  3: 'aston martin',
  4: 'nike',
  5: 'ladies backpack',
  6: 'ladies backpack',
  7: 'lakmé',
  8: 'lakmé 9 to 5',
  9: 'hijab',
  10: 'forever bicycle',
  11: 'express',
  12: 'super 16',
  13: 'starex 32” gs',
  14: 'samsung 32n4010',
  15: 'haier',
  16: 'motorola moto',
  17: 'tesla',
  18: 'datsun',
  19: 'redmi',
  20: 'toyota',
  21: 'realme',
  22: 'black panther',
  23: 'vivo',
  24: 'nokia',
  25: 'hyundai',
  26: 'iphone',
  27: 'bmw',
  28: 'oppo',
  29: 'oneplus',
  30: 'ferrari',
  31: 'samsung',
  32: 'x corolla',
  33: 'mango mgn1 32" borderless hd smart android led television',
  34: 'lg 32lk510b 32" hd led television',
  35: 'xiaomi tv',
  36: 'sony bravia  tv',
  37: 'new mini fan',
  38: 'gfc glamour ceiling fan',
  39: 'gfc monet ceiling fan',
  40: 'asus pc',
  41: 'dell pc',
  42: 'hp pc',
  43: 'apple imac pc',
  44: 'walton desktop pc',
  45: 'guitar stand wall mount hanger hook',
  46: 'casio keyboard sa 46',
  47: 'fernedes atlas 5x-2008 bass guitar',
  48: 'sennheiser ew135p-g4 wireless microphone',
  49: 'melody 3.5 octave stick harmoniam',
  50: 'melody tablya baya',
  51: 'skmei watch',
  52: 'haylou smart watch',
  53: 'xiaomi mi band 6 cn',
  54: 'curren 8356 watch',
  55: 'curren',
  56: 'ladies bracelet type watch',
  57: 'electronic watch',
  58: 'michael kors',
  59: 'magnet ladies watch',
  60: 'walton light',
  61: 'wled-rb3wb22 light',
  62: 'spot light',
  63: 'torch light',
  64: 'led light',
  65: 'ride on push car',
  66: 'kick scooter kids',
  67: 'baby gym rack and game pad combo',
  68: 'baby kitchen set',
  69: 'farlin baby magic ball house',
  70: 'playtime king slider',
  71: 'motor bike rocker',
  72: 'scholar table with chair',
  73: 'baby bouncer for playing sleeping & relxation',
  74: "children's study table",
  75: 'science box fifth grade',
  76: 'captain curious',
  77: 'mojar periscope',
  78: 'smart kit focus challenge',
  79: 'onnorokom science box: mystery of chemistry',
  80: '2pcs-bangles-100-101',
  81: 'nosepin',
  82: 'ring',
  83: 'earring',
  84: 'brislet',
  85: 'shitahar',
  86: 'silaring',
  87: 'tikli',
  88: 'kanthohar',
  89: 'necklace',
  90: 'genuine leather wallet',
  91: 'crocodile texture genuine leather',
  92: 'oras genuine leather wallet',
  93: 'jeep genuine leather wallet',
  94: 'oras genuine leather wallet',
  95: 'ra38n oras genuine leather wallet for men',
  96: 'key wallet',
  97: 'multi-function business travel wallet',
  98: 'oras genuine leather key wallet',
  99: 'ladies purse',
  100: 'semi fitted panjabi',
  101: 'children dress',
  102: 'silk readymade lehenga',
  103: 'traditional designer silk saree',
  104: 'maithili silk saree',
  105: 'handwoven silk sarees',
  106: 'cotton woven saree',
  107: 'embroidery lehenga',
  108: 'floral wedding lehenga',
  109: 'embroidered net semi stitched bridal lehenga',
  110: 'semi stitched party wear lehenga',
  111: 'printed rayon kurta-sets',
  112: 'embroidered-kurtis',
  113: 'gold chokers',
  114: 'afghani oxidised silver jewellery',
  115: 'chuwi herobook  laptop',
  116: 'avita essential 14 laptop',
  117: 'lenovo ideapad slim 3i laptop',
  118: 'hp 15s laptop',
  119: 'dell inspiron 15 3515 laptop',
  120: 'vsn gd refrigerator',
  121: 'vision automatic washing machine',
  122: 'multimedia speaker',
  123: 'microwave oven',
  124: 'rice cooker rc-1.8',
  125: 'wifi doll camera',
  126: 'e. kettle 1.0l',
  127: 'blender vis-sbl-018 rapid power',
  128: 'vsn electric geyser',
  129: 'electronic dry iron',
  130: 'laptop pouch bag',
  131: 'targus intellect laptop backpack',
  132: 'zoom hd digital camera',
  133: 'gaming headphone',
  134: 'dual band gigabit 7 antennas router',
  135: 'wireless earbuds',
  136: 'standard backup online ups',
  137: 'single function mono laser printer',
  138: 'smart managed switch',
  139: 'digital voice recorder',
  140: 'microsoft windows 10 professional  dvd',
  141: 'swivel chair',
  142: 'all swivel chair',
  143: 'hatil swivel chair',
  144: 'intel core i3-2120 2nd gen processor',
  145: 'cpu liquid cooler',
  146: 'non modular power supply',
  147: 'diamond storm  pro rgb gaming casing',
  148: 'multifunction mono laser photocopier',
  149: 'document scanner',
  150: 'star 2000va ips',
  151: 'gigabit smart managed switch',
  152: 'apple magic mouse'},
 'categoryName': {0: 'phone',
  1: 'cycle',
  2: 'car',
  3: 'car',
  4: 'bag',
  5: 'bag',
  6: 'bag',
  7: 'cosmetics',
  8: 'cosmetics',
  9: 'cloths',
  10: 'cycle',
  11: 'cycle',
  12: 'cycle',
  13: 'television',
  14: 'television',
  15: 'television',
  16: 'phone',
  17: 'car',
  18: 'car',
  19: 'phone',
  20: 'car',
  21: 'phone',
  22: 'car',
  23: 'phone',
  24: 'phone',
  25: 'car',
  26: 'phone',
  27: 'car',
  28: 'phone',
  29: 'phone',
  30: 'car',
  31: 'phone',
  32: 'car',
  33: 'television',
  34: 'television',
  35: 'television',
  36: 'television',
  37: 'fan',
  38: 'fan',
  39: 'fan',
  40: 'computer accessories',
  41: 'computer accessories',
  42: 'computer accessories',
  43: 'computer accessories',
  44: 'computer accessories',
  45: 'musical instrument',
  46: 'musical instrument',
  47: 'musical instrument',
  48: 'musical instrument',
  49: 'musical instrument',
  50: 'musical instrument',
  51: 'watch',
  52: 'watch',
  53: 'watch',
  54: 'watch',
  55: 'watch',
  56: 'watch',
  57: 'watch',
  58: 'watch',
  59: 'watch',
  60: 'light',
  61: 'light',
  62: 'light',
  63: 'light',
  64: 'light',
  65: 'toys',
  66: 'toys',
  67: 'toys',
  68: 'toys',
  69: 'toys',
  70: 'toys',
  71: 'toys',
  72: 'toys',
  73: 'toys',
  74: 'toys',
  75: 'educational',
  76: 'educational',
  77: 'educational',
  78: 'educational',
  79: 'educational',
  80: 'jewelry',
  81: 'jewelry',
  82: 'jewelry',
  83: 'jewelry',
  84: 'jewelry',
  85: 'jewelry',
  86: 'jewelry',
  87: 'jewelry',
  88: 'jewelry',
  89: 'jewelry',
  90: 'wallet',
  91: 'wallet',
  92: 'wallet',
  93: 'wallet',
  94: 'wallet',
  95: 'wallet',
  96: 'wallet',
  97: 'wallet',
  98: 'wallet',
  99: 'wallet',
  100: 'cloths',
  101: 'cloths',
  102: 'cloths',
  103: 'cloths',
  104: 'cloths',
  105: 'cloths',
  106: 'cloths',
  107: 'cloths',
  108: 'cloths',
  109: 'cloths',
  110: 'cloths',
  111: 'cloths',
  112: 'cloths',
  113: 'jewelry',
  114: 'jewelry',
  115: 'laptop',
  116: 'laptop',
  117: 'laptop',
  118: 'laptop',
  119: 'laptop',
  120: 'house items',
  121: 'house items',
  122: 'electronics',
  123: 'house items',
  124: 'house items',
  125: 'electronics',
  126: 'electronics',
  127: 'house items',
  128: 'electronics',
  129: 'electronics',
  130: 'bag',
  131: 'bag',
  132: 'electronics',
  133: 'electronics',
  134: 'electronics',
  135: 'electronics',
  136: 'computer accessories',
  137: 'electronics',
  138: 'electronics',
  139: 'electronics',
  140: 'computer accessories',
  141: 'chair',
  142: 'chair',
  143: 'chair',
  144: 'computer accessories',
  145: 'computer accessories',
  146: 'computer accessories',
  147: 'computer accessories',
  148: 'computer accessories',
  149: 'computer accessories',
  150: 'electronics',
  151: 'computer accessories',
  152: 'computer accessories'},
 'tags': {0: 'huaweiscreen size camera ramgb battery mah operating systemandroid socqualcomm sdm snapdragon processoroctahuaweihuawei enjoy max',
  1: 'durantathis bicycle strong steel frame brake system strong allows maintain control situation seat adjustable change needed front rear wheel fitted mudguard rider get mud riding roaddurantaduranta super sport bicycle',
  2: 'cadillacbasic year mile corrosion year mile drivetrain year mile roadside assistance year milescadillaccadillac escalade esv',
  3: 'aston martinyears unlimited mile basic year unlimited mile corrosion year unlimited mile drivetrain year unlimited mile roadside assistance warrantyaston martinaston martin db11 v8',
  4: 'nikeyou buy gym bag traveling bag nike online bangladesh best price website get home office deliverynikegym bag',
  5: 'lady backpackmaterial leather total set size cmcmcmladies backpackladies backpack shoulder bag tr002',
  6: 'lady backpackproduct color may slightly vary due photographic lighting source monitor settingsladies backpackladies backpack shoulder bag sl002',
  7: 'lakméwater proof last hr dermatologically tested safe eye easy twist format used water line eye lid deep black finishlakmelakmé eyeconic kajal deep black',
  8: 'lakmé 9 5provides protection give smooth coverage lightens skin even skin tonelakmelakmé complexion care cream',
  9: 'hijabproduct color may slightly vary due photographic lighting source monitor settingsfashion capitalhijab 3 piece combo pack ps06 .',
  10: 'forever bicyclemechanical dual disc brake steel frame inch frame size forever tire handlebar front back gear alloy rimforeverforever 2020 bicycle',
  11: 'expressthis balance bicycle made strong steel frame bicycle extra two wheel child ride bicycle balance brake system strong child maintain control situation seat adjustable adjusted suit need child bicycle back seat one rideexpressexpress baby pedal balance bicycle',
  12: 'super 16the super robust babybalanced bicycle ideal kid safety feature back seat kid may bike comfortably back support includes two additional little wheel allow toddler balance side bike frame extremely sturdy easily brokensuper 16super 16 heavy baby balanced cycle',
  13: 'starex 32 ” gsdynamic mega contrast ratio inch display hd resolution refresh rate hz warranty yearstarexstarex 32 ” g smart android led tv monitor',
  14: "samsung 32n4010the dimension led tv without stand weight without stand kg samsung basic hd led television offer part warranty year service warrantysamsungsamsung 32n4010 32 '' basic hd led television",
  15: 'haiermiracast screen mirroringhaierhaier h32d2m 32 inch miracast hd non-smart led television',
  16: 'motorola motobattery type capacitylithiumpolymer mah nonremovable fast charging✅ fast chargingmotorola motomotorola moto g30',
  17: 'teslatesla allwheel drive two ultraresponsiveteslamodel',
  18: 'datsuncylinders cylinder inline valve valvescylinder dohc max power bhp bhp rpm max torque nm nm rpm mileage arai kmpldatsundatsun redi-go',
  19: 'redmiosandroid miui chipsetqualcomm sm snapdragon g nm cpuoctacore ghz kryo gold ghz kryo silver gpuadrenoxiaomixiaomi redmi note 9 pro max',
  20: 'toyotaenginecylindercc transmissiongearspeedauto fuel typepetrolelectrictoyotatoyota rav4 hybrid awd',
  21: 'realmedisplay inch primary camera main wide angle batterynonremovable lipo mah battery mahrealmerealme gt neo 2',
  22: 'black pantherthe lexus lc ordinary car extraordinary one way grand tourer engineblack pantherlexus lc 500',
  23: 'vivomicrosdxc dedicated slot internalgb gb ram gb gb ramvivovivo v20',
  24: 'nokiamb ram mb internal storage single simnokianokia 105',
  25: 'hyundaiengine cc transmissiongear speedauto fuel typegasolinepetrolhyundaihyundai',
  26: 'iphoneface id accelerometer gyro proximity compass barometer ultra wideband uwb supportappleapple iphone 12 pro max',
  27: 'bmwthe compact suv two trim sportx xlinebmwbmw x1',
  28: 'oppolipo mah nonremovable chargingfast charging min min advertised voocoppooppo f17 pro',
  29: 'oneplussingle sim nanosim dual sim nanosim dual standbyoneplusoneplus 9 pro',
  30: 'ferraridisplacement cc cc cu inengine power bhp kw rpmtorque nm ft lb rpmno cylindersferrariferrari 488 gt3 evo',
  31: 'samsunggb gb ram bitkhz audiosamsungsamsung galaxy s20',
  32: 'x corolladrive typefront wheel drivegear boxautomaticsteeringsteering typepowerx corollatoyota corolla x',
  33: "mango mgn1 32 '' borderless hd smart android led televisionsmart android led tv one largest tv chinese brandmangomango mgn1 32 '' borderless hd smart android led television",
  34: "lg 32lk510b 32 '' hd led televisiondynamic color virtual surround sound immersive home entertainment sophisticated inside outlglg 32lk510b 32 '' hd led television",
  35: 'xiaomi tvprocessor msd cpu ca ghz ram gb storage gb hd display support dolby audio dtshdxiaomi mixiaomi mi p1 l32m6-6arg/6aeu 32-inch smart android hd tv netflix ( global version )',
  36: "sony bravia tvwifi hdmi rf fm youtube builtin wifi wxga resolutionsony braviasony bravia kdl-32w600d 32 '' smart hd led tv",
  37: 'new mini fanspecifications new gfc mini rechargeable usb charging portable handheld gear speed desktop fangfcnew gfc mini rechargeable usb charging portable handheld 3 gear speed desktop fan',
  38: 'gfc glamour ceiling fansuperior quality aluminum alloy construction energy efficient electrical steel sheet pure copper wiregfc glamourgfc glamour ceiling fan full specification',
  39: 'gfc monet ceiling fanenergy efficient electrical steel sheet pure copper wiregfcgfc monet ceiling fan',
  40: 'asus pcprocessor type intel corei processor speed ghz main board intel h monitor hd monitor ram gb ddr mhz hard disk tb rpm disk type hddasusasus ukh core gen one pc',
  41: 'dell pcdesktop type gaming pc processor type intel core th generation processor speed mb cache ghz main board intel h chipsetdelldell vostro core hdd',
  42: 'hp pcprocessor type intel core th generation processor speed ghz main board intel qhphp proone',
  43: 'apple imac pcprocessorquad core intel core processor clock speedghz monitor inch k retina display ramgb ram typeddr mhz onboardappleapple imac',
  44: 'walton desktop pcwdpc intel b express chipset intel core™ ith gen clock speed ghz mb cache core thread intel hd graphic gb mhz ddr memory expandable gb tb rpm sata hddwaltonwalton desktop pc wdpc full specification',
  45: 'guitar stand wall mount hanger hookspecifications guitar stand wall mount hanger hook guitar holder acoustic guitar electric guitar ukulele violin bass guitar acguitar stand wall mount hanger hookguitar stand wall mount hanger hook',
  46: 'casio keyboard sa 46mini key note polyphony play along track drum pad headphone outputcasiocasio keyboard sa 46',
  47: 'fernedes atlas 5x-2008 bass guitaralder bodymaple neck bolt neck fret fingerboardfernedes atlas 5x-2008 bass guitarfernedes atlas 5x-2008 bass guitar',
  48: 'sennheiser ew135p-g4 wireless microphonea broadcast quality sound solution providing highest flexibility outdoor shoot field recording application robust wireless microphone system offer excellent sound quality simple mounting ease usesennheisersennheiser ew135p-g4 wireless microphone',
  49: 'melody 3.5 octave stick harmoniamoctaves key total superb quality soundmelodymelody 3.5 octave stick harmoniam',
  50: 'melody tablya bayaoriginal neem wood tablamelody tablya bayamelody tablya baya',
  51: 'skmei watchproduct type smart watch brand skmei model number skmei style sportskmeiskmei 1481 digital watch',
  52: 'haylou smart watchproduct tyeps smart watch xiaomi haylou rt l smart watch xiaomi haylou rt l featured retina hd display heart rate monitoring sleep monitoring option workout mode spo tracking considerate care allday heart rate monitoring ip waterproof realtime message reminder smart watch customized watch face practical function smart watch battery life day daily use mode fully charged basic use mode last dayshaylou smart watchhaylou smart watch ls10 rt2',
  53: 'xiaomi mi band 6 cnproduct type smart watch band xiaomi mi band inch amoled color touch screen display scratchresistant glass hour sleep monitoring hour heart rate monitoring remote camera day long battery life magnetic charging atm waterproof watch amazing smart band accurately record sleep duration deep sleep light sleep rem sleep based change heart rate receive scientific advice help develop regular sleeping habitsxiaomi mi bandxiaomi mi band 6 cn',
  54: 'curren 8356 watchbrand curren watch style business watch category men watch mirror sapphire case material alloycurren 8356curren 8356 luxury business quartz',
  55: 'currenstyle luxury clasp type bracelet clasp water resistance depth bar movement quartz case material alloycurrencurren 8348 luxury brand fashion quartz watch',
  56: 'lady bracelet type watchladies bracelet type watch quartz movement style antique unique bracelet design leather strap metal buckle batteryladies bracelet type watchladies bracelet type watch',
  57: 'electronic watchelectronicorigin china model mi touch white light movementelectronic watchelectronic watch girl boy trend touch bracelet',
  58: 'michael korsproduct type watch stainless steel mid size watch water resistantmichael korsmichael kor woman watch',
  59: 'magnet lady watchmagnet lady watch box case material papermagnet lady watchmagnet lady watch',
  60: 'walton lightwalton modular flood light model name wledmodmw rated voltage ac rated power frequency hzwalton lightwled-mod-2m100w',